<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @wish_list.product_id %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @wish_list.buyer_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @wish_list.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wish_list.description %>
</p>

<%= link_to 'Edit', edit_wish_list_path(@wish_list) %> |
<%= link_to 'Back', wish_lists_path %>
