
<div class="row">
<br/><br/>
<div class="col-md-12">
 
    <div class="col-md-8">
          <div class="panel panel-default">
          <div class="panel-body">
                <h3> Conversations </h3><hr/> 
                <div>
                 <% @messages.each do |message| %>
                  
                    <% if current_buyer.id == message.buyer_id %>
                       <span style="color:black;"><b>You:<%= message.body %></b></span>
                       <span style="float:right;"><%= message.created_at.strftime("at %I:%M%p  on %m/%d/%Y") %> </span>
                       <br/>
                    <% else %>
                        <span style="color:red;"><b><%= message.buyer.name %>:<%= message.body %></b> </span>
                        <span style="float:right;"><%= message.created_at.strftime("at %I:%M%p  on %m/%d/%Y") %> </span>
                       <br/>
                    <% end %>


                  
                  <% end %> 
                </div>

                <br/>
                     
            <p id="text_msg"></p>


           <input type="text" id="my_msg_btn" style="width:100%;">
           <input class="btn btn-default" id="my_send_btn" type="button" value="Send"><br/>
               
          </div>
        </div>
    </div>
  </div>

</div>


<% @buyers.each do |buyer| %>

    <script type="text/javascript">
      
     // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) {
            window.console.log(message);
          }
        };

        var pusher = new Pusher('b218d631b3532773d67f', {
          encrypted: true
        });

        var my_channel = "<%= buyer.buyer_name.to_s.split.join + current_buyer.buyer_name.to_s.split.join %>";

      
        var channel = pusher.subscribe(my_channel);
        channel.bind('my_event', function(data) {

            $("#text_msg").append("<b id='receiver'><%= buyer.buyer_name.to_s %>: "+data.message+"</b><br/> ");
                     
        });

    </script>


    <script type="text/javascript">
  
        $(document).ready(function () {


            $('#my_send_btn').click(function () {
                
              var message = document.getElementById("my_msg_btn").value;
              var mychannel = "<%= current_buyer.buyer_name.to_s.split.join + buyer.buyer_name.to_s.split.join %>";
              var sender_id = "<%= current_buyer.id %>";
              var recipient_id = "<%= buyer.id %>";


              $.ajax({
                      type: 'get',
                      url: "send_to_pusher?message="+message+"&recipient_id="+recipient_id+"&sender_id="+sender_id+"&channels="+mychannel,
                      complete: function(r){

                          $("#text_msg").append("<b>You: "+message+"</b><br/> ");
                           $('#my_msg_btn').val('');
                          
                      }
                   });

               		
                
            });

        });

</script>

<% end %> 


   