<div class="panel panel-default">
  <div class="panel-body">
    <h3>Products</h3><hr/>
    <%= link_to 'Product listing', products_path %>
     <%= @products %>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-body">
      <h3>Orders </h3><hr/>
    <%= link_to 'Order listing', orders_path %>
     <%= @orders %>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-body">
    <h3>Coupons </h3><hr/>
    <%= link_to 'Cuopon listing', coupons_path %>
    <%= @coupons %>
  </div>
</div>

