

<div class="panel panel-default">
  <div class="panel-body">
      <div class="col-md-12">
    <h3>Requested Products
    </h3><hr/>

		<table class="table">
		  <thead>
		    <tr>
		      <th>Title</th>
		      <th>Sender Name</th>
		      <th>Sender Phone</th>
		      <th>Sender Email</th>
		      <th colspan="2"></th>
		    </tr>
		  </thead>

		  <tbody>
    		<% @request_products.each do |request_product| %>
		      <tr>
		        <td><%= request_product.title %></td>
		        <td><%= request_product.sender_name %></td>
		        <td><%= request_product.sender_phone %></td>
		        <td><%= request_product.sender_email %></td>
		      
		        <td><%= link_to 'Show', request_product %></td>
		        <td><%= link_to 'Destroy', request_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

    <br>
    </div>

   

    </div>
</div>

