

<div class="panel panel-default">
  <div class="panel-body">
      <div class="col-md-12">
    <h3>Requested Products
    </h3><hr/>

		<table class="table">
		  <thead>
		    <tr>
		      <th>Title</th>
		      <th>Actual price</th>
		      <th>Offer price</th>
		      <th>Quantity</th>
		      <th>Category</th>
		      <th colspan="2"></th>
		    </tr>
		  </thead>

		  <tbody>
    		<% @request_products.each do |request_product| %>
		      <tr>
		        <td><%= request_product.title %></td>
		        <td><%= request_product.actual_price %></td>
		        <td><%= request_product.discount_price %></td>
		        <td><%= request_product.quantity %></td>
		        <td><%= request_product.product_category %></td>
		        <td><%= request_product.pick_up %></td>
		        <td><%= request_product.start_to_sell_on %></td>
		        <td><%= link_to 'Show', request_product %></td>
		        <td><%= link_to 'Destroy', request_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

    <br>
    </div>

   

    </div>
</div>

