
<!--  -->


<div class="panel panel-default">
  <div class="panel-body">
      <div class="col-md-12">
    <h3>Comments listings
    </h3><hr/>

    <table class="table">
          <thead>
            <tr>
                <th>Product name</th>
                <th>Buyer comment</th>
                <th>Buyer</th>
                <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
           <% @comments.each do |comment| %>
              <tr>
                <td><%= comment.product_name %></td>
                <td><%= comment.buyer_comment %></td>
                <td><%= comment.buyer.buyer_name %></td>
                <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
    </table>
        <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>

    <br>
    </div>

   

    </div>
</div>
