<div class="wellwell-sm">

<div class="cotainer"id="first_category">
<div class="col-md-4">
<span class="category_title"><%= t('AuthenticBrandZone') %></span><br/>
<a href=""><%= t('AllProductsonAuthenticBrandZone') %></a><br/>
<a href=""><%= t('WomensFashion') %></a><br/>
<a href=""><%= t('MensFashion') %></a><br/>
<a href=""><%= t('DigitalMobileandElectricalAppliances') %></a><br/>
<a href=""><%= t('HomeandLiving') %></a><br/>
<a href=""><%= t('HealthandBeauty') %></a><br/>
<a href=""><%= t('FoodandBeverage') %></a><br/>
<a href=""><%= t('KidBabyandMaternity') %></a><br/>
<a href=""><%= t('SportsOutdoorsandEntertainment') %></a><br/>
<a href=""><%= t('OfficeandSchoolSupplies') %></a><br/>
<a href=""><%= t('LightsandLightings') %></a><br/>
<a href=""><%= t('Transportation') %></a><br/>
<a href=""><%= t('ElectronicElectricalandMechanicalProducts') %></a><br/>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('WomensFashion') %></span><br/>
<a href=""><%= t('AllProductsonWomensFashion') %></a><br/>
<a href=""><%= t('WomensApparel') %></a><br/>
<a href=""><%= t('ShoesandFootwear') %></a><br/>
<a href=""><%= t('BagsandWallets') %></a><br/>
<a href=""><%= t('WatchesandGlasses') %></a><br/>
<a href=""><%= t('Jewellery') %></a><br/>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('MensFashion') %></span><br/>
<a href=""><%= t('AllProductsonMensFashion') %></a><br/>
<a href=""><%= t('MensApparel') %></a><br/>
<a href=""><%= t('ShoesandFootwear') %></a><br/>
<a href=""><%= t('BagsandWallets') %></a><br/>
<a href=""><%= t('WatchesandGlasses') %></a><br/>
<a href=""><%= t('Jewellery') %></a><br/>
</div>
</div>




<hr/>

<div class="cotainer"id="second_category">

<div class="col-md-4">
<span class="category_title"><%= t('DigitalMobileandElectricalAppliances') %></span><br/>
<a href=""><%= t('AllProductsonDigitalMobileandElectricalAppliances') %></a><br/>
<a href=""><%= t('PhonesandTablets') %></a><br/>
<a href=""><%= t('ComputersandLaptops') %></a><br/>
<a href=""><%= t('TVsVideosandPlayers') %></a><br/>
<a href=""><%= t('AudioandHiFi') %></a><br/>
<a href=""><%= t('CamerasandPhotos') %></a><br/>
<a href=""><%= t('Gaming') %></a><br/>
<a href=""><%= t('HomeElectricalAppliances') %></a><br/>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('HomeandLiving') %></span><br/>
<a href=""><%= t('AllProductsonHomeandLiving') %></a><br/>
<a href=""><%= t('LivingRoomAppliances') %></a><br/>
<a href=""><%= t('edroomProducts') %></a><br/>
<a href=""><%= t('BathroomAppliances') %></a><br/>
<a href=""><%= t('GarmentCare') %></a><br/>
<a href=""><%= t('KitchenandDining') %></a><br/>
<a href=""><%= t('Housekeeping') %></a><br/>
<a href=""><%= t('HomeDecoration') %></a><br/>
<a href=""><%= t('OutdoorandGarden') %></a><br/>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('HealthandBeauty') %></span><br/>
<a href=""><%= t('AllProductsonHealthandBeauty') %></a><br/>
<a href=""><%= t('BathandBodyCare') %></a><br/>
<a href=""><%= t('SkinCare') %></a><br/>
<a href=""><%= t('EyeCare') %></a><br/>
<a href=""><%= t('HairCare') %></a><br/>
<a href=""><%= t('DentalCare') %></a><br/>
<a href=""><%= t('Perfumes') %></a><br/>
<a href=""><%= t('ShavingSupplies') %></a><br/>
<a href=""><%= t('FoodSupplements') %></a><br/>
<a href=""><%= t('HealthandBeautyTools') %></a><br/>
</div>
</div>

<hr/>

<div class="cotainer"id="third_category">
<div class="col-md-4">
<span class="category_title"><%= t('FoodandBeverage') %></span>
<br/><a href=""><%= t('AllProductsonFoodandBeverage') %></a>
<br/><a href=""><%= t('VegetableProducts') %></a>
<br/><a href=""><%= t('Confectionery') %></a>
<br/><a href=""><%= t('BakedGoods') %></a>
<br/><a href=""><%= t('GrainProducts') %></a>
<br/><a href=""><%= t('FoodIngredients') %></a>
<br/><a href=""><%= t('DairyProducts') %></a>
<br/><a href=""><%= t('HoneyProducts') %></a>
<br/><a href=""><%= t('MeatProducts') %></a>
<br/><a href=""><%= t('EggProducts') %></a>
<br/><a href=""><%= t('Coffee') %></a>
<br/><a href=""><%= t('SeafoodProducts') %></a>
<br/><a href=""><%= t('InstantFood') %></a>
<br/><a href=""><%= t('CannedFood') %></a>
<br/><a href=""><%= t('BabyFood') %></a>
<br/><a href=""><%= t('Beverage') %></a>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('KidBabyandMaternity') %></span>
<br/><a href=""><%= t('AllProductsonKidBabyandMaternity') %></a>
<br/><a href=""><%= t('KidsFashion') %></a>
<br/><a href=""><%= t('BabyCare') %></a>
<br/><a href=""><%= t('BabyFeedings') %></a>
<br/><a href=""><%= t('Toys') %></a>
<br/><a href=""><%= t('MaternityCare') %></a>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('SportsOutdoorsandEntertainment') %></span>
<br/><a href=""><%= t('AllProductsonSportsOutdoorsandEntertainment') %></a>
<br/><a href=""><%= t('IndoorSportSupplies') %></a>
<br/><a href=""><%= t('OutdoorSportSupplies') %></a>
<br/><a href=""><%= t('OutdoorRecreation') %></a>
<br/><a href=""><%= t('Entertainment') %></a>
</div>
</div>

<hr/>
<div class="cotainer"id="fourth_category">
<div class="col-md-4">

<span class="category_title"><%= t('OfficeandSchoolSupplies') %></span>
<br/><a href=""><%= t('AllProductsonOfficeandSchoolSupplies') %></a>
<br/><a href=""><%= t('EducationSupplies') %></a>
<br/><a href=""><%= t('OfficeSupplies') %></a>
<br/><a href=""><%= t('ArtSupplies') %></a>

</div>
<div class="col-md-4">

<span class="category_title"><%= t('LightsandLightings') %></span>
<br/><a href=""><%= t('AllProductsonLightsandLightnings') %></a>
<br/><a href=""><%= t('IndoorLightings') %></a>
<br/><a href=""><%= t('OutdoorLightnings') %></a>

</div>
<div class="col-md-4">

<span class="category_title"><%= t('Transportation') %></span>
<br/><a href=""><%= t('AllProductsonTransportation') %></a>
<br/><a href=""><%= t('Bicycles') %></a>
<br/><a href=""><%= t('AutomobilesandMotorcycles') %></a>

</div>
</div>
<hr/>
<div class="cotainer"id="fifth_category">
<div class="col-md-4">

<span class="category_title"><%= t('TravelandDeals') %></span>
<br/><a href=""><%= t('AlloffersonTravelandDeals') %></a>
<br/><a href=""><%= t('Travel') %></a>
<br/><a href=""><%= t('RestaurantsandCafe') %></a>

</div>
<div class="col-md-4">

<span class="category_title"><%= t('Services') %></span>
<br/><a href=""><%= t('AllOffersonServices') %></a>
<br/><a href=""><%= t('HairBeautyandWellness') %></a>
<br/><a href=""><%= t('EducationServices') %></a>
<br/><a href=""><%= t('HomeRepairandMaintenance') %></a>

</div>
<div class="col-md-4">


<span class="category_title"><%= t('ElectronicElectricalandMechanicalProducts') %></span>
<br/>
<a href=""><%= t('AllProductsonElectronicElectricalandMechanicalProducts') %></a>
<br/><a href=""><%= t('ElectronicComponentsandParts') %></a>
<br/><a href=""><%= t('ElectricalEquipmentsandParts') %></a>
<br/><a href=""><%= t('MechanicalProductsandTools') %></a>
<br/><a href=""><%= t('SafetyEquipmentsandAccessories') %></a>
<br/><a href=""><%= t('OEMProducts') %></a>


</div>
</div>


</div>
