<div class="wellwell-sm">

<div class="cotainer"id="first_category">
<div class="col-md-4">
<span class="category_title"><%= t('AuthenticBrandZone') %></span><br/>

<%= link_to t('AllProductsonAuthenticBrandZone'), product_list_path(:category => "AuthenticBrandZone") %><br/>
<%= link_to t('WomensFashion'), product_list_path(:category => "WomensFashion") %><br/>
<%= link_to t('MensFashion'), product_list_path(:category => "MensFashion") %><br/>
<%= link_to t('DigitalMobileandElectricalAppliances'), product_list_path(:category => "DigitalMobileandElectricalAppliances") %><br/>
<%= link_to t('HomeandLiving'), product_list_path(:category => "HomeandLiving") %><br/>
<%= link_to t('HealthandBeauty'), product_list_path(:category => "HealthandBeauty") %><br/>
<%= link_to t('FoodandBeverage'), product_list_path(:category => "FoodandBeverage") %><br/>
<%= link_to t('KidBabyandMaternity'), product_list_path(:category => "KidBabyandMaternity") %><br/>
<%= link_to t('SportsOutdoorsandEntertainment'), product_list_path(:category => "SportsOutdoorsandEntertainment") %><br/>
<%= link_to t('OfficeandSchoolSupplies'), product_list_path(:category => "OfficeandSchoolSupplies") %><br/>
<%= link_to t('LightsandLightings'), product_list_path(:category => "LightsandLightings") %><br/>
<%= link_to t('Transportation'), product_list_path(:category => "Transportation") %><br/>
<%= link_to t('ElectronicElectricalandMechanicalProducts'), product_list_path(:category => "ElectronicElectricalandMechanicalProducts") %><br/>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('WomensFashion') %></span><br/>
<%= link_to t('AllProductsonWomensFashion'), product_list_path(:category => "WomensFashion") %><br/>
<%= link_to t('WomensApparel'), product_list_path(:category => "WomensApparel") %><br/>
<%= link_to t('ShoesandFootwear'), product_list_path(:category => "WomensBagsandWalletsShoesandFootwear") %><br/>
<%= link_to t('BagsandWallets'), product_list_path(:category => "WomensBagsandWallets") %><br/>
<%= link_to t('WatchesandGlasses'), product_list_path(:category => "WomensWatchesandGlasses") %><br/>
<%= link_to t('Jewellery'), product_list_path(:category => "WomensBagsandWalletsJewellerySets") %><br/>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('MensFashion') %></span><br/>
<%= link_to t('AllProductsonMensFashion'), product_list_path(:category => "MensFashion") %><br/>
<%= link_to t('MensApparel'), product_list_path(:category => "MensApparel") %><br/>
<%= link_to t('ShoesandFootwear'), product_list_path(:category => "MensShoesandFootwear") %><br/>
<%= link_to t('BagsandWallets'), product_list_path(:category => "MensBagsandWallets") %><br/>
<%= link_to t('WatchesandGlasses'), product_list_path(:category => "MensWatchesandGlasses") %><br/>
<%= link_to t('Jewellery'), product_list_path(:category => "MensJewellerySets") %><br/>
</div>
</div>




<hr/>

<div class="cotainer"id="second_category">

<div class="col-md-4">
<span class="category_title"><%= t('DigitalMobileandElectricalAppliances') %></span><br/>
<%= link_to t('AllProductsonDigitalMobileandElectricalAppliances'), product_list_path(:category => "DigitalMobileandElectricalAppliances") %><br/>
<%= link_to t('PhonesandTablets'), product_list_path(:category => "PhonesandTablets") %><br/>
<%= link_to t('ComputersandLaptops'), product_list_path(:category => "ComputersandLaptops") %><br/>
<%= link_to t('TVsVideosandPlayers'), product_list_path(:category => "TVsVideosandPlayers") %><br/>
<%= link_to t('AudioandHiFi'), product_list_path(:category => "AudioandHiFi") %><br/>
<%= link_to t('CamerasandPhotos'), product_list_path(:category => "CamerasandPhotos") %><br/>
<%= link_to t('Gaming'), product_list_path(:category => "Gaming") %><br/>
<%= link_to t('HomeElectricalAppliances'), product_list_path(:category => "HomeElectricalAppliances") %><br/>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('HomeandLiving') %></span><br/>
<%= link_to t('AllProductsonHomeandLiving'), product_list_path(:category => "HomeandLiving") %><br/>
<%= link_to t('LivingRoomAppliances'), product_list_path(:category => "LivingRoomAppliances") %><br/>
<%= link_to t('BedroomAppliances'), product_list_path(:category => "BedroomAppliances") %><br/>
<%= link_to t('BathroomAppliances'), product_list_path(:category => "BathroomAppliances") %><br/>
<%= link_to t('GarmentCare'), product_list_path(:category => "GarmentCare") %><br/>
<%= link_to t('KitchenandDining'), product_list_path(:category => "KitchenandDining") %><br/>
<%= link_to t('Housekeeping'), product_list_path(:category => "Housekeeping") %><br/>
<%= link_to t('HomeDecoration'), product_list_path(:category => "HomeDecoration") %><br/>
<%= link_to t('OutdoorandGarden'), product_list_path(:category => "OutdoorandGarden") %><br/>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('HealthandBeauty') %></span><br/>
<%= link_to t('AllProductsonHealthandBeauty'), product_list_path(:category => "HealthandBeauty") %><br/>
<%= link_to t('BathandBodyCare'), product_list_path(:category => "BathandBodyCare") %><br/>
<%= link_to t('SkinCare'), product_list_path(:category => "SkinCare") %><br/>
<%= link_to t('EyeCare'), product_list_path(:category => "EyeCare") %><br/>
<%= link_to t('HairCare'), product_list_path(:category => "HairCare") %><br/>
<%= link_to t('DentalCare'), product_list_path(:category => "DentalCare") %><br/>
<%= link_to t('Perfumes'), product_list_path(:category => "Perfumes") %><br/>
<%= link_to t('ShavingSupplies'), product_list_path(:category => "ShavingSupplies") %><br/>
<%= link_to t('FoodSupplements'), product_list_path(:category => "FoodSupplements") %><br/>
<%= link_to t('HealthandBeautyTools'), product_list_path(:category => "HealthandBeautyTools") %><br/>
</div>
</div>

<hr/>

<div class="cotainer"id="third_category">
<div class="col-md-4">
<span class="category_title"><%= t('FoodandBeverage') %></span>
<br/><%= link_to t('AllProductsonFoodandBeverage'), product_list_path(:category => "FoodandBeverage") %>
<br/><%= link_to t('VegetableProducts'), product_list_path(:category => "VegetableProducts") %>
<br/><%= link_to t('Confectionery'), product_list_path(:category => "Confectionery") %>
<br/><%= link_to t('BakedGoods'), product_list_path(:category => "BakedGoods") %>
<br/><%= link_to t('GrainProducts'), product_list_path(:category => "GrainProducts") %>
<br/><%= link_to t('FoodIngredients'), product_list_path(:category => "FoodIngredients") %>
<br/><%= link_to t('DairyProducts'), product_list_path(:category => "DairyProducts") %>
<br/><%= link_to t('HoneyProducts'), product_list_path(:category => "HoneyProducts") %>
<br/><%= link_to t('MeatProducts'), product_list_path(:category => "MeatProducts") %>
<br/><%= link_to t('EggProducts'), product_list_path(:category => "EggProducts") %>
<br/><%= link_to t('Coffee'), product_list_path(:category => "Coffee") %>
<br/><%= link_to t('SeafoodProducts'), product_list_path(:category => "SeafoodProducts") %>
<br/><%= link_to t('InstantFood'), product_list_path(:category => "InstantFood") %>
<br/><%= link_to t('CannedFood'), product_list_path(:category => "CannedFood") %>
<br/><%= link_to t('BabyFood'), product_list_path(:category => "BabyFood") %>
<br/><%= link_to t('Beverage'), product_list_path(:category => "Beverage") %>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('KidBabyandMaternity') %></span>
<br/><%= link_to t('AllProductsonKidBabyandMaternity'), product_list_path(:category => "KidBabyandMaternity") %>
<br/><%= link_to t('KidsFashion'), product_list_path(:category => "KidsFashion") %>
<br/><%= link_to t('BabyCare'), product_list_path(:category => "BabyCare") %>
<br/><%= link_to t('BabyFeedings'), product_list_path(:category => "BabyFeedings") %>
<br/><%= link_to t('Toys'), product_list_path(:category => "Toys") %>
<br/><%= link_to t('MaternityCare'), product_list_path(:category => "MaternityCare") %>
</div>
<div class="col-md-4">
<span class="category_title"><%= t('SportsOutdoorsandEntertainment') %></span>
<br/><%= link_to t('AllProductsonSportsOutdoorsandEntertainment'), product_list_path(:category => "SportsOutdoorsandEntertainment") %>
<br/><%= link_to t('IndoorSportSupplies'), product_list_path(:category => "IndoorSportSupplies") %>
<br/><%= link_to t('OutdoorSportSupplies'), product_list_path(:category => "OutdoorSportSupplies") %>
<br/><%= link_to t('OutdoorRecreation'), product_list_path(:category => "OutdoorRecreation") %>
<br/><%= link_to t('Entertainment'), product_list_path(:category => "Entertainment") %>
</div>
</div>

<hr/>
<div class="cotainer"id="fourth_category">
<div class="col-md-4">

<span class="category_title"><%= t('OfficeandSchoolSupplies') %></span>
<br/><%= link_to t('AllProductsonOfficeandSchoolSupplies'), product_list_path(:category => "OfficeandSchoolSupplies") %>
<br/><%= link_to t('EducationSupplies'), product_list_path(:category => "EducationSupplies") %>
<br/><%= link_to t('OfficeSupplies'), product_list_path(:category => "OfficeSupplies") %>
<br/><%= link_to t('ArtSupplies'), product_list_path(:category => "ArtSupplies") %>

</div>
<div class="col-md-4">

<span class="category_title"><%= t('LightsandLightings') %></span>
<br/><%= link_to t('AllProductsonLightsandLightnings'), product_list_path(:category => "LightsandLightings") %>
<br/><%= link_to t('IndoorLightings'), product_list_path(:category => "IndoorLightings") %>
<br/><%= link_to t('OutdoorLightnings'), product_list_path(:category => "OutdoorLightnings") %>

</div>
<div class="col-md-4">

<span class="category_title"><%= t('Transportation') %></span>
<br/><%= link_to t('AllProductsonTransportation'), product_list_path(:category => "Transportation") %>
<br/><%= link_to t('Bicycles'), product_list_path(:category => "Bicycles") %>
<br/><%= link_to t('AutomobilesandMotorcycles'), product_list_path(:category => "AutomobilesandMotorcycles") %>

</div>
</div>
<hr/>
<div class="cotainer"id="fifth_category">
<div class="col-md-4">

<span class="category_title"><%= t('TravelandDeals') %></span>
<br/><%= link_to t('AlloffersonTravelandDeals'), product_list_path(:category => "WomensApparel") %>
<br/><%= link_to t('Travel'), product_list_path(:category => "Travel") %>
<br/><%= link_to t('RestaurantsandCafe'), product_list_path(:category => "RestaurantsandCafe") %>

</div>
<div class="col-md-4">

<span class="category_title"><%= t('Services') %></span>
<br/><%= link_to t('AllOffersonServices'), product_list_path(:category => "WomensApparel") %>
<br/><%= link_to t('HairBeautyandWellness'), product_list_path(:category => "HairBeautyandWellness") %>
<br/><%= link_to t('EducationServices'), product_list_path(:category => "EducationServices") %>
<br/><%= link_to t('HomeRepairandMaintenance'), product_list_path(:category => "HomeRepairandMaintenance") %>

</div>
<div class="col-md-4">


<span class="category_title"><%= t('ElectronicElectricalandMechanicalProducts') %></span>
<br/>
<%= link_to t('AllProductsonElectronicElectricalandMechanicalProducts'), product_list_path(:category => "WomensApparel") %>
<br/><%= link_to t('ElectronicComponentsandParts'), product_list_path(:category => "ElectronicComponentsandParts") %>
<br/><%= link_to t('ElectricalEquipmentsandParts'), product_list_path(:category => "ElectricalEquipmentsandParts") %>
<br/><%= link_to t('MechanicalProductsandTools'), product_list_path(:category => "MechanicalProductsandTools") %>
<br/><%= link_to t('SafetyEquipmentsandAccessories'), product_list_path(:category => "SafetyEquipmentsandAccessories") %>
<br/><%= link_to t('OEMProducts'), product_list_path(:category => "OEMProducts") %>


</div>
</div>


</div>
