 			<div class="rows">
 			<h4 id="slider_home_title"><%= t('HealthandBeauty') %></h4><hr/>
 			</div>
  
            <div id="myCarousel4" class="carousel slide">
                

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                          <div class="col-md-12" style="width:98%;margin-left:14px;">

                       
	       					<% @first_health_beauty.each do |product| %>
	                            <div class="col-md-2">
	                                 
                                     <%= link_to product_info_path(product.id) do %>
                                    
                                       <%= image_tag product.avatar1.url(:medium), :class=>"img-responsive", :id => "homepg_product" %>
                                     <p id="product_title"><%= product.short_title %></p>
                                        <p id="product_price"><% round_up(product.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks</p>

                                    <% end %>


	                            </div>
	                        <% end %>

                                               
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                          <div class="col-md-12">


                        	<% @second_health_beauty.each do |product| %>
	                            <div class="col-md-2">
	                                   
                                       <%= link_to product_info_path(product.id) do %>
                                    
                                       <%= image_tag product.avatar1.url(:medium), :class=>"img-responsive", :id => "homepg_product" %>
                                     <p id="product_title"><%= product.short_title %></p>
                                        <p id="product_price"><% round_up(product.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks</p>

                                    <% end %>

                                    
	                            </div>
	                        <% end %>
                       			
                       		
                             
                        	
                         
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                  
                    <!--/item-->
                </div>
                <!--/carousel-inner-->
				 <a class="left carousel-control" id="arrow_crousel" href="#myCarousel4" role="button" data-slide="prev">
				     <%= image_tag("leftarrow.png", :style=>"float:left;") %>
				  </a>

				  <a class="right carousel-control" id="arrow_crousel" href="#myCarousel4" role="button" data-slide="next">
				  	  <%= image_tag("rightarrow.png", :style=>"float:right;") %>
				  </a>

            </div>
            <!--/myCarousel-->
 
