 			<div class="rows">
 			<h4 id="slider_home_title">Men Fashions</h4><hr/>
 			</div>
  
            <div id="myCarousel6" class="carousel slide">
                

                <!-- Carousel items -->
                <div class="carousel-inner"  >
                    <div class="item active" >
                          <div class="col-md-12" style="width:98%;margin-left:14px;" >

                       
	       					<% @first_men_fashion_products.each do |product| %>
	                            <div class="col-md-2" >
	                                <a href="/product_info/<%= product.id %>">
<%= image_tag product.avatar1.url(:medium), :class=>"img-responsive" %>
	                            	 <p id="product_title"><%= product.title %></p>
			  	                     <p id="product_price"><%= product.discount_price %> Ks</p>
	                            	</a>
	                            </div>
	                        <% end %>

                                               
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                         <div class="col-md-12" >


                        	<% @second_men_fashion_products.each do |product| %>
	                            <div class="col-md-2">
	                                <a href="/product_info/<%= product.id %>">
<%= image_tag product.avatar1.url(:medium), :class=>"img-responsive" %>
	                            	 <p id="product_title"><%= product.title %></p>
			  	                     <p id="product_price"><%= product.discount_price %> Ks</p>
	                            	</a>
	                            </div>
	                        <% end %>
                       			
                       		
                             
                        	
                         
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                  
                    <!--/item-->
                </div>
                <!--/carousel-inner-->
				 <a class="left carousel-control" id="arrow_crousel" href="#myCarousel6" role="button" data-slide="prev">
				     <%= image_tag("leftarrow.png", :style=>"float:left;") %>
				  </a>

				  <a class="right carousel-control" id="arrow_crousel" href="#myCarousel6" role="button" data-slide="next">
				  	  <%= image_tag("rightarrow.png", :style=>"float:right;") %>
				  </a>

            </div>
            <!--/myCarousel-->
 
