
<div class="row">

<div style="position:relative;left:10px;">
       <%= image_tag @product.avatar1.url, :id => "receive_myimg",  :class=>"img-responsive"%>
        
 </div>

</div>
<div class="container">


<center><br/>
     <a href="/view_image/<%= @product.id %>" id="view_imgbrowse"> 
             Browse images
    </a><br/>
  	<%= image_tag @product.avatar1.url, :id => "avatar_mymobile_product1" %>


  	<%= image_tag @product.avatar2.url, :id => "avatar_mymobile_product2" %>

  	<%= image_tag @product.avatar3.url, :id => "avatar_mymobile_product3" %>


  	<%= image_tag @product.avatar4.url, :id => "avatar_mymobile_product4" %>


  	<%= image_tag @product.avatar5.url, :id => "avatar_mymobile_product5" %>

</center>	

</div>


<hr/>




<div class="container"> 
<h3 class="mydetail_title" style="font-size:16px;"> <%= @product.title %> </h3>

<br/>
<p> <span class="mydetail_title"><%= t("Product_Color")%>: </span>
    <span class="mydetail_title_color" id="myproductmobile_color">
    </span>
</p>
<p> 
    <span class="mydetail_title"><%= t("Product_Size")%>: </span> 
    <span class="mydetail_title_size" id="myproductmobile_size" > 
    </span>
</p>

<p> <span class="mydetail_title"><%= t("Product_Model")%>: </span>
    <span class="mydetail_title_model" id="myproductmobile_model">    
    </span>
</p>

<hr/>
<p><span class="mydetail_title"><%= t("Actual_Price")%>:</span>
<% round_up(@product.actual_price.to_i * @currency_exchange.to_i)  %>
 <span class="mydetail_title"><strike><%= $product_price %> Ks</strike></span>
</p>

<p><span style="color:#ee1f25;"><%= t("Offer_Price")%>:</span>
  <% round_up(@product.discount_price.to_i * @currency_exchange.to_i)  %>
  <span style="color:#ee1f25;"><%= $product_price %> Ks </span>
</p>
<hr/> 

<p> <span class="mydetail_title"> <%= t("Shipping_From")%>: </span>
 <span class="mydetail_title"><%= @product.ship_from %> </span>
</p>
<p> <span class="mydetail_title"> <%= t("Delivery_Rate")%>: </span>
<span class="mydetail_title"><%= @product.delivery_rate %></span></p>

<p> <span class="mydetail_title"><%= t("Estimated_Delivery")%>:</span>
<span class="mydetail_title"> <%= @product.delivery_time %></span> </p>

<p><span class="mydetail_title"> <%= t("Delivery_Service")%>: </span>
						<select style="color: gray;font-weight: bold;" id="delivery_method_mobile">
			    		  <option >Choose</option>
						    <option>Pick up</option>
						    <option>eBuy Delivery</option>
						</select>

</p>
<hr/>

<p> <span class="mydetail_title"><%= t("Order_Quantity")%>: </span>
      <select id="myProductMobileQty" style="color: gray;font-weight: bold;">  
      </select>
</p>


<div class="row">




  <% if Time.current.utc.localtime.between?(@start_day,@end_day) %>

      
      <div class="col-xs-3 col-md-3">
           <button type="button" class="btn btn-danger" id="btn_buy_now_mobile" style="width: 130%;height:50px;"><%= t("Buy")%></button>
      </div>
      <div class="col-xs-3 col-md-3">
         <button type="button" class="btn btn-primary" id="btn_add_to_cart_mobile" style="width: 130%;height:50px;">
           <%= image_tag "cart_icon.png", :id => "app_icon" %> &nbsp;
         <%= t("Cart")%></button>
      </div>
         
  <% else %>


      <div class="col-xs-3 col-md-3">
          <button type="button" class="btn btn-default" id="btn_checkout" style="width: 130%;height:50px;">Expire!</button>
    </div>
     <div class="col-xs-3 col-md-3">
            <button type="button" class="btn btn-default" id="btn_checkout" style="width: 130%;height:50px;">Expire!</button>
    </div>


  <% end %>



    <div class="col-xs-3 col-md-3">


           <%= button_to add_to_wish_list_path(:product_name => @product.title, :product_id => @product.id), :class =>"btn btn-info", :style=>"width: 130%;height:50px;", :method => :post do %>
              <%= image_tag("love_icon.png", :id => "app_icon") %>
              <span><%= t("Wish")%></span>
            <% end %>

     
    </div>
    <div class="col-xs-3 col-md-3">
      <button href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" class="btn btn-default" style="width: 130%;height:50px;" target="_blank"> 
        <%= image_tag "share.png", :id => "app_icon" %> &nbsp;
       <%= t("Share")%></button>
    </div>







  
</div>


<hr/>



<br/><br/>
    <h4 style="color:#0f70b7;"> <%= t("Product_Detail")%></h4><hr/>
    <center>

     <% if !@product.specsq.nil? or !@product.specsa.nil? %>
               <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Fields</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% @product.specsq.zip ( @product.specsa).each do |question, answer| %>
                      <tr>
                        <td><%= question %></td>
                        <td><%= answer %></td>
                      </tr>
                     <% end %>
                     
                     
                    </tbody>
              </table>

    <% end %>
         <%= render 'product_detail_mobiview' %>
    </center>


     <% if !@product.product_video.nil? %>

                    <center>
                        <br/>
                      <iframe width="400" height="300" src="<%= "http://www.youtube.com/embed/"+@product.product_video.to_s %>">
                      </iframe>
                      </br/>
                    </center>

            <% end %>




 
 
    <br/><br/>
    <h4 style="color:#0f70b7;"> <%= t("Customer_Review")%>
    <span style="float:right;font-size:14px;font-style:italic;" id="more_customer_review_btn"> More customer reviews</span>
    </h4><hr/>

 
    <%= render 'customer_review_mobiview' %>


<br/><br/>
    <h4 style="color:#0f70b7;">  <%= t("Question_&_Answer") %> </h4><hr/>

    <%= render 'productqanda_mobiview' %>
 

<br/><br/>
    <h4 style="color:#0f70b7;">  <%= t("Notice_&_Policy") %> </h4><hr/>
    <center>
    <%= render 'notice_mobiview' %>
    </center>



    

</div>



 <%= render '/frontends/mobile_related_item' %>



</div>

<br/>






<script type="text/javascript">
  


$( document ).ready(function() {





var min = 1,
    max = '<%= @product.quantity %>',
    select = document.getElementById('myProductMobileQty');

for (var i = min; i<=max; i++){
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    select.appendChild(opt);
}



// create products
  var myDiv = document.getElementById("myproductmobile_color");

  //Create array of options to be added

  var str = "Choose,"+"<%= @product.product_color.chomp(',') rescue '-' %>";
  var str_array = str.split(',');



  //Create and append select list
  var selectList = document.createElement("select");
  selectList.setAttribute("id", "myProductMobileColor");
  myDiv.appendChild(selectList);


  //Create and append the options
  for(var i = 0; i < str_array.length; i++) {
      var option = document.createElement("option");
      option.setAttribute("value", str_array[i]);
      option.text = str_array[i];
      selectList.appendChild(option);
  }

// create products_sizes
  var myDiv = document.getElementById("myproductmobile_size");

  //Create array of options to be added

  var str = "Choose,"+"<%= @product.product_size.chomp(',') rescue '-' %>";
  var str_array = str.split(',');



  //Create and append select list
  var selectList = document.createElement("select");
  selectList.setAttribute("id", "myProductMobileSize");
  myDiv.appendChild(selectList);


  //Create and append the options
  for(var i = 0; i < str_array.length; i++) {
      var option = document.createElement("option");
      option.setAttribute("value", str_array[i]);
      option.text = str_array[i];
      selectList.appendChild(option);
  }


  // create products model
  var myDiv = document.getElementById("myproductmobile_model");

  //Create array of options to be added

  var str = "Choose,"+"<%= @product.product_model.chomp(',') rescue '-' %>";
  var str_array = str.split(',');



  //Create and append select list
  var selectList = document.createElement("select");
  selectList.setAttribute("id", "myProductMobileModel");
  myDiv.appendChild(selectList);


  //Create and append the options
  for(var i = 0; i < str_array.length; i++) {
      var option = document.createElement("option");
      option.setAttribute("value", str_array[i]);
      option.text = str_array[i];
      selectList.appendChild(option);
  }



});




</script>






<script type="text/javascript">
  
 $('#btn_add_to_cart_mobile').click(function() {
 

    product_id = "<%= @product.id %>";
    color = $( "#myProductMobileColor option:selected" ).text();
    size = $( "#myProductMobileSize option:selected" ).text();
    delivery_method = $( "#delivery_method_mobile option:selected" ).text();
    product_quantity =  $( "#myProductMobileQty option:selected" ).text();

    product_model =  $( "#myProductMobileModel option:selected" ).text();
  
      $.ajax({
              type: 'post',
              url: '/line_items',
              dataType: 'text',
              data: {'product_id':product_id, 'product_color':color,'product_size':size, 'delivery_method':delivery_method, 'product_quantity':product_quantity, 'product_model':product_model},
              complete: function(r){
              
          location.reload();                


              }
           });





    });


</script>

<script type="text/javascript">






 $('#btn_buy_now_mobile').click(function() {
 



    product_id = "<%= @product.id %>";
    color = $( "#myProductMobileColor option:selected" ).text();
    size = $( "#myProductMobileSize option:selected" ).text();
    delivery_method = $( "#delivery_method_mobile option:selected" ).text();
    product_quantity =  $( "#myProductMobileQty option:selected" ).text();
    product_model =  $( "#myProductMobileModel option:selected" ).text();
  
      $.ajax({
              type: 'get',
              url: '/fill_your_order_form/'+product_id,
              dataType: 'text',
              data: {'product_color':color,'product_size':size, 'delivery_method':delivery_method, 'product_quantity':product_quantity, 'product_model':product_model},
              complete: function(r){
              
           var currentURL = '/fill_your_order_form/'+product_id + '?product_color=' + color + '&product_size=' + size+ '&delivery_method=' + delivery_method+ '&product_quantity=' + product_quantity+ '&product_model=' + product_model;
                     window.location.href = currentURL;

              }
           });






    });


</script>





            <script type="text/javascript">

                $("#more_customer_review_btn").click(function(){

                      $("#customer_review").hide();
                      $("#more_customer_review").show();


                  });


                $("#btn_feedback").click(function(){

                     location.reload();


                  });




                

            </script>