
<%= image_tag("mobile_logo.png", :id => "mobile_logo_img",:class=>"img-responsive") %>


<div class="container-fluid" id="second_navbarmobile" >
        <div class="navbar-header">
          
    
						<a href="/buyers/sign_in" id="mobile_menu_link">
							<%= image_tag "sign.png", :alt=>"sign.png" %>
							<span class="nav_text">Sign in </span>
						</a>


						<a href="/buyers/sign_up" id="mobile_menu_link">
							<%= image_tag "register.png", :alt=>"register" %>
							<span class="nav_text">Register </span>
						</a>

						<% if !buyer_signed_in? %>

								<a href="/buyers/sign_up" id="mobile_menu_link">
									<%= image_tag "profile.png", :alt=>"profile" %>
									<span class="nav_text">My Account</span>
								</a>

						<% else %>


								<a href="/my_account" id="mobile_menu_link">
									<%= image_tag "profile.png", :alt=>"profile" %>
									<span class="nav_text">My Account</span>
								</a>

						<% end %>


						<a href="/contact_us" id="mobile_menu_link">
							<%= image_tag "phone.png", :alt=>"phone" %>
							<span class="nav_text">Contact Us</span>
						</a>
					

        </div>
       
</div>




<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <%= image_tag("1001.jpg") %>
				    </div>
				    <div class="item">
				       <%= image_tag("1002.jpg") %>
				    </div>
				    <div class="item">
				       <%= image_tag("1003.jpg") %>
				    </div>
				  </div>

				  
				

</div>




<div class="row" style="padding:10px;">
  

<h4 id="slider_home_title"> Time sales</h4>

	                            

	
	<div class="col-xs-6 col-md-4" style="position:relative;right:-10px;">

  		
  	<% if !@time_sale_firsts.nil? %>

			   <a href="/product_info/<%= @time_sale_firsts.id %>">
			   	 <%= image_tag @time_sale_firsts.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= @time_sale_firsts.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	<% round_up(@time_sale_firsts.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
			     </span>
			  </div>

	<% end %>



  	</div>


    <div class="col-xs-6 col-md-4" style="position:relative;left:-10px;">

  	
    	<% if !@time_sale_seconds.nil? %>

			   <a href="/product_info/<%= @time_sale_seconds.id %>">
			   	 <%= image_tag @time_sale_seconds.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= @time_sale_seconds.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	  	 <% round_up(@time_sale_seconds.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
			     </span>
			  </div>

		<% end %>

  	</div>



  		<div class="col-xs-6 col-md-4" style="position:relative;right:-10px;">

  		

    	<% if !@time_sale_thirds.nil? %>

			   <a href="/product_info/<%= @time_sale_thirds.id %>">
			   	  	 <%= image_tag @time_sale_thirds.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    		<%= @time_sale_thirds.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <% round_up(@time_sale_thirds.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
			     </span>
			  </div>

		<% end %>
	

  	</div>


    <div class="col-xs-6 col-md-4" style="position:relative;left:-10px;">

  		<% if !@time_sale_fourths.nil? %>

			   <a href="/product_info/<%= @time_sale_fourths.id %>">
			   	 <%= image_tag @time_sale_fourths.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    		<%= @time_sale_fourths.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <% round_up(@time_sale_fourths.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
			     </span>
			  </div>

			<% end %>



  	</div>


  		<div class="col-xs-6 col-md-4" style="position:relative;right:-10px;">

  	
  			<% if !@time_sale_fifths.nil? %>
			   <a href="/product_info/<%= @time_sale_fifths.id %>">
			   		 <%= image_tag @time_sale_fifths.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    		 <%= @time_sale_fifths.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <% round_up(@time_sale_fifths.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
			     </span>
			  </div>

			<% end %>
		

  	</div>


    <div class="col-xs-6 col-md-4" style="position:relative;left:-10px;">

  		<% if !@time_sale_sixths.nil? %>

			   <a href="/product_info/<%= @time_sale_sixths.id %>">
			   	 <%= image_tag @time_sale_sixths.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	   <%= @time_sale_sixths.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <% round_up(@time_sale_sixths.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
			     </span>
			  </div>

			 	<% end %>


  	</div>



<div style="height:850px;">

</div>




<h4 id="slider_home_title">
AuthenticBrandZone</h4>
		<div class="row" style="padding:10px;">
				<% @first_authentic_products.each do |product| %>
					                            


							<div class="col-xs-6 col-md-4"  >
						  		


									  <a href="/product_info/<%= product.id %>">
									  	   <%= image_tag(product.avatar1.url, :id => "small_slide_img",:class=>"img-responsive") %>
									  </a>
									  
									  <div class="panel-heading" id="panel_header">

									    <span id="product_title_mobile">
									    	<%= product.short_title %>
									    </span><br/>

									    <span id="product_title_price"> 
									    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
									     </span>
									  </div>

						
						  	</div>

				<% end %>
		</div>



<h4 id="slider_home_title">Women Fashions</h4>
<div class="row" style="padding:10px;">
<% @first_women_fashion_products.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4" style="position:relative;margin:-10px;left:18px;" >

  	

			   <a href="/product_info/<%= product.id %>">
			    <%= image_tag product.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		
  	</div>
 

<% end %>
 </div>




<h4 id="slider_home_title">Men Fashions</h4>
<div class="row" style="padding:10px;">
<% @first_men_fashion_products.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4" style="position:relative;margin:-10px;left:18px;">

  	

			   <a href="/product_info/<%= product.id %>">
			    			    <%= image_tag product.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>




  	</div>

<% end %>
</div>

<h4 id="slider_home_title"> Digital & Mobile</h4>
<div class="row" style="padding:10px;" >
<% @first_digital_marketings.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4" style="position:relative;margin:-10px;left:18px;">

  		

			   <a href="/product_info/<%= product.id %>">
			   			    <%= image_tag product.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>



  	</div>

<% end %>
</div>

<h4 id="slider_home_title"> Home & Living</h4>
<div class="row" style="padding:10px;" >
	<% @first_home_livings.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4" style="position:relative;margin:-10px;left:18px;">

  		

			   <a href="/product_info/<%= product.id %>">
			   				    <%= image_tag product.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>



  	</div>

<% end %>
</div>

<h4 id="slider_home_title"> Health & Beauty</h4>
<div class="row" style="padding:10px;">
	<% @first_health_beauty.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4" style="position:relative;margin:-10px;left:18px;">

  		
			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag product.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			     <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>



  	</div>

<% end %>
</div>

<h4 id="slider_home_title"> Food & Beverages</h4>
<div class="row" style="padding:10px;">
	<% @first_food_beverage.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4" style="position:relative;margin:-10px;left:18px;">

  	

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag product.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>



  	</div>

<% end %>
</div>

<h4 id="slider_home_title"> Top Selling</h4>
<div class="row" style="padding:10px;">
<% @first_authentic_products.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4" style="position:relative;margin:-10px;left:18px;">

  		

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag product.avatar1.url, :class=>"img-responsive", :id => "small_slide" %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


  	</div>

<% end %>
</div>




</div>


<ul class="list-group">
<li class="list-group-item active" >Customer service</li>
<li class="list-group-item"><a href="/help">Help topics</a></li>
<li class="list-group-item"><a href="/how_to_buy">How to buy</a></li>
<li class="list-group-item"><a href="/payment">Payment</a></li>
<li class="list-group-item"><a href="/shipment_delivery">Shipping & Delivery</a></li>
<li class="list-group-item"><a href="/contact_us">Contact Us</a></li>
<li class="list-group-item"><a href="/customer_feedback">Customer Feedback</a></li>
</ul>

<ul class="list-group">
<li class="list-group-item active">About eBuy Myanmar</li>
<li class="list-group-item"><a href="/about_us">About Us</a></li>
<li class="list-group-item"><a href="/career_opportunity">Career Opportunities</a></li>
<li class="list-group-item"><a href="/termns_and_condition">Terms and Conditions</a></li>
<li class="list-group-item"><a href="/privacy_policy">Privacy Policy</a></li>
</ul>

<ul class="list-group">
<li class="list-group-item active">Tools</li>
<li class="list-group-item"><a href="/help">Join on Facebook</a></li>
<li class="list-group-item"><a href="/help">Download the App</a></li>
</ul>

<ul class="list-group">
<li class="list-group-item active">Sell on eBuy Myammar</li>
<li class="list-group-item"><a href="/request_products/new">Sell your items</a></li>
</ul>

	
<div class="col-xs-12">
			     <a href="/pc_version"> View on Mobile version </a><br/><br/><br/>
</div>


&nbsp;Copy right reserved by eBuy Myanmar Co.Ltd.<br/> 
&nbsp;2345/2016-2017(YK)