
<%= image_tag("mobile_logo.png", :id => "mobile_logo_img",:class=>"img-responsive") %>


<div class="container-fluid" id="second_navbarmobile" >
        <div class="navbar-header">
          
    
						<a href="/buyers/sign_in" id="mobile_menu_link">
							<%= image_tag "sign.png", :alt=>"sign.png" %>
							<span class="nav_text">Sign in </span>
						</a>


						<a href="/buyers/sign_up" id="mobile_menu_link">
							<%= image_tag "register.png", :alt=>"register" %>
							<span class="nav_text">Register </span>
						</a>


						<a href="/buyers/sign_up" id="mobile_menu_link">
							<%= image_tag "profile.png", :alt=>"profile" %>
							<span class="nav_text">My Account</span>
						</a>


						<a href="/contact_us" id="mobile_menu_link">
							<%= image_tag "phone.png", :alt=>"phone" %>
							<span class="nav_text">Contact us</span>
						</a>
					

        </div>
       
</div>




<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <%= image_tag("1001.jpg") %>
				    </div>
				    <div class="item">
				       <%= image_tag("1002.jpg") %>
				    </div>
				    <div class="item">
				       <%= image_tag("1003.jpg") %>
				    </div>
				  </div>

				  
				

</div>




<div class="row" style="padding:10px;">
  


<h4 id="slider_home_title">AuthenticBrandZone</h4>
<% @first_authentic_products.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4">

  		<div class="panel panel-default">

			  <a href="/product_info/<%= product.id %>"><%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
			  </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		</div>

  	</div>

<% end %>




<h4 id="slider_home_title">Women Fashions</h4>
<% @first_women_fashion_products.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4">

  		<div class="panel panel-default">

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		</div>

  	</div>

<% end %>



<h4 id="slider_home_title">Men Fashions</h4>
<% @first_men_fashion_products.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4">

  		<div class="panel panel-default">

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		</div>

  	</div>

<% end %>

<h4 id="slider_home_title"> Digital & Mobile</h4>
<% @first_digital_marketings.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4">

  		<div class="panel panel-default">

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		</div>

  	</div>

<% end %>

<h4 id="slider_home_title"> Home & Living</h4>
	<% @first_home_livings.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4">

  		<div class="panel panel-default">

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		</div>

  	</div>

<% end %>

<h4 id="slider_home_title"> Health & Beauty</h4>
	<% @first_health_beauty.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4">

  		<div class="panel panel-default">

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			     <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		</div>

  	</div>

<% end %>

<h4 id="slider_home_title"> Food & Beverages</h4>
	<% @first_food_beverage.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4">

  		<div class="panel panel-default">

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		</div>

  	</div>

<% end %>

<h4 id="slider_home_title"> Top Selling</h4>
<% @first_authentic_products.each do |product| %>
	                            


	<div class="col-xs-6 col-md-4">

  		<div class="panel panel-default">

			   <a href="/product_info/<%= product.id %>">
			   <%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
			   </a>
			  
			  <div class="panel-heading" id="panel_header">

			    <span id="product_title_mobile">
			    	<%= product.short_title %>
			    </span><br/>

			    <span id="product_title_price"> 
			    	 <%= product.discount_price.to_i * @currency_exchange.to_i %>  Ks
			     </span>
			  </div>


		</div>

  	</div>

<% end %>




</div>


<ul class="list-group">
<li class="list-group-item active" >Customer service</li>
<li class="list-group-item"><a href="/help">Help topics</a></li>
<li class="list-group-item"><a href="/how_to_buy">How to buy</a></li>
<li class="list-group-item"><a href="/payment">Payment</a></li>
<li class="list-group-item"><a href="/shipment_delivery">Shipping & Delivery</a></li>
<li class="list-group-item"><a href="/contact_us">Contact Us</a></li>
<li class="list-group-item"><a href="/customer_feedback">Customer Feedback</a></li>
</ul>

<ul class="list-group">
<li class="list-group-item active">About eBuy Myanmar</li>
<li class="list-group-item"><a href="/about_us">About Us</a></li>
<li class="list-group-item"><a href="/career_opportunity">Career Opportunities</a></li>
<li class="list-group-item"><a href="/termns_and_condition">Terms and Conditions</a></li>
<li class="list-group-item"><a href="/privacy_policy">Privacy Policy</a></li>
</ul>

<ul class="list-group">
<li class="list-group-item active">Tools</li>
<li class="list-group-item"><a href="/help">Join on Facebook</a></li>
<li class="list-group-item"><a href="/help">Download the App</a></li>
</ul>

<ul class="list-group">
<li class="list-group-item active">Sell on eBuy Myammar</li>
<li class="list-group-item"><a href="/request_products/new">Sell your items</a></li>
</ul>




&nbsp;Copy right reserved by eBuy Myanmar Co.Ltd.