
<div class="row">

<div style="position:relative;left:10px;">
       <%= image_tag @product.avatar1.url, :id => "receive_myimg" %>
        
 </div>

</div>
<div class="container">


<center><br/>
     <a href="/view_image/<%= @product.id %>" id="view_imgbrowse"> 
             Browse images
    </a><br/>
  	<%= image_tag @product.avatar1.url, :id => "avatar_mymobile_product1" %>


  	<%= image_tag @product.avatar2.url, :id => "avatar_mymobile_product2" %>

  	<%= image_tag @product.avatar3.url, :id => "avatar_mymobile_product3" %>


  	<%= image_tag @product.avatar4.url, :id => "avatar_mymobile_product4" %>


  	<%= image_tag @product.avatar5.url, :id => "avatar_mymobile_product5" %>

</center>	

</div>


<hr/>




<div class="container"> 
<h3 class="mydetail_title"> <%= @product.short_title %> </h3>

<br/>
<p> 
    <span class="mydetail_title">Size: </span> 
    <span class="mydetail_title" id="myproductmobile_size" > 
    </span>
</p>
<p> <span class="mydetail_title">Color: </span>
    <span class="mydetail_title" id="myproductmobile_color">
    </span>
</p>
<p> <span class="mydetail_title">Model: </span>
    <span class="mydetail_title" id="myproductmobile_model">    
    </span>
</p>

<hr/>
<p><span class="mydetail_title"> Actual Price:</span>
<% round_up(@product.actual_price.to_i * @currency_exchange.to_i)  %>
<%= $product_price %> Ks
</p>

<p><span class="mydetail_title"> Offer Price:</span>
  <% round_up(@product.discount_price.to_i * @currency_exchange.to_i)  %>
  <%= $product_price %> Ks
</p>
<hr/> 

<p> <span class="mydetail_title"> Shipping from </span>
 <%= @product.ship_from %>
</p>
<p> <span class="mydetail_title">Delivery rate: </span>
<%= @product.delivery_rate %></p>

<p> <span class="mydetail_title">Estimate delivery:</span>
 <%= @product.delivery_time %> </p>

<p><span class="mydetail_title"> Delivery service: </span>
						<select>
			    		  <option>Choose</option>
						    <option>Pick up</option>
						    <option>eBuy Delivery</option>
						</select>

</p>
<hr/>

<p> <span class="mydetail_title">Quantity: </span>
      <select id="myProductMobileQty">  
      </select>
</p>
<hr/>

<a href="/product_detail_mobiview/<%= @product.id %>" class="btn btn-primary btn-lg btn-block" role="button">Product Detail</a>

<a href="/customer_review_mobiview/<%= @product.id %>" class="btn btn-primary btn-lg btn-block" role="button">
  Customer Review
</a>


<a href="/productqanda_mobiview/<%= @product.id %>" class="btn btn-primary btn-lg btn-block" role="button">
  Question & Answer
</a>

<a href="/notice_mobiview/<%= @product.id %>" class="btn btn-primary btn-lg btn-block" role="button">
  Notice & Policy
</a>



</div>

<br/>
<div class="row">




  <% if Time.current.utc.localtime.between?(@start_day,@end_day) %>

      
      <div class="col-xs-3 col-md-3">
           <button type="button" class="btn btn-danger" id="btn_buy_now_mobile" style="width: 130%;height:50px;">Buy Now</button>
      </div>
      <div class="col-xs-3 col-md-3">
         <button type="button" class="btn btn-primary" id="btn_add_to_cart_mobile" style="width: 130%;height:50px;">
           <%= image_tag "cart_icon.png", :id => "app_icon" %> &nbsp;
         Add to Cart</button>
      </div>
         
  <% else %>


      <div class="col-xs-3 col-md-3">
          <button type="button" class="btn btn-default" id="btn_checkout" style="width: 130%;height:50px;">Expire now!</button>
    </div>
     <div class="col-xs-3 col-md-3">
            <button type="button" class="btn btn-default" id="btn_checkout" style="width: 130%;height:50px;">Expire now!</button>
    </div>


  <% end %>



    <div class="col-xs-3 col-md-3">


           <%= button_to add_to_wish_list_path(:product_name => @product.title, :product_id => @product.id), :class =>"btn btn-info", :style=>"width: 130%;height:50px;", :method => :post do %>
              <%= image_tag("love_icon.png", :id => "app_icon") %>
              <span>Wishlist</span>
            <% end %>

     
    </div>
    <div class="col-xs-3 col-md-3">
      <button href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" class="btn btn-default" style="width: 130%;height:50px;" target="_blank"> 
        <%= image_tag "share.png", :id => "app_icon" %> &nbsp;
      Share</button>
    </div>







  
</div>




<script type="text/javascript">
  


$( document ).ready(function() {





var min = 1,
    max = '<%= @product.quantity %>',
    select = document.getElementById('myProductMobileQty');

for (var i = min; i<=max; i++){
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    select.appendChild(opt);
}



// create products
  var myDiv = document.getElementById("myproductmobile_color");

  //Create array of options to be added

  var str = "Choose,"+"<%= @product.product_color.chomp(',') rescue '-' %>";
  var str_array = str.split(',');



  //Create and append select list
  var selectList = document.createElement("select");
  selectList.setAttribute("id", "myProductMobileColor");
  myDiv.appendChild(selectList);


  //Create and append the options
  for(var i = 0; i < str_array.length; i++) {
      var option = document.createElement("option");
      option.setAttribute("value", str_array[i]);
      option.text = str_array[i];
      selectList.appendChild(option);
  }

// create products_sizes
  var myDiv = document.getElementById("myproductmobile_size");

  //Create array of options to be added

  var str = "Choose,"+"<%= @product.product_size.chomp(',') rescue '-' %>";
  var str_array = str.split(',');



  //Create and append select list
  var selectList = document.createElement("select");
  selectList.setAttribute("id", "myProductMobileSize");
  myDiv.appendChild(selectList);


  //Create and append the options
  for(var i = 0; i < str_array.length; i++) {
      var option = document.createElement("option");
      option.setAttribute("value", str_array[i]);
      option.text = str_array[i];
      selectList.appendChild(option);
  }


  // create products model
  var myDiv = document.getElementById("myproductmobile_model");

  //Create array of options to be added

  var str = "Choose,"+"<%= @product.product_model.chomp(',') rescue '-' %>";
  var str_array = str.split(',');



  //Create and append select list
  var selectList = document.createElement("select");
  selectList.setAttribute("id", "myProductMobileModel");
  myDiv.appendChild(selectList);


  //Create and append the options
  for(var i = 0; i < str_array.length; i++) {
      var option = document.createElement("option");
      option.setAttribute("value", str_array[i]);
      option.text = str_array[i];
      selectList.appendChild(option);
  }



});




</script>






<script type="text/javascript">
  
 $('#btn_add_to_cart_mobile').click(function() {
 

    product_id = "<%= @product.id %>";
    color = $( "#myProductMobileColor option:selected" ).text();
    size = $( "#myProductMobileSize option:selected" ).text();
    delivery_method = $( "#delivery_method option:selected" ).text();
    product_quantity =  $( "#myProductMobileQty option:selected" ).text();

    product_model =  $( "#myProductMobileModel option:selected" ).text();
  
      $.ajax({
              type: 'post',
              url: '/line_items',
              dataType: 'text',
              data: {'product_id':product_id, 'product_color':color,'product_size':size, 'delivery_method':delivery_method, 'product_quantity':product_quantity, 'product_model':product_model},
              complete: function(r){
              
          location.reload();                


              }
           });





    });


</script>

<script type="text/javascript">






 $('#btn_buy_now_mobile').click(function() {
 



    product_id = "<%= @product.id %>";
    color = $( "#myProductMobileColor option:selected" ).text();
    size = $( "#myProductMobileSize option:selected" ).text();
    delivery_method = $( "#delivery_method option:selected" ).text();
    product_quantity =  $( "#myProductMobileQty option:selected" ).text();
    product_model =  $( "#myProductMobileModel option:selected" ).text();
  
      $.ajax({
              type: 'get',
              url: '/fill_your_order_form/'+product_id,
              dataType: 'text',
              data: {'product_color':color,'product_size':size, 'delivery_method':delivery_method, 'product_quantity':product_quantity, 'product_model':product_model},
              complete: function(r){
              
           var currentURL = '/fill_your_order_form/'+product_id + '?product_color=' + color + '&product_size=' + size+ '&delivery_method=' + delivery_method+ '&product_quantity=' + product_quantity+ '&product_model=' + product_model;
                     window.location.href = currentURL;

              }
           });






    });


</script>

