
<div class="row">

<div style="position:relative;left:10px;">
  	<%= image_tag @product.avatar1.url, :id => "receive_myimg" %>
 </div>

</div>
<div class="container">
<center>
  	<%= image_tag @product.avatar1.url, :id => "avatar_mymobile_product1" %>


  	<%= image_tag @product.avatar2.url, :id => "avatar_mymobile_product2" %>

  	<%= image_tag @product.avatar3.url, :id => "avatar_mymobile_product3" %>


  	<%= image_tag @product.avatar4.url, :id => "avatar_mymobile_product4" %>


  	<%= image_tag @product.avatar5.url, :id => "avatar_mymobile_product5" %>

</center>	

</div>


<hr/>




<div class="container"> 
<h3 class="mydetail_title"> titletitletitletitletitletitle</h3>

<br/>
<p> <span class="mydetail_title">Size: </span> 
	<%= @product.product_size %></p>
<p> <span class="mydetail_title">Color: </span>
<%= @product.product_color %></p>

<hr/>
<p><span class="mydetail_title"> Actual Price:</span>
<%= @product.actual_price %> Ks</p>

<p><span class="mydetail_title"> Offer Price:</span>
<%= @product.discount_price %> Ks</p>
<hr/> 

<p> <span class="mydetail_title"> Shipping from </span>
Overseas
</p>
<p> <span class="mydetail_title">Delivery rate: </span>
<%= @product.delivery_rate %> Ks</p>

<p> <span class="mydetail_title">Estimate delivery:</span>
 <%= @product.delivery_time %> days</p>

<p><span class="mydetail_title"> Delivery service: </span>
						<select>
			    		  <option>Choose</option>
						  <option>Pick up</option>
						  <option>eBuy Delivery</option>
						</select>

</p>
<hr/>

<p> <span class="mydetail_title">Quantity: </span>
<%= @product.quantity %></p>
<hr/>

<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>




</div>

<br/>
<div class="row">
  <div class="col-xs-3 col-md-3">

    <%= button_to 'Buy Now' , fill_your_order_form_path(@product),:class =>"btn btn-danger", :id=>"footer_button", :method => "GET" %>


  </div>
  <div class="col-xs-3 col-md-3">


    <%= button_to 'Add to Cart' , line_items_path(:product_id => @product),:class =>"btn btn-primary", :id=>"footer_button" %>


  </div>
  <div class="col-xs-3 col-md-3">

     <%= button_to 'Add to Wish list' , add_to_wish_list_path(:product_name => @product.title, :product_id => @product.id),:class =>"btn btn-info", :id=>"footer_button" %>


  </div>
  <div class="col-xs-3 col-md-3">

     <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" id="footer_button" class="btn btn-default" target="_blank"> Share this item</a>


  </div>
</div>