
<div class="row">

<div style="position:relative;left:10px;">
       <%= image_tag @product.avatar1.url, :id => "receive_myimg" %>
        
 </div>

</div>
<div class="container">


<center><br/>
     <a href="/view_image/<%= @product.id %>" id="view_imgbrowse"> 
             Browse images
    </a><br/>
  	<%= image_tag @product.avatar1.url, :id => "avatar_mymobile_product1" %>


  	<%= image_tag @product.avatar2.url, :id => "avatar_mymobile_product2" %>

  	<%= image_tag @product.avatar3.url, :id => "avatar_mymobile_product3" %>


  	<%= image_tag @product.avatar4.url, :id => "avatar_mymobile_product4" %>


  	<%= image_tag @product.avatar5.url, :id => "avatar_mymobile_product5" %>

</center>	

</div>


<hr/>




<div class="container"> 
<h3 class="mydetail_title"> <%= @product.short_title %> </h3>

<br/>
<p> 
    <span class="mydetail_title">Size: </span> 
    <span class="mydetail_title" id="myproduct_size" > 
    </span>
</p>
<p> <span class="mydetail_title">Color: </span>
    <span class="mydetail_title" id="myproduct_color">
    </span>
</p>
<p> <span class="mydetail_title">Model: </span>
    <span class="mydetail_title" id="myproduct_model">    
    </span>
</p>

<hr/>
<p><span class="mydetail_title"> Actual Price:</span>
<% round_up(@product.actual_price.to_i * @currency_exchange.to_i)  %>
<%= $product_price %> Ks
</p>

<p><span class="mydetail_title"> Offer Price:</span>
  <% round_up(@product.discount_price.to_i * @currency_exchange.to_i)  %>
  <%= $product_price %> Ks
</p>
<hr/> 

<p> <span class="mydetail_title"> Shipping from </span>
Overseas
</p>
<p> <span class="mydetail_title">Delivery rate: </span>
<%= @product.delivery_rate %></p>

<p> <span class="mydetail_title">Estimate delivery:</span>
 <%= @product.delivery_time %> </p>

<p><span class="mydetail_title"> Delivery service: </span>
						<select>
			    		  <option>Choose</option>
						    <option>Pick up</option>
						    <option>eBuy Delivery</option>
						</select>

</p>
<hr/>

<p> <span class="mydetail_title">Quantity: </span>
      <select id="product_quantity">  
      </select>
</p>
<hr/>

<a href="/product_detail_mobiview/<%= @product.id %>" class="btn btn-primary btn-lg btn-block" role="button">Product Detail</a>

<a href="/customer_review_mobiview/<%= @product.id %>" class="btn btn-primary btn-lg btn-block" role="button">
  Customer Review
</a>


<a href="/productqanda_mobiview/<%= @product.id %>" class="btn btn-primary btn-lg btn-block" role="button">
  Question & Answer
</a>

<a href="/notice_mobiview/<%= @product.id %>" class="btn btn-primary btn-lg btn-block" role="button">
  Notice & Policy
</a>



</div>

<br/>
<div class="row">




  <% if Time.current.utc.localtime.between?(@start_day,@end_day) %>

      
      <div class="col-xs-3 col-md-3">
           <button type="button" class="btn btn-danger" id="btn_buy_now" style="width: 130%;height:50px;">Buy Now</button>
      </div>
      <div class="col-xs-3 col-md-3">
         <button type="button" class="btn btn-primary" id="btn_add_to_cart" style="width: 130%;height:50px;">Add to Cart</button>
      </div>
         
  <% else %>


      <div class="col-xs-3 col-md-3">
          <button type="button" class="btn btn-default" id="btn_checkout">Expire now!</button>
    </div>
     <div class="col-xs-3 col-md-3">
            <button type="button" class="btn btn-default" id="btn_checkout">Expire now!</button>
    </div>


  <% end %>



    <div class="col-xs-3 col-md-3">
     <%= button_to 'Wish list' , add_to_wish_list_path(:product_name => @product.title, :product_id => @product.id), :class =>"btn btn-info", :style=>"width: 130%;height:50px;" %>

     
    </div>
    <div class="col-xs-3 col-md-3">
      <button href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" class="btn btn-default" style="width: 130%;height:50px;" target="_blank"> Share</button>
    </div>







  
</div>