    <div class="rows">

            <h4 id="slider_home_title">Other Products</h4><hr/>
            <br/>
            <div id="other_productdv">
                
            
                    <div class="col-md-2">
                      <%= image_tag @product.other_avatar1.url(:medium), :id => "product_image_info" %>
                     <p style="font-size:18px;">
                        <%= @product.product_code_1 %>
                     </p>
                    </div>
                    <div class="col-md-2">
                         <%= image_tag @product.other_avatar2.url(:medium), :id => "product_image_info" %>
                          <p style="font-size:18px;">
                         <%= @product.product_code_2 %>
                         </p>
                    </div>
                    <div class="col-md-2">
                         <%= image_tag @product.other_avatar3.url(:medium), :id => "product_image_info" %>
                          <p style="font-size:18px;">
                         <%= @product.product_code_3 %>
                         </p>
                    </div>

                    <div class="col-md-2">
                         <%= image_tag @product.other_avatar4.url(:medium), :id => "product_image_info" %>
                          <p style="font-size:18px;">
                         <%= @product.product_code_4 %>
                         </p>
                    </div>

                    <div class="col-md-2">
                         <%= image_tag @product.other_avatar5.url(:medium), :id => "product_image_info" %>
                          <p style="font-size:18px;">
                         <%= @product.product_code_5 %>
                         </p>
                    </div>

                     <div class="col-md-2">

                     </div>
                

            </div>
  

                  
                 
    </div>
    <br/>

