

<div id="carousel-example-generic_small" class="carousel slide" data-ride="carousel">
         


          <div class="carousel-inner" role="listbox" id="time_sale_scroll">

              <div class="item active">
                  <div class="col-md-6">
                        <% if !@time_sale_firsts.avatar1.url.nil?  %>
                        <%= image_tag @time_sale_firsts.avatar1.url(:medium), :id=>"time_sale_img" %>
                      <% else %>
                        <%= image_tag "avatar_product.png", :id =>"time_sale_img" %>
                     <% end %>
                  </div>
                  <div class="col-md-6"><br/><br/><br/>
                       <a href="/product_info/<%= @time_sale_firsts.id %>">           
                          <p id="product_title"><%= @time_sale_firsts.short_title %></p>
                          <p id="product_price"><% round_up(@time_sale_firsts.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks</p>
                       </a>
                  </div>
              </div>


              <div class="item">
                  <div class="col-md-6">
                      <% if !@time_sale_seconds.avatar1.url.nil? %>
                        <%= image_tag @time_sale_seconds.avatar1.url(:medium), :id=>"time_sale_img" %>
                      <% else %>
                          <%= image_tag "avatar_product.png", :id =>"time_sale_img" %>
                     <% end %>
                  </div>
                  <div class="col-md-6"><br/><br/><br/>
                       <a href="/product_info/<%= @time_sale_seconds.id %>">           
                          <p id="product_title"><%= @time_sale_seconds.short_title %></p>
                          <p id="product_price">
                          <% round_up(@time_sale_seconds.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
                          </p>
                       </a>
                  </div>
              </div>



              <div class="item">
                  <div class="col-md-6">
                      <% if !@time_sale_thirds.avatar1.url.nil? %>
                        <%= image_tag @time_sale_thirds.avatar1.url(:medium), :id=>"time_sale_img" %>
                      <% else %>
                          <%= image_tag "avatar_product.png", :id =>"time_sale_img" %>
                     <% end %>
                  </div>
                  <div class="col-md-6"><br/><br/><br/>
                       <a href="/product_info/<%= @time_sale_thirds.id %>">           
                          <p id="product_title"><%= @time_sale_thirds.short_title %></p>
                          <p id="product_price">
                             <% round_up(@time_sale_thirds.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
                          </p>
                       </a>
                  </div>
              </div>
        

          </div>



</div>





<div id="carousel-example-generic_small" class="carousel slide" data-ride="carousel">
         


          <div class="carousel-inner" role="listbox" id="time_sale_scroll">

              <div class="item active">
                  <div class="col-md-6">
                     <% if !@time_sale_fourths.avatar1.url.nil? %>
                        <%= image_tag @time_sale_fourths.avatar1.url(:medium), :id=>"time_sale_img" %>
                      <% else %>
                          <%= image_tag "avatar_product.png", :id =>"time_sale_img" %>
                     <% end %>
                  </div>
                  <div class="col-md-6"><br/><br/><br/>
                       <a href="/product_info/<%= @time_sale_firsts.id %>">           
                          <p id="product_title"><%= @time_sale_fourths.short_title %></p>
                          <p id="product_price">
                             <% round_up(@time_sale_thirds.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
                          </p>
                       </a>
                  </div>
              </div>


              <div class="item">
                  <div class="col-md-6">
                    <% if !@time_sale_fifths.avatar1.url.nil? %>
                        <%= image_tag @time_sale_fifths.avatar1.url(:medium), :id=>"time_sale_img" %>
                      <% else %>
                          <%= image_tag "avatar_product.png", :id =>"time_sale_img" %>
                     <% end %>
                  </div>
                  <div class="col-md-6"><br/><br/><br/>
                       <a href="/product_info/<%= @time_sale_seconds.id %>">           
                          <p id="product_title"><%= @time_sale_fifths.short_title %></p>
                          <p id="product_price">
                             <% round_up(@time_sale_fifths.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
                          </p>
                       </a>
                  </div>
              </div>



              <div class="item">
                  <div class="col-md-6">
                     <% if !@time_sale_sixths.avatar1.url.nil? %>
                        <%= image_tag @time_sale_sixths.avatar1.url(:medium), :id=>"time_sale_img" %>
                      <% else %>
                          <%= image_tag "avatar_product.png", :id =>"time_sale_img" %>
                     <% end %>
                  </div>
                  <div class="col-md-6"><br/><br/><br/>
                       <a href="/product_info/<%= @time_sale_sixths.id %>">           
                          <p id="product_title"><%= @time_sale_sixths.short_title %></p>
                          <p id="product_price">
                               <% round_up(@time_sale_sixths.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
                          </p>
                       </a>
                  </div>
              </div>
        

          </div>



</div>



