<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  				<h3 class="the_header">
          <%= t('about_us') %>
          </h3><hr/>
  				<p>  
            <%= t('about_us_pg1') %>
           </p>

  		
  				<p> 
            <%= t('about_us_pg2') %>
           </p>

          <p> 
            <%= t('about_us_pg3') %>
           </p>


            
            <h3 class="the_header"><%= t('office_address') %></h3><hr/>
            <%= t('office_address_1') %> <br/>
            <%= t('office_address_2') %> <br/>
            <%= t('office_address_3') %><br/>

            <h3 class="the_header">
            <%= t('warehouse1_address') %>
            </h3><hr/>
            <%= t('warehouse1_address_1') %> <br/>
            <%= t('warehouse1_address_2') %>
            <%= t('warehouse1_address_3') %><br/>


            <h3 class="the_header">
            <%= t('warehouse2_address') %>
            </h3><hr/>
            <%= t('warehouse2_address_1') %>
            <br/>
            <%= t('warehouse2_address_2') %>
             <br/>
            <%= t('warehouse2_address_3') %>
        
           <br/>


            <h3 class="the_header"><%= t('contact') %></h3><hr/>
            ​<%= t('contact_1') %><br/>
            ​<%= t('contact_2') %><br/>
            ​<%= t('contact_3') %><br/>
            ​<%= t('contact_4') %><br/>


            <h3 class="the_header"><%= t('websie_facebook') %></h3><hr/>
            ​<%= t('websie_page') %><br/>
            ​<%= t('facebook_page') %><br/>
				</p><br/><br/><br/><br/>

  		</div>
  </div>
</div>



    
  

