<div class="container">
	<h3 style="text-align:center;">Order form </h3><hr/>


<form class="new_order" id="new_order" action="/submit_online_payment" >



	   <div class="col-md-12">
	
	  	  <h4> Product Information</h4><hr>
	  	  <h3><%= @product.title %></h3>
		  <table class="table table-bordered">
		      <thead>
		        <tr>
		          <th>#</th>
		          <th>Name</th>
		          <th>Color</th>
		          <th>Size</th>
		          <th>Quantity</th>
		          <th>Delivery</th>
		         
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <th scope="row">1</th>
		          <td>  <%= @product.short_title %>
		           <input class="form-control" type="text" name="product_name" id="product_name" value="<%= @product.short_title %>" style="display:none;">
		          </td>

		          <td><%= @product_color %>
		          	 <input class="form-control" type="text" name="product_color" id="product_color" value="<%= @product_color %>" style="display:none;">
		          </td>
		          <td><%= @product_size %>
		          	 <input class="form-control" type="text" name="product_size" id="product_size" value="<%= @product_size %>" style="display:none;">
		          </td>
		          <td><%= @product_quantity %>
		          	 <input class="form-control" type="text" name="product_quantity" id="product_quantity" value="<%= @product_quantity %>" style="display:none;">
		          </td>
		          <td><%= @delivery_method %>
		          	 <input class="form-control" type="text" name="product_delivery_method" id="product_delivery_method" value="<%= @delivery_method %>" style="display:none;">
		          </td>
		        </tr>
		 
		      </tbody>
		    </table>


            <h4> Product Images</h4><hr>


             <%= image_tag @product.avatar1.url, :id => "avatar_mobile_product1" %>


  			 <%= image_tag @product.avatar2.url, :id => "avatar_mobile_product2" %>

  			  <%= image_tag @product.avatar3.url, :id => "avatar_mobile_product3" %>


  			  <%= image_tag @product.avatar4.url, :id => "avatar_mobile_product4" %>


  			   <%= image_tag @product.avatar5.url, :id => "avatar_mobile_product5" %>

  			  <br/><br/><br/>



		    <h4> Additional message</h4><hr>
		    <textarea class="form-control" rows="3" name="product_message" id="product_message"></textarea>
		    <br/>


	

	 </div>


	  <div class="col-md-6">
	
	  	  <h4> Personal Information</h4><hr>
		  <div class="field">
		    <p> Your Name</p>
		    <input class="form-control" type="text" name="customer_name" id="customer_name">

		  </div><br>
		  <div class="field">
		    <p>Your Email</p>
		    <input class="form-control" type="text" name="customer_email" id="customer_email">
		  </div><br>
		 
		 



	

	 </div>

	 <div class="col-md-6">
	
	  	  <h4> Delivery Address</h4><hr>
		  <div class="field">
		     <p>Phone</p>
		     <input class="form-control" type="text" name="customer_phone" id="customer_phone">
		  </div><br>
		 
		  <div class="field">
		    <p> House Number, Street</p>
		     <input class="form-control" type="text" name="customer_house" id="customer_house">
		  </div><br>

		   <div class="field">
		    <p>Township</p>
		    <input class="form-control" type="text" name="customer_township" id="customer_township">
		  </div><br>


		   <div class="field">
		    <p>City</p>
		    <input class="form-control" type="text" name="customer_city" id="customer_city">
		  </div><br>

		 
	 </div>

      <h3 style="text-align:center;"> Total Product Price: 
         <input class="form-control" type="text" name="total_price" id="total_price" value="<%= @product.discount_price.to_i * @currency_exchange.to_i %>" style="display:none;">
       <%= (@product.discount_price.to_i * @currency_exchange.to_i) %> Ks
      </h3>
	  <div class="col-md-12">

	     <br/> <br/> <br/>

	  	 <div class="actions">
			    <input type="submit" name="commit" value="Submit Order" class="btn btn-primary btn-lg btn-block">
		</div>

	  </div>

	
	
		


</form>



</div>

	  <br/>	  <br/>	  <br/>