<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  			<h3 class="the_header">
  				<%= t('welcome') %>
  			</h3><hr>  		
  		</div>
  		 <div class="col-md-4">
  			
  				<ul class="list-group">
					 <li class="list-group-item" id="register_btn"> <%= t('register') %> </li>
					 <li class="list-group-item" id="sign_in_btn"> <%= t('sign_in') %> </li>
					 <li class="list-group-item" id="my_account_btn"> <%= t('my_account') %> </li>
					 <li class="list-group-item" id="my_coupon_btn"> <%= t('my_coupon') %></li>
					 <li class="list-group-item" id="my_cart_btn"> 
					 		 <%= t('cart') %>
					 </li>
					 <li class="list-group-item" id="how_to_buy_btn"> 
					 	 <%= t('how_to_buy') %>
					 </li>
					 <li class="list-group-item" id="payment_btn"> 
					 <%= t('payment') %>
					  </li>
					 <li class="list-group-item" id="shipping_btn"> 
					 	 <%= t('shipping_delivery') %>
					  </li>
					 <li class="list-group-item" id="cancel_refund_btn"> 		 	 <%= t('cancel') %>
					  </li>
					 <li class="list-group-item" id="exchange_btn">  
					 <%= t('exchange') %>
					  </li>
					 <li class="list-group-item" id="sell_item_btn"> 
					 	<%= t('sell_your_item') %>
					 </li>
					 <li class="list-group-item" id="faq_btn">
					 	<%= t('faq') %>
					  </li>
					 <li class="list-group-item" id="bank_transfer_btn">    	<%= t('bank_account_for') %>
					  </li>
				</ul>
		</div>
		<div class="col-md-8">


				<%= t('help_topics') %><hr>

				<div id="register">
					<b> <%= t('register') %></b>  <br><br>
					<p>
					<%= t('register_pg1') %>
					</p>
					<br/>
				</div>

				<div id="sign_in">

					<b><%= t('sign_in') %></b> <br><br>
					<p>
					<%= t('sign_in_pg1') %>
					</p>
					<p>
					 <%= t('sign_in_pg2') %>
					</p> 
					<p><b><%= t('member_sign_in') %></b></p>
					<p><b><%= t('facebook_sign_in') %></b></p>
					<p><b><%= t('guest_sign_in') %></b></p>
					
					<br/>
					<p><b><%= t('member_sign_in') %></b></p>
					<p>
						 <%= t('sign_in_pg3') %>
					</p>
					
					<p><b><%= t('facebook_sign_in') %></b></p>
					<p>
						 <%= t('sign_in_pg4') %>
					</p>
					
					<p><b><%= t('guest_sign_in') %></b></p>
					<p>
						 <%= t('sign_in_pg5') %>
					</p>

				</div>

				<div id="my_account">
					<p><b><%= t('my_account') %> </b></p>
					<p><b><%= t('my_info') %></b> </p>
					<p>
						<%= t('my_info_pg') %>
					</p>
					<p><b><%= t('edit_info') %></b></p>
					<p><%= t('edit_info_pg') %>
					</p>
					<p><b><%= t('my_shopping_list') %></b></p>
					<p><%= t('my_shopping_list_pg') %></p>
					<p><b><%= t('my_wish_list') %></b></p>
					<p><%= t('my_wish_list_pg') %></p>
					<p><b><%= t('viewed_list') %></b></p>
					<p><%= t('viewed_list_pg') %> </p>
					<p><b><%= t('cancel_refund') %></b></p>
					<p><%= t('cancel_refund_pg') %></p>
					<p><b><%= t('my_ordered_list') %></b></p>
					<p><%= t('my_ordered_list_pg') %> </p>

				</div>

				<div id="my_coupon">
					<p><b> <%= t('my_coupon') %> </b></p>
					<p>
					 <%= t('my_coupon_pg') %>
					 </p>
				</div>
				<div id="my_cart">
					<p><b><%= t('cart') %> </b></p>
					<p> 
					<%= t('cart_pg') %>
					</p>
				</div>

				<div id="how_to_buy">

					<p><b> <%= t('how_to_buy') %></b></p>
					<p><%= t('how_to_buy_pg') %>
					</p>
				</div>

				<div id="payment">

							<p><b><%= t('payment') %></b></p>
						    <p>
						    <%= t('four_option_pg') %> </p>
							<p><b><%= t('cash_deposit') %></b></p>
							<p><b><%= t('bank_transfer') %></b></p>
							<p><b><%= t('mpu') %></b></p>
							<p><b><%= t('visa_master') %></b></p>

						<p><b><%= t('cash_deposit') %> </b></p>
						<p><%= t('cash_deposit_pg1') %>
						 </p>
						<p><%= t('cash_deposit_pg2') %>
						 </p>

						<p><b><%= t('bank_transfer') %></b></p>
						<p> <%= t('bank_transfer_pg1') %></p>
					    <p> <%= t('bank_transfer_pg2') %> 
					    </p>
						<p><%= t('bank_transfer_pg3') %> </p>
						<p><b><%= t('mpu') %></b></p>
						<p><%= t('mpu_pg1') %>
						 </p>
						<p> <%= t('mpu_pg2') %>
						</p>
						<p><b><%= t('visa_master') %> </b></p>
						<p> <%= t('visa_master_pg1') %>
						</p>
						<p><%= t('visa_master_pg2') %> </p>

				</div>


				<div id="shipping">
					<p><b><%= t('shipping_delivery') %> </b></p>
					<p> <%= t('shipping_delivery_pg1') %></p>
					<p> <%= t('shipping_delivery_pg2') %> </p>
				</div>

				<div id="cancel_refund">
					<p><b><%= t('cancel') %></b></p>
					<p> 
						<%= t('cancel_pg1') %>
					</p>
					<p> 
							<%= t('cancel_pg2') %>
					</p>
					<p>
					
						<%= t('cancel_pg3') %>
					</p>
					<p>
							<%= t('cancel_pg4') %>
					</p>
				</div>

				<div id="exchange">
					<p><b><%= t('exchange') %> </b></p>

					<p><%= t('exchange_pg1') %>
					 </p>
					<p>
					<%= t('exchange_pg2') %>
					</p>
				</div>

				<div id="sell_item">
					<p><b><%= t('sell_your_item') %></b></p>
					<p><%= t('sell_your_item_pg1') %>
					</p>
					<p><%= t('sell_your_item_pg2') %>
					</p>
				</div>

				<div id="faq">
					<p><b><%= t('faq') %></b></p>
					<%= request.original_url %>
					
								
				<% if request.original_url != "http://localhost:3000/mm/help" or request.original_url == "http://localhost:3000/help" or request.original_url == "http://www.ebuymyanmar.com/help" or request.original_url == "http://www.ebuymyanmar.com/en/help"  %>		
					
					<p id="faq_title">Register and Sign In</p>
					Q. How do I register in eBuy Myanmar?<br/>
					A. If you would like to register in eBuy Myanmar,  <br/>
					Click "Register " at home page. <br/>
					Click "Create New Account " . 
					Fill up your personal informations, email address, password and record them carefully. <br/>
					Choose " I agreed, conditions and policy" . <br/>
					Click "Create Account ".

					<br/><br/>
					Q. I lost my password. What shall I do?<br/>
					A. If you forgot your password,<br/>
					Click "Sign In".<br/>
					Click "Forgot Password ".<br/>
					Fill up your email address.<br/>
					Click "Reset Password ".<br/>
					Open your mail and click the link stated in email for verification.<br/>
					Fill up " New Password " and "Confirm Password ". Record the password carefully.

					<br/><br/>





					<p id="faq_title">My Account </p>
					Q. How do I change my password?<br/>
					A. If you wish to change your password,<br/>
					Click "My Account " at home page.<br/>
					Click "Edit Info"<br/>
					Fill up your new password in place of your current password and click "Save".<br/>
					Q. How do I change my personal information in my account?<br/>
					A. If you wish to change your personal information in your account,<br/>
					Click "My Account " at home page.<br/>
					Click "Edit Info"<br/>
					Fill up your new personal information in place of your current personal information and click "Save".
					<br/><br/>

					Q. What is the difference between Member and Guest?<br/>
					A. Member can just fill up email address and password to Sign In after one time registration. Guest is required to fill up all required personal informations every time on Signing In. <br/>
					Member is eligible to get Discount Coupons offered by eBuy Myanmar however Guest is not eligible for this offer. <br/>



					<br/>

					<p id="faq_title">Coupons and Products </p>
					Q. How do I use my coupon? <br/>
					A. If you wish to use coupon, <br/>
					Choose the items you are going to buy and place them in Cart. <br/>
					Click "Cart". <br/>
					All selected items with total price will be appeared and click "Use My Coupon" nearby total price. <br/>
					Choose the coupon matched with the total price. <br/>
					Discount price will be appeared and click "Check Out" for payment. <br/>
					<br/>
					Q. Do I need eBuy Myanmar account to use coupon? <br/>
					A. Yes, you need to have eBuy Myanmar account to use coupon. 
					<br/><br/>

					Q. How long is my coupon valid? <br/>
					A. Expiry date of coupon is mentioned at each coupon and you can use it before expiry date. 
					<br/><br/>

					Q. Where can I get more product information?<br/>
					A. You can find out more product information at "Product Details " on the page of that product.
					<br/><br/>

					Q. Why does the prices of products on website fluctuate through time?<br/>
					A. Since the products are on the market place, sellers change the prices from time to time, do that the prices may fluctuate through time.
					<br/><br/>

					Q. Why do I see different prices for the same product?<br/>
					A. Different sellers are distributing and selling same product so that the prices may be different for same product.
					<br/><br/>







				    <p id="faq_title">Order and Payment </p>
					Q. How do I place my order?<br/>
					A. If you wish to place an order, you may refer to "How to Buy/Order" at "Help Topic 6" and follow the instructions.

					<br/><br/>







					Q. How can I order without an account?<br/>
					A. If you wish to purchase a product without an account,<br/>
					Click "Sign In".<br/>
					Click "Guest Sign In".<br/>
					Fill up required personal informations.<br/>
					You may refer to  "Guest Sign In" at "Help Topic 2.3" and follow the instructions.

					<br/><br/>

					Q. How do I search for a product I want to purchase?<br/>
					A. If you wish to search for a product to purchase,
					You may use Category Navigation Tool and search it under each category.
					You may use Search Engine Tool on top of the page and type your Keywords.

					<br/><br/>
					 
					Q.Will I receive any order confirmation after placing order?<br/>
					A. After you have placed an order, you will receive an order confirmation email with invoice to you mail box.
					
					<br/><br/>
					Q. What are the payment methods available?<br/>
					A. You may refer to "Help Topic 7" for payment methods and follow the instructions.

					<br/><br/>







					<p id="faq_title">Shipping and Delivery </p>
					
					Q. How do I track my order status?<br/>
					A. If you wish to know where your purchased item is, click "My Account " and go into "My Ordered List". Then click "Shipping Info" and you will see your product shipping status. The company will reply you for your enquiry via "Chat Box".
					
					<br/><br/>
					Q. When will I receive my order?<br/>
					A. The estimated delivery period for the item is mentioned at "Estimated Delivery " in the product page of each product. The company will notify you by email as well. The company will try its best to serve you for faster delivery.
					
					<br/><br/>
					Q. I ordered multiple items but I only received one. Where are my other items?<br/>
					A. If you purchase multiple items, different sellers will ship and deliver the items in separate parcels so that there will be different delivery times for each purchased product.
					
					<br/><br/>
					Q. I need my order now. Can eBuy Myanmar speed up the delivery?<br/>
					A. eBuy Myanmar is able to ship and deliver the purchased items within the period stated at "Estimated Delivery " in the product page and not able to speed up the delivery. However eBuy Myanmar will try its best to serve you for faster delivery.

					<br/><br/>







					<p id="faq_title">Cancel and Refund </p>
					Q. How do I cancel my order?<br/>
					A. If you wish to cancel your order, please refer to "Cancel and Refund" at "Help Topic 9" and follow the instructions.

					<br/><br/>
					Q. What is eBuy Myanmar's cancellation policy?<br/>
					A. Please refer to "Cancel and Refund" at "Terms and Conditions 2" for eBuy Myanmar's cancellation policy.
					<br/><br/>







					<p id="faq_title">Exchange and Return </p>
					Q. How do I return my product?<br/>
					A. If you wish to return your delivered product, please refer to "Exchange and Return " at "Help Topic 10" and follow the instructions.
					<br/><br/>

					Q. Can I return my product and ask for refund?<br/>
					A. The company will not make refund for delivered products. You may return the product to the company within 7 days due to manufacturer's fault and the company will make a new order for replacement of your product.
					<br/><br/>

					Q. Can I return my item after one month upon receipt?<br/>
					A. Company will not accept the delivered product one month after delivery. You may return the product to the company within 7 days due to manufacturer's fault and the company will make a new order for replacement of your product.
					<br/><br/>

					Q. What is eBuy Myanmar's exchange and return policy?<br/>
					A. Please refer to "Exchange and Return" at "Terms and Conditions 4" for eBuy Myanmar's exchange and return policy.
					<br/><br/>


				<% end %>

				<% if request.original_url == "http://localhost:3000/mm/help" or request.original_url == "http://ebuymyanmar.com/mm/help" %>		
					

					<!-- myanmar -->
					
							<p id="faq_title">
							 မွတ္ပံုတင္ျခင္း ႏွင့္ စတို ထဲသို႔ ဝင္ေရာက္ျခင္း (Register and Sign In)
							 </p>
							ေမး. eBuy Myanmar မွာ ဘယ္လိုမွတ္ပံုတင္ရမလဲ? <br/>
							ေျဖ. eBuy Myanmar တြင္  မွတ္ပံုတင္ျခင္းျပဳလိုလွ်င္ <br/>
							 မႈလစာမ်က္ႏွာ ေပၚရွိ “မွတ္ပံုတင္ပါ” (Register) ကိုိႏွိပ္ပါ။ 
							 “အေကာင့္ အသစ္ဖြင့္ပါ” (Create New Account) ကိုႏွိပ္ပါ။
							 မိမိ၏ ကိုယ္ေရးအခ်က္အလက္မ်ား၊ အီးေမးလ္လိပ္စာ ႏွင့္ လွ်ိဳဝွက္စာတို႔ကို ျဖည့္စြက္ၿပီး ေသခ်ာစြာ မွတ္သားထားပါ။
							  “စည္းကမ္းခ်က္မ်ား ၊ အေျခအေနမ်ား ႏွင့္ သီးျခားမႈ ဝါဒကိုသေဘာ တူပါသည္” (I agree terms and conditions and privacy policy) ကိုေရြးခ်ယ္ပါ။ <br/>
							 “အေကာင့္ဖြင့္ပါ” (Create Account) ကိုႏွိပ္ပါ။ <br/><br/>

							​ေမး. လွ်ိဳ႕ဝွက္စာေမ့သြားရင္ဘယ္လိုလုပ္ရမလဲ?<br/>
							​ေျဖ. လွ်ိဳ႕ဝွက္စာေမ့သြားလွ်င္<br/>
							“စတို ထဲသို႔ဝင္ေရာက္ပါ” (Sign in) ကိုႏွိပ္ပါ။ <br/>
							​​“လွ်ိဳ႕ဝွက္စာေမ့သြားသည္” (Forgot Password) ကိုႏိွပ္ပါ။ <br/>
							​​မိမိ၏ အီးေမးလ္ လိပ္စာကို ျဖည့္စြက္ပါ။ <br/>
							​​“လွ်ိဳ႕ဝွက္စာကိုျပန္ထိုင္ပါ” (Reset Password) ကိုႏွိပ္ပါ။ <br/>
							မိမိ၏ အီးေမးလ္ ကို ဖြင့္ၾကည့္ၿပီး အီးေမးလ္ထဲရွိ ကြင္းဆက္ (Link) ကို ႏွိပ္ပါ။ <br/>
							“လွ်ိဳ႕ဝွက္စာအသစ္” (New Password) ႏွင့္ ”လွ်ိဳ႕ ဝွက္စာကို အတည္ျပဳပါ” (Confirm Password) တို႔ကို ျဖည့္စြက္ၿပီးေသခ်ာစြာ မွတ္သားထားပါ။ <br/>
							“လွ်ိဳ႕ဝွက္စာကို မွတ္ထားပါ” (Save Password)ကိုႏွိပ္ပါ။ <br/><br/>

							<p id="faq_title"> ကၽြႏု္ပ္ ၏ စာရင္းအခ်က္အလက္ (My Account) </p>
							​ေမး. လွ်ိဳ႕ဝွက္စာကို ဘယ္လိုေျပာင္းရမလဲ? <br/>
							​ေျဖ. လွ်ိဳ႕ဝွက္စာေျပာင္းလိုလွ်င္ <br/>
							“ကၽြႏု္ပ္၏ စာရင္းအခ်က္အလက္” (My Account) ထဲရွိ “ကိုယ္ေရးအခ်က္ အလက္ကိုျပင္ဆင္ပါ” (Edit Info) ကိုႏွိပ္ပါ။ <br/>
							လက္ရွိ လွ်ိဳ႕ဝွက္စာေနရာတြင္ လွ်ိဳ႕ဝွက္စာ အသစ္ကို ျဖည့္စြက္ၿပီး “မွတ္သားပါ” (Save) ကိုႏွိပ္ပါ။ <br/><br/>

							ေမး. ကၽြႏု္ပ္၏ စာရင္းအခ်က္အလက္ထဲရွိ ကိုယ္ေရးအခ်က္အလက္ ေတြကို ဘယ္လို ေျပာင္းရမလဲ?<br/>
							ေျဖ. ကိုယ္ေရးအခ်က္ မ်ားေျပာင္းလိုလွ်င္<br/>
							​ “ကၽြႏု္ပ္၏ စာရင္းအခ်က္အလက္” (My Account) ထဲရွိ  “ကိုယ္ေရးအခ်က္အလက္ကိုျပင္ပါ” (Edit Info) ကိုႏိုပ္ပါ။ <br/>
							​လက္ရွိ ကိုယ္ေရး အခ်က္အလက္ မ်ားေနရာတြင္ ကိုယ္ေရးအခ်က္အ လက္သစ္မ်ားကိုျဖည့္စြက္ၿပီး “မွတ္သားပါ” (Save) ကိုႏွိပ္ပါ။ <br/><br/>

							ေမး။ အဖြဲ႕ဝင္နဲ႔ ဧည့္သည္ ဘယ္လို ကြာျခားမႈရွိလဲ?<br/>
							ေျဖ။  အဖြဲ႕ဝင္ (Member) သည္ ကုမၼဏီ မွေပးေသာ  ေစ်း ေလွ်ာ့ကူပြန္ (Discount Coupon) မ်ားကို ရရွိခံစားႏိုင္ၿပီး ဧည့္သည္ (Guest) အေနျဖင့္ ဝင္ေရာက္ဝယ္ယူသူသည္ ၄င္း ကူပြန္မ်ားကို ရရွိခံစားႏိုင္မည္ မဟုတ္ပါ။ အ ဖြဲ႕ဝင္သည္ တစ္ႀကိမ္မွတ္ပံုတင္ထားၿပီးပါက ေနာက္တစ္ႀကိမ္ဝင္ေရာက္ ဝယ္ယူလွ်င္ အီးေမးလ္ လိပ္စာ ႏွင့္ လွ်ိဳ႕ဝွက္စာတို႕ ကိုသာ ျဖည့္စြက္ရန္ လိုအပ္ၿပီး ဧည့္သည္ အေနျဖင့္ ဝင္ေရာက္ဝယ္ယူသူသည္ ေနာက္တစ္ႀကိမ္ထပ္မံ ဝင္ေရာက္ ဝယ္ယူလွ်င္ လိုအပ္ေသာ ကိုယ္ေရးအခ်က္အလက္အားလံုးကို ထပ္မံ ၍ ျဖည့္စြက္ရပါမည္။
							<br/><br/>


							<p id="faq_title"> ကူပြန္ႏွင့္ ကုန္ပစၥည္းမ်ား (Coupon and Products) </p>
							​ေမး။ ကူပြန္ ကိုဘယ္လိုသံုးရမလဲ <br/>
							​ေျဖ။ ကူပြန္ ကိုအသံုးျပဳလိုလွ်င္ <br/>
							ဝယ္ယူမည့္ ကုန္ပစၥည္းမ်ားကို  “ေစ်းျခင္းေတာင္း” (Cart) ထဲသို႔ေပါင္းထည့္ၿပီး “ေစ်းျခင္းေတာင္း” (Cart) ကိုႏွိပ္ပါ။ <br/>
							“စုစုေပါင္းေစ်းႏႈန္း” (Total Price) ၏ အနီးရွိ “ကူပြန္ကို သံုးပါ” (Use My Coupon) ကိုႏွိပ္ပါ။
							စုစုေပါင္း ေစ်းႏႈန္း ႏွင့္ ကိုက္ညီေသာ ကူပြန္ကို ေရြးခ်ယ္ပါ။ <br/>
							တြက္ခ်က္ၿပီး ေလွ်ာ့ေစ်းႏႈန္း အသစ္ကိုေတြ႕ရမည္ ျဖစ္ၿပီး  “ေငြရွင္းရန္” (Proceed to Check Out) ကို ႏွိပ္ပါ။
							<br/><br/>

							​ေမး။ ကူပြန္ကို သံုးဖို႔ eBuy Myanmar အေကာင့္လိုပါသလား? <br/>
							​ေျဖ။ ကူပြန္ ကိုသံုးရန္ eBuy Myanmar အေကာင့္ရွိရပါမည္။ <br/><br/>

							​ေမး။ ကူပြန္ကို ဘယ္အခ်ိန္ထိ သံုးလို႔ရမလဲ <br/>
							ေျဖ။ ကူပြန္တစ္ခုခ်င္းစီတြင္ ကုန္ဆံုးရက္ (Expiry Date) ပါဝင္ၿပီး ၄င္းရက္အထိ အသံုးျပဳႏိုင္ပါသည္။
							<br/><br/>

							ေမး။ ကုန္ပစၥည္းရဲ႕ ေနာက္ထပ္အခ်က္အလက္ ေတြကို ဘယ္မွာၾကည့္လို႔ရမလဲ <br/>
							ေျဖ။ ကုန္ပစၥည္းတစ္ခုခ်င္းစီ၏ အေသးစိတ္အခ်က္အလက္မ်ားကို ၄င္း ကုန္ပစၥည္းမ်ား၏ စာမ်က္ႏွာ ရွိ “ကုန္ပစၥည္း အေသးစိတ္အ ခ်က္အလက္မ်ား” (Product Details) တြင္ ဝင္ေရာက္ၾကည့္ရႈႏိုင္ပါသည္။
							<br/><br/>

							ေမး။ ဘာေၾကာင့္ကုန္ပစၥည္းေတြ ရဲ႕ေစ်းႏႈန္းက အခ်ိန္နဲ႔ အမွ် အတက္ အက် ေျပာင္းလဲေနတာလဲ <br/>
							ေျဖ။ ကုန္ပစၥည္းမ်ားသည္ အေရာင္းအဝယ္ေစ်းကြက္ေပၚတြင္ ရွိေနေသာေၾကာင့္ ေရာင္းခ်သူမ်ားသည္ ကုန္ပစၥည္း ေစ်းႏႈန္း မ်ားကို ကၾကာခဏ အေျပာင္းလဲျပဳလုပ္ ပါသည္။ ထို႔ေၾကာင့္ တစ္ခ်ိန္ႏွင့္ တစ္ခ်ိန္ ေစ်းႏႈန္း မၾကာခဏအေျပာင္း အလဲရွိသည္။
							<br/><br/>


							ေမး။ ဘာေၾကာင့္ ကုန္ပစၥည္းခ်င္း အတူတူ ကို ေစ်းႏႈန္းကြာျခားရတာလဲ?<br/>
							ေျဖ။ အခ်ိဳ႕ေသာ ကုန္ပစၥည္းမ်ားသည္ အမ်ိဳးအစားတူေသာ္လည္း ေရာင္းခ် ျဖန္႔ျဖဴးသူမ်ား မတူညီၾကေသာေၾကာင့္ ေစ်းႏႈန္းကြာျခားရျခင္းျဖစ္သည္။
							<br/><br/>

							<p id="faq_title"> မွာယူျခင္း ႏွင့္ ေငြေပးေခ်ျခင္း (Order and Payment) </p>
							​ ​ေမး။ ကုန္ပစၥည္းကို ဘယ္လိုမွာယူရမလဲ <br/>
							ေျဖ။ ကုန္ပစၥည္း တစ္ခုကို မွာယူလိုလွ်င္ “အကူအညီ ၆” (Help Topic 6) ရွိ  “မည္သို႔ဝယ္ယူမည္နည္း/ မွာယူမည္နည္း” (How to Buy/ Order) တြင္ ၾကည့္ရႈ ၍ ၫႊန္ၾကားခ်က္အတိုင္း မွာယူႏိုင္ပါသည္။
							<br/><br/>


							ေမး။ ကိုယ္ပိုင္ အေကာင့္တစ္ခုမရွိပဲ ဘယ္လိုမွာယူရမလဲ <br/>
							ေျဖ။ ကုိယ္ပိုင္အေကာင့္ တစ္ခုမရွိပဲ ကုန္ပစၥည္းမွာယူလိုလွ်င္ “စတို ထဲသို႔ဝင္ေရာက္ပါ” (Sign In) ကိုႏိုပ္ပါ။ “ဧည့္သည္အေန ႏွင့္ဝင္ေရာက္ပါ” (Guest Sign In) ကိုႏိုပ္ၿပီး လုိအပ္ေသာ ကိုယ္ေရးအခ်က္အလက္ မ်ားကို ျဖည့္စြက္ျခင္းျဖင့္ မွာယူႏိုင္ပါသည္။ “အကူအညီ ၂.၃” (Help Topic 2.3)ရွိ  “ဧည့္ သည္ အေနျဖင့္ ဝင္ေရာက္ျခင္း” (Guest Sign In) တြင္ ရွာေဖြၾကည့္ရႈႏိုင္ပါသည္။
							<br/><br/>

							ေမး။ ဝယ္ယူလိုတဲ့ ကုန္ပစၥည္းတစ္ခုကို ဘယ္လိုရွာေဖြရမလဲ <br/>
							ေျဖ။ ကုန္ပစၥည္းတစ္ခုကို ရွာေဖြလိုလွ်င္
							 “အမ်ိဳးအစားျပလမ္းညြန္” (Category Navigation Tool)  ျဖင့္ ကုန္ပစၥည္း တစ္ခုကို ရွာေဖြႏိုင္ပါသည္။
							 “ရွာေဖြမႈ ကိရိယာ” (Search Engine Tool) တြင္ အဓိက စကားလံုးမ်ား (Keywords) ကို ရိုက္ထည့္ျခင္းျဖင့္ ရွာေဖြႏိုင္ပါသည္။ 
							ေမး။ မွာယူမႈျပဳလုပ္ၿပီးလွ်င္ မွာယူမႈေသခ်ာေၾကာင္းသိရမလား
							​ေျဖ။ မွာယူမႈျပဳလုပ္ၿပီးသည္ ႏွင့္ မွာယူမႈေသခ်ာေၾကာင္းကို သင္၏ အီးေမးလ္ (Email) သို႔ ေဘာက္ခ်ာ (Invoice) ႏွင့္တစ္ကြ ပို႔ေပးမည္ျဖစ္သည္။
							<br/><br/>

							​ေမး။ ဘယ္လိုနည္းနဲ႔ ေငြေပးေခ်မႈကို လုပ္ေဆာင္ရမလဲ <br/>
							ေျဖ။ ေငြေပးေခ်မႈ အပိုင္းကို ”အကူအညီ ၇” (Help Topic 7)တြင္ ၾကည့္ရႈ ၍ ၄င္း ၫႊန္ၾကားခ်က္အတိုင္း ေငြေပးေခ်မႈ ကိုလုပ္ေဆာင္ႏိုင္ပါသည္။
							<br/><br/>

							<p id="faq_title"> သယ္ယူပို႔ေဆာင္ေပးျခင္း (Shipping and Delivery) </p><br/>
							​ ​ေမး။  မွာယူထားေသာ ကုန္ပစၥည္းမ်ား ဘယ္ေရာက္ေနၿပီလဲ<br/>
							ေျဖ။ မွာယူထားေသာ ကုန္ပစၥည္းမ်ား ေရာက္ရွိရာေနရာကို ရွာေဖြလိုလွ်င္ “ကၽြႏု္ပ္၏ စာရင္းအခ်က္အလက္” (My Account) ထဲသို႔ ဝင္ေရာက္ ၍ “ကၽြႏု္ပ္၏ မွာယူခဲ့ၿပီးေသာစာရင္း” (My Ordered List) ကိုႏွိပ္ပါ။ ၿပီးလွ်င္ ၄င္း ကုန္ပစၥည္း၏ ေဘးရွိ “သယ္ယူမႈ သတင္းအခ်က္အလက္” (Shipping Info) ကို ႏွိပ္ ၍ ဝင္ေရာက္ၾကည့္ရႈႏိုင္ပါသည္။  “စကားေျပာေသတၱာ” (Chat Box) တြင္ စာရိုက္ၿပီး ေမးျမန္းျခင္းအားျဖင့္လည္း ကုမၸဏီ မွ အေၾကာင္းျပန္ေပးပါသည္။
							<br/><br/>

							ေမး။ မွာယူထားတဲ့ကုန္ပစၥည္း ဘယ္ေတာ့ေရာက္မွာလဲ <br/>
							ေျဖ။ မွာယူထားေသာ ကုန္ပစၥည္း၏ သယ္ယူပို႔ေဆာင္ရန္ ၾကာျမင့္ခ်ိန္ကို ၄င္း ကုန္ပစၥည္းရွိရာ စာမ်က္ႏွာရွိ “ခန္႔မွန္းပို႔ ေဆာင္ရန္ ၾကာျမင့္ခ်ိန္” (Estimated Delivery) တြင္ေဖာ္ျပထားပါသည္။ ကုမၸဏီသည္ မွာယူထားေသာ ကုန္ပစၥည္း အျမန္ဆံုးေရာက္ရွိရန္ ႀကိဳးစားမည္ျဖစ္သည္။
							ေမး။ မွာထားတဲ့ကုန္ပစၥည္းေတြအမ်ားႀကီး၊ ဘာေၾကာင့္ တစ္ခုဘဲေရာက္တာလဲ၊ တစ္ျခားကုန္ပစၥည္းေတြဘယ္မွာလဲ
							<br/><br/>

							ေျဖ။ တစ္ခုထက္ပိုေသာ ကုန္ပစၥည္းမ်ားကို မွာယူလွ်င္ ဝယ္ယူသူသည္ ေရာင္းခ်ျဖန္႕ျဖဴးတစ္ဦးခ်င္းစီထံမွ သီးျခားအထုပ္မ်ား (Separate Parcels) ကို လက္ခံ ရရွိ မည္ျဖစ္ ၍ ေရာက္ရွိလာေသာ အထုပ္မ်ား၏ ၾကာျမင့္ခ်ိန္မွာ တစ္ခုႏွင့္တစ္ခု တူညီမည္ မဟုတ္ပါ။
							<br/><br/>

							ေမး။ မွာထားတဲ့ ကုန္ပစၥည္းကို အခု လိုခ်င္ပါတယ္။ အျမန္ပို႔လို႔ရမလား <br/>
							ေျဖ။ eBuy Myanmar သည္ ကုန္ပစၥည္းကို ပို႔ေဆာင္ေပးရာတြင္ ေဖာ္ျပထား ေသာ ရက္မ်ားထက္ ပို ၍ ျမန္ဆန္ေအာင္ျပဳလုပ္ ၍ မရႏိုင္ပါ။ ကုမၸဏီသည္ သယ္ ယူပို႔ေဆာင္မႈ ျမန္ဆန္ေအာင္ အေကာင္းဆံုး ႀကိဳးစားေပးမည္ျဖစ္သည္။ <br/><br/>

							<p id="faq_title"> ပယ္ဖ်က္ျခင္း ႏွင့္ ေငြျပန္အမ္းျခင္း (Cancel and Refund) </p>
							ေမး။ မွာထားတဲ့ကုန္ပစၥည္းကို ဘယ္လိုပယ္ဖ်က္ရမလဲ <br/>
							ေျဖ။ မွာထားေသာ ကုန္ပစၥည္မ်ားကို ပယ္ဖ်က္လိုလွ်င္ “အကူအညီ ၉” (Help Topic 9) ရွိ “ပယ္ဖ်က္ျခင္း ႏွင့္ ေငြျပန္အမ္းျခင္း” (Cancel and Refund) တြင္ ၾကည့္ရႈ ၍ ၄င္း ၫႊန္ၾကားခ်က္အတိုင္း လုပ္ေဆာင္ႏိုင္ပါသည္။
							<br/><br/>

							ေမး။ eBuy Myanmar ကဝယ္ထားတဲ့ ကုန္ပစၥည္းကို ျပန္လည္ပယ္ဖ်က္တဲ့မႈဝါ ဒ ကဘာလဲ <br/>
							ေျဖ။ မွာယူထားေသာ ကုန္ပစၥည္းကို ျပန္လည္ ပယ္ဖ်က္သည့္ မႈဝါဒကို “စည္းကမ္းခ်က္မ်ား ႏွင့္ အေျခအေနမ်ား ၃” (Teams and Conditions 3) ရွိ “ပယ္ဖ်က္ျခင္း ႏွင့္ ေငြျပန္အမ္းျခင္း” (Cancel and Refund) တြင္ ၾကည့္ရႈႏိုင္ပါသည္။ <br/><br/>

							<p id="faq_title"> လဲလွယ္ျခင္း၊ ျပန္အပ္ျခင္း (Exchange and Return) </p>
							<br/>
							ေမး။ လက္ထဲ ေရာက္လာတဲ့ ကုန္ပစၥည္းကို ဘယ္လိုျပန္လဲေပးလို႔ရမလဲ<br/>
							ေျဖ။ ကုမၸဏီ က ပို႔ေဆာင္ေပးၿပီးေသာ ကုန္ပစၥည္းကို ျပန္လည္ ၍ လဲလွယ္ လိုလွ်င္ “အကူအညီ ၁၀” (Help Topic 10) ရွိ “လဲလွယ္ ျခင္း ႏွင့္ ျပန္အပ္ျခင္း” (Exchange and Return) တြင္ ၾကည့္ရႈ၍ ၄င္း ၫႊန္ၾကားခ်က္အတိုင္း လုပ္ေဆာင္ႏိုင္ပါ သည္။
							<br/><br/>

							ေမး။ လက္ဝယ္ေရာက္ရွိၿပီးတဲ့ ကုန္ပစၥည္းကို ျပန္အပ္ၿပီး ေငြျပန္အမ္းေပးလို႔ရ မလား <br/>
							ေျဖ။ ကုမၸဏီ က ပို႔ေဆာင္ေပးၿပီးေသာ ကုန္ပစၥည္းကို ျပန္အမ္းျခင္းမျပဳပါ။ အကယ္၍ ၄င္း ကုန္ပစၥည္းသည္ “ထုတ္လုပ္သူ၏ အမွား” (Manufarturer’s Fault) ေၾကာင့္ျဖစ္ေသာခ်ိဳ႕ယြင္းခ်က္မ်ားရွိလွ်င္ ၇ ရက္အတြင္းျပန္အပ္ႏိုင္၍ ကုမၸဏီမွ ၄င္း ကုန္ပစၥည္းအတိုင္း အသစ္ျပန္လည္ မွာယူေပးမည္ျဖစ္သည္။
							<br/><br/>


							ေမး။ လက္ခံရရွိၿပီး ၁ လ ၾကာတဲ့ကုန္ပစၥည္းကို ျပန္လဲေပးလို႔ရမလား <br/>
							ေျဖ။ လက္ခံရရွိၿပီးေသာ ၁ လၾကာေသာ ကုန္ပစၥည္းမ်ားကို ကုမၸဏီ မွ ျပန္လည္ ၍ လဲလွယ္ေပးျခင္းမျပဳပါ။ အကယ္၍ ၄င္း ကုန္ပစၥည္းသည္ “ထုတ္လုပ္သူ၏ အမွား” (Manufarturer’s Fault) ေၾကာင့္ျဖစ္ေသာခ်ိဳ႕ယြင္းခ်က္မ်ားရွိလွ်င္ ၇ ရက္အတြင္းျပန္အပ္ႏိုင္၍ ကုမၸဏီမွ ၄င္း ကုန္ပစၥည္းအတိုင္း အသစ္ျပန္လည္ မွာယူေပးမည္ျဖစ္သည္။
							<br/><br/>

							ေမး။ eBuy Myanmar ရဲ႕ကုန္ပစၥည္းလဲလွယ္၊ ျပန္အပ္တဲ့မႈဝါဒက ဘာလဲ <br/>
							ေျဖ။ ဝယ္ယူသူ၏ လက္ဝယ္ေရာက္ရွိၿပီးေသာ ကုန္ပစၥည္းကို လဲလွယ္ျခင္း၊ ျပန္အပ္ျခင္း မႈဝါဒကို “စည္းကမ္းခ်က္မ်ား ႏွင့္ အေျခအေနမ်ား ၄” (Terms and Conditions 4) ရွိ “လဲလွယ္ျခင္း ႏွင့္ ျပန္အပ္ျခင္း” (Exchange and Return) တြင္ ၾကည့္ရႈႏိုင္ပါသည္။

							<br><br>
					<% end  %>

				</div>


				<div id="bank_transfer">

				
					<h3><%= t('bank_account_for') %> </h3><br/>

					<p><b>1.AYA BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>0004202012564091</p>

					<p><b>2.KBZ BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>045-301-04502556101</p>

					<p><b>3.CB BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>0087600100017485</p>


				</div>







				





		</div>
  </div>
</div>	


	  	


<style type="text/css">
	
#register,
#sign_in,
#my_account,
#shipping,
#exchange,
#cancel_refund,
#payment,
#my_cart,
#my_coupon,
#sell_item,
#how_to_buy,
#bank_transfer,
#faq
{
	display: none;
}
</style>


<script type="text/javascript">
	

$('#register_btn').click(function() {

	$("#register").show();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();


});

$('#sign_in_btn').click(function() {

	$("#register").hide();
	$("#sign_in").show();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});

$('#my_account_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").show();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();


});

$('#shipping_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").show();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});

$('#exchange_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").show();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});

$('#cancel_refund_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").show();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});
$('#payment_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").show();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});
$('#my_coupon_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").show();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});
$('#sell_item_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").show();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});

$('#how_to_buy_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").show();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});


$('#bank_transfer_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").show();
	$("#faq").hide();
		$("#my_cart").hide();

});



$('#faq_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").show();
		$("#my_cart").hide();

});


$('#my_cart_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
	$("#my_cart").show();

});

</script>