<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  			<h3 class="the_header">
  				<%= t('welcome') %>
  			</h3><hr>  		
  		</div>
  		 <div class="col-md-4">
  			
  				<ul class="list-group">
					 <li class="list-group-item" id="register_btn"> <%= t('register') %> </li>
					 <li class="list-group-item" id="sign_in_btn"> <%= t('sign_in') %> </li>
					 <li class="list-group-item" id="my_account_btn"> <%= t('my_account') %> </li>
					 <li class="list-group-item" id="my_coupon_btn">  
					 <%= t('my_coupon') %></li>
					 <li class="list-group-item" id="my_cart_btn"> 
					 		 <%= t('cart') %>
					 </li>
					 <li class="list-group-item" id="how_to_buy_btn"> 
					 	 <%= t('how_to_buy') %>
					 </li>
					 <li class="list-group-item" id="payment_btn"> 
					 <%= t('payment') %>
					  </li>
					 <li class="list-group-item" id="shipping_btn"> 
					 	 <%= t('shipping_delivery') %>
					  </li>
					 <li class="list-group-item" id="cancel_refund_btn"> 		 	 <%= t('cancel') %>
					  </li>
					 <li class="list-group-item" id="exchange_btn">  
					 <%= t('exchange') %>
					  </li>
					 <li class="list-group-item" id="sell_item_btn"> 
					 	<%= t('sell_your_item') %>
					 </li>
					 <li class="list-group-item" id="faq_btn">
					 	<%= t('faq') %>
					  </li>
					 <li class="list-group-item" id="bank_transfer_btn">    	<%= t('bank_account_for') %>
					  </li>
				</ul>
		</div>
		<div class="col-md-8">


				<%= t('help_topics') %><hr>

				<div id="register">
					<b> <%= t('register') %></b>  <br><br>
					<p>
					<%= t('register_pg1') %>
					</p>
					<br/>
				</div>

				<div id="sign_in">

					<b><%= t('sign_in') %></b> <br><br>
					<p>
					<%= t('sign_in_pg1') %>
					</p>
					<p>
					 <%= t('sign_in_pg2') %>
					</p> 
					<p><b>Member Sign In</b></p>
					<p><b>Facebook Sign In </b></p>
					<p><b>Guest Sign In </b></p>
		
					<p><b><%= t('member_sign_in') %></b></p>
					<p>
						 <%= t('sign_in_pg3') %>
					</p>
					
					<p><b><%= t('facebook_sign_in') %></b></p>
					<p>
						 <%= t('sign_in_pg4') %>
					</p>
					
					<p><b><%= t('guest_sign_in') %></b></p>
					<p>
						 <%= t('sign_in_pg5') %>
					</p>

				</div>

				<div id="my_account">
					<p><b><%= t('my_account') %> </b></p>
					<p><b>My Info</b> </p>
					<p>"My Info" is a place where a member is able to view the personal informations such as name, email address, age, sex, contact number and home address.</p>
					<p><b>Edit Info</b></p>
					<p>"Edit Info" is a place where a member is able to change and save the personal informations such as name, email address, age, sex, contact number and home address.</p>
					<p><b>My Shopping List</b></p>
					<p>"My Shopping List" is a place of product list where a member has completed purchase on the products.</p>
					<p><b> Wish List</b></p>
					<p>"Wish List" is a place of product list where a member has chosen to purchase the selected products.</p>
					<p><b>Viewed List</b></p>
					<p>"Viewed List" is a place of product list where a member searched and viewed the products preferred. </p>
					<p><b>Cancel/Refund List </b></p>
					<p>"Cancel/Refund List" is a place of product list where a member has cancelled for purchased items and the company has made refund to the member. </p>
					<p><b>My Ordered List </b></p>
					<p>"My ordered list is a place of product list where a member has made purchase and the company has made delivery to the member.  </p>

				</div>

				<div id="my_coupon">
					<p><b> <%= t('my_coupon') %> </b></p>
					<p>"My Coupon" is a place of Discount Coupon list where the company has given offer to a member to purchase products with discount prices. A member is able to use the Coupons at the Checkout page before making payment. </p>
				</div>
				<div id="my_cart">
					<p><b><%= t('cart') %> </b></p>
					<p>"Cart" is a place of product lists where a member has temporarily chosen the items before making purchase.</p>
				</div>

				<div id="how_to_buy">

					<p><b> <%= t('how_to_buy') %></b></p>
					<p>If you wish to purchase a selected product, please click "Buy Now" below the product and proceed for Checkout and Payment. If you wish to keep going on shopping and place the selected product in the cart temporarily, please click "Add to Cart" and proceed to search for other items. Once all selected products has been added to the cart, please click "Cart" and you will see all selected items listed with total price calculated. If you are confirmed to purchase the items, please click "Proceed to Checkout " and you will reach to "Payment" page. Please refer to "Payment" at "Help Topic 7" for making payment.</p>
				</div>

				<div id="payment">

							<p><b><%= t('payment') %></b></p>
						    <p>There are four options for making payment. They are </p>
							<p><b>Cash Deposit</b></p>
							<p><b>Bank Transfer</b></p>
							<p><b>MPU</b></p>
							<p><b>Visa/Master</b></p>

						<p><b>Cash Deposit </b></p>
						<p>If you choose "Cash Deposit " for payment, you will have to fill up your required personal informations and the click "Proceed to Pay". Order confirmation email with invoice will be sent to your mail box. You are required to make cash payment at the company office by showing the invoice. The company will proceed for purchase order once full payment has been received. </p>
						<p>The company address and contacts are stated in "Contact " at home page. </p>

						<p><b>Bank Transfer</b></p>
						<p> If you choose "Bank Transfer" for payment, you will have to fill up your required personal informations and the click "Proceed to Pay". Order confirmation email with invoice will be sent to your mail box. You are required to make account transfer to any eBuy Myanmar account number stated in your invoice. The company will proceed for purchase order once full payment has been received.</p>
					    <p>You may proceed to the nearest bank outlet for account transfer or you may also use internet banking for it. You are required to inform the company for complete transaction by making a call, giving a message or sending an email. 
					    </p>
						<p>All company contacts are stated in "Contact " at home page. </p>
						<p><b>MPU </b></p>
						<p>If you choose "MPU" for payment, you will have to fill up your required personal informations and the click "Proceed to Pay". You are required to fill up datas mentioned on your card and click "Proceed to Pay ". Order confirmation email with invoice will be sent to your mail box. </p>
						<p> The currency for the use of MPU card is Myanmar Kyats, "MMK".</p>
						<p><b>Visa/Master </b></p>
						<p> If you choose "Visa/Master" for payment, you will have to fill up your required personal informations and the click "Proceed to Pay". You are required to fill up datas mentioned on your card and click "Proceed to Pay ". Order confirmation email with invoice will be sent to your mail box. </p>
						<p> The currency for the use of Visa/Master card is US Dollars, "USD". </p>

				</div>


				<div id="shipping">
					<p><b><%= t('shipping_delivery') %> </b></p>
					<p> After you have made successful payment or transaction, the company will proceed to make purchase order from manufacturers/supplies and will serve for shipping and home delivery of the products to the you as per schedule. </p>
					<p> The estimated delivery period for the item is mentioned at "Estimated Delivery " in the product page of each product. The company will notify you by email as well. The company will try its best to serve you for faster delivery. </p>
				</div>

				<div id="cancel_refund">
					<p><b><%= t('cancel') %></b></p>
					<p> You may cancel your purchased order with the following two options.
					If the purchased product is to be shipped from local seller, you may cancel your purchased item within 8 hours after you have submitted for purchase. For cancellation, please click "My Account" at home page, and go to "My Shopping List". Then click "Cancel Order" beside the product that you wish to cancel.  </p>
					<p> eBuy Myanmar will not accept cancellation request after 8 hours of submitting purchase order.</p>
					<p>
					If the purchased product is to be shipped from overseas seller, you will not be able to cancel it from eBuy Myanmar page. You are required to contact the company as soon as possible and request for cancellation. </p>
					<p>If you have made successful cancellation request for your purchase item and you also have made payment for the item previously, the company will contact you as soon as possible for the refund.</p>
				</div>

				<div id="exchange">
					<p><b><%= t('exchange') %> </b></p>
					<p>You may return your purchased and delivered product to the company within 7 days due to manufacturer's fault and the company will make a new order for exchange/replacement of your product. </p>
					<p>However, the company will not accept for return and exchange of the purchased and delivered products due to user's fault and the the item returned after 7 days upon delivery.</p>
				</div>

				<div id="sell_item">
					<p><b><%= t('sell_your_item') %></b></p>
					<p>The company welcomes all manufacturers and suppliers for selling products on eBuy Myanmar page. If you wish to sell your items on the webpage, please click "Sell Your Items" at the home page. Then a mail box addressing eBuy Myanmar page will be appeared and you may send the mail which includes informations of product details with pictures to eBuy Myanmar.</p>
					<p>The company will make contact and get agreement with the manufacturer and supplier on terms and conditions of selling the product.</p>
				</div>

				<div id="faq">
					<p><b><%= t('faq') %></b></p>
										
					<p id="faq_title">Register and Sign In</p>
					Q. How do I register in eBuy Myanmar?<br/>
					A. If you would like to register in eBuy Myanmar,  <br/>
					Click "Register " at home page. <br/>
					Click "Create New Account " . 
					Fill up your personal informations, email address, password and record them carefully. <br/>
					Choose " I agreed, conditions and policy" . <br/>
					Click "Create Account ".

					<br/><br/>
					Q. I lost my password. What shall I do?<br/>
					A. If you forgot your password,<br/>
					Click "Sign In".<br/>
					Click "Forgot Password ".<br/>
					Fill up your email address.<br/>
					Click "Reset Password ".<br/>
					Open your mail and click the link stated in email for verification.<br/>
					Fill up " New Password " and "Confirm Password ". Record the password carefully.

					<br/><br/>





					<p id="faq_title">My Account </p>
					Q. How do I change my password?<br/>
					A. If you wish to change your password,<br/>
					Click "My Account " at home page.<br/>
					Click "Edit Info"<br/>
					Fill up your new password in place of your current password and click "Save".<br/>
					Q. How do I change my personal information in my account?<br/>
					A. If you wish to change your personal information in your account,<br/>
					Click "My Account " at home page.<br/>
					Click "Edit Info"<br/>
					Fill up your new personal information in place of your current personal information and click "Save".
					<br/><br/>

					Q. What is the difference between Member and Guest?<br/>
					A. Member can just fill up email address and password to Sign In after one time registration. Guest is required to fill up all required personal informations every time on Signing In. <br/>
					Member is eligible to get Discount Coupons offered by eBuy Myanmar however Guest is not eligible for this offer. <br/>



					<br/>

					<p id="faq_title">Coupons and Products </p>
					Q. How do I use my coupon? <br/>
					A. If you wish to use coupon, <br/>
					Choose the items you are going to buy and place them in Cart. <br/>
					Click "Cart". <br/>
					All selected items with total price will be appeared and click "Use My Coupon" nearby total price. <br/>
					Choose the coupon matched with the total price. <br/>
					Discount price will be appeared and click "Check Out" for payment. <br/>
					<br/>
					Q. Do I need eBuy Myanmar account to use coupon? <br/>
					A. Yes, you need to have eBuy Myanmar account to use coupon. 
					<br/><br/>

					Q. How long is my coupon valid? <br/>
					A. Expiry date of coupon is mentioned at each coupon and you can use it before expiry date. 
					<br/><br/>

					Q. Where can I get more product information?<br/>
					A. You can find out more product information at "Product Details " on the page of that product.
					<br/><br/>

					Q. Why does the prices of products on website fluctuate through time?<br/>
					A. Since the products are on the market place, sellers change the prices from time to time, do that the prices may fluctuate through time.
					<br/><br/>

					Q. Why do I see different prices for the same product?<br/>
					A. Different sellers are distributing and selling same product so that the prices may be different for same product.
					<br/><br/>







				    <p id="faq_title">Order and Payment </p>
					Q. How do I place my order?<br/>
					A. If you wish to place an order, you may refer to "How to Buy/Order" at "Help Topic 6" and follow the instructions.

					<br/><br/>







					Q. How can I order without an account?<br/>
					A. If you wish to purchase a product without an account,<br/>
					Click "Sign In".<br/>
					Click "Guest Sign In".<br/>
					Fill up required personal informations.<br/>
					You may refer to  "Guest Sign In" at "Help Topic 2.3" and follow the instructions.

					<br/><br/>

					Q. How do I search for a product I want to purchase?<br/>
					A. If you wish to search for a product to purchase,
					You may use Category Navigation Tool and search it under each category.
					You may use Search Engine Tool on top of the page and type your Keywords.

					<br/><br/>
					 
					Q.Will I receive any order confirmation after placing order?<br/>
					A. After you have placed an order, you will receive an order confirmation email with invoice to you mail box.
					
					<br/><br/>
					Q. What are the payment methods available?<br/>
					A. You may refer to "Help Topic 7" for payment methods and follow the instructions.

					<br/><br/>







					<p id="faq_title">Shipping and Delivery </p>
					
					Q. How do I track my order status?<br/>
					A. If you wish to know where your purchased item is, click "My Account " and go into "My Ordered List". Then click "Shipping Info" and you will see your product shipping status. The company will reply you for your enquiry via "Chat Box".
					
					<br/><br/>
					Q. When will I receive my order?<br/>
					A. The estimated delivery period for the item is mentioned at "Estimated Delivery " in the product page of each product. The company will notify you by email as well. The company will try its best to serve you for faster delivery.
					
					<br/><br/>
					Q. I ordered multiple items but I only received one. Where are my other items?<br/>
					A. If you purchase multiple items, different sellers will ship and deliver the items in separate parcels so that there will be different delivery times for each purchased product.
					
					<br/><br/>
					Q. I need my order now. Can eBuy Myanmar speed up the delivery?<br/>
					A. eBuy Myanmar is able to ship and deliver the purchased items within the period stated at "Estimated Delivery " in the product page and not able to speed up the delivery. However eBuy Myanmar will try its best to serve you for faster delivery.

					<br/><br/>







					<p id="faq_title">Cancel and Refund </p>
					Q. How do I cancel my order?<br/>
					A. If you wish to cancel your order, please refer to "Cancel and Refund" at "Help Topic 9" and follow the instructions.

					<br/><br/>
					Q. What is eBuy Myanmar's cancellation policy?<br/>
					A. Please refer to "Cancel and Refund" at "Terms and Conditions 2" for eBuy Myanmar's cancellation policy.
					<br/><br/>







					<p id="faq_title">Exchange and Return </p>
					Q. How do I return my product?<br/>
					A. If you wish to return your delivered product, please refer to "Exchange and Return " at "Help Topic 10" and follow the instructions.
					<br/><br/>

					Q. Can I return my product and ask for refund?<br/>
					A. The company will not make refund for delivered products. You may return the product to the company within 7 days due to manufacturer's fault and the company will make a new order for replacement of your product.
					<br/><br/>

					Q. Can I return my item after one month upon receipt?<br/>
					A. Company will not accept the delivered product one month after delivery. You may return the product to the company within 7 days due to manufacturer's fault and the company will make a new order for replacement of your product.
					<br/><br/>

					Q. What is eBuy Myanmar's exchange and return policy?<br/>
					A. Please refer to "Exchange and Return" at "Terms and Conditions 4" for eBuy Myanmar's exchange and return policy.
					<br/><br/>


				</div>


				<div id="bank_transfer">

				
					<h3><%= t('bank_account_for') %> </h3><br/>

					<p><b>1.AYA BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>0004202012564091</p>

					<p><b>2.KBZ BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>045-301-04502556101</p>

					<p><b>3.CB BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>0087600100017485</p>


				</div>







				





		</div>
  </div>
</div>	


	  	


<style type="text/css">
	
#register,
#sign_in,
#my_account,
#shipping,
#exchange,
#cancel_refund,
#payment,
#my_cart,
#my_coupon,
#sell_item,
#how_to_buy,
#bank_transfer,
#faq
{
	display: none;
}
</style>


<script type="text/javascript">
	

$('#register_btn').click(function() {

	$("#register").show();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();


});

$('#sign_in_btn').click(function() {

	$("#register").hide();
	$("#sign_in").show();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});

$('#my_account_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").show();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();


});

$('#shipping_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").show();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});

$('#exchange_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").show();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});

$('#cancel_refund_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").show();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});
$('#payment_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").show();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});
$('#my_coupon_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").show();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});
$('#sell_item_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").show();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});

$('#how_to_buy_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").show();
	$("#bank_transfer").hide();
	$("#faq").hide();
		$("#my_cart").hide();

});


$('#bank_transfer_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").show();
	$("#faq").hide();
		$("#my_cart").hide();

});



$('#faq_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").show();
		$("#my_cart").hide();

});


$('#my_cart_btn').click(function() {

	$("#register").hide();
	$("#sign_in").hide();
	$("#my_account").hide();
	$("#shipping").hide();
	$("#exchange").hide();
	$("#cancel_refund").hide();
	$("#payment").hide();
	$("#my_coupon").hide();
	$("#sell_item").hide();
	$("#how_to_buy").hide();
	$("#bank_transfer").hide();
	$("#faq").hide();
	$("#my_cart").show();

});

</script>