

<div id="mobile_view" >
	<body>
			<div id="mobile_view_home">
				<%= render 'mobile_home' %>
			</div>
	</body>
</div>



<div id="desktop_view">

	<div class="row" id="all_the_categories">
			<%= render 'all_categories' %>
	</div>

	<div class="row" id="myhomeslider">

		<div class="col-md-8"> 
				<%= render 'layouts/imageslider' %>
		</div>

		<div class="col-md-4" id="time_sale_div">  
				<%= render 'time_sale' %>
		</div>
	</div>






	<div style="background:blue;height:5px;">
		
	</div>

 
	<%= render 'authentic_brand' %>
    <%= render 'women_fashion' %>
    <%= render 'men_fashion' %>
    <%= render 'digital_mobile' %>
    <%= render 'home_living' %>
    <%= render 'health_beauty' %>
    <%= render 'food_beverage' %>
    <%= render 'top_selling' %>

    
    <br/><br/><br/>

    


</div>


