

<div id="mobile_view" >
	<body>
			<div id="mobile_view_home">
				<%= render 'mobile_home' %>
			</div>
	</body>
</div>



<div id="desktop_view">

<div class="row" id="myhomeslider">

<div class="col-md-8"> 

	 		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <%= image_tag("1001.jpg") %>
				    </div>
				    <div class="item">
				       <%= image_tag("1002.jpg") %>
				    </div>
				    <div class="item">
				       <%= image_tag("1003.jpg") %>
				    </div>
				  </div>

				  <!-- Controls -->
				 <a class="left carousel-control" id="arrow_crousel_home" href="#carousel-example-generic" role="button" data-slide="prev">
				     <%= image_tag("leftarrow.png") %>
				  </a>

				  <a class="right carousel-control" id="arrow_crousel_home" href="#carousel-example-generic" role="button" data-slide="next">
				  	  <%= image_tag("rightarrow.png") %>
				  </a>


			</div>


</div>

<div class="col-md-4">  

<div id="carousel-example-generic_small" class="carousel slide" data-ride="carousel">
				 

				


				  <div class="carousel-inner" role="listbox">
				    <div class="item active">

				    	<table style="width:100%">
						  <tr>
						    <th>
						    	<%= image_tag("1004.jpg", :id => "small_slide",:class=>"img-responsive") %>
						    	<%= image_tag("1005.jpg",  :id => "small_slide",:class=>"img-responsive") %>
						    </th>
						    <th>
						    	<p id="product_title"> Samsung Door lock</p>
			  	                <p id="product_price"> 2000 Ks</p>
                                <br/><br/><br/><br/><br/>
			  	                <p id="product_title"> Xiami Note 7</p>
			  	                <p id="product_price"> 2000 Ks</p>
						    </th> 
						  </tr>
						 
						</table>

				     	
				    </div>
				    <div class="item">
				       	
				       <table style="width:100%">
						  <tr>
						    <th>
						    	<%= image_tag("1006.jpg", :id => "small_slide",:class=>"img-responsive") %>
						    	<%= image_tag("1007.jpg",  :id => "small_slide",:class=>"img-responsive") %>
						    </th>
						    <th>
						    	<p id="product_title"> Samsung Door lock</p>
			  	                <p id="product_price"> 2000 Ks</p>
                                <br/><br/><br/><br/><br/>
			  	                <p id="product_title"> Xiami Note 7</p>
			  	                <p id="product_price"> 2000 Ks</p>
						    </th> 
						  </tr>
						 
						</table>

				    </div>

				      <div class="item">
				       	
				       <table style="width:100%">
						  <tr>
						    <th>
						    	<%= image_tag("1008.jpg", :id => "small_slide",:class=>"img-responsive") %>
						    	<%= image_tag("1009.png",  :id => "small_slide",:class=>"img-responsive") %>
						    </th>
						    <th>
						    	<p id="product_title"> Samsung Door lock</p>
			  	                <p id="product_price"> 2000 Ks</p>
                                <br/><br/><br/><br/><br/>
			  	                <p id="product_title"> Xiami Note 7</p>
			  	                <p id="product_price"> 2000 Ks</p>
						    </th> 
						  </tr>
						 
						</table>

				    </div>

				  </div>




				  <!-- Controls -->
				 <a class="left carousel-control" id="arrow_crousel_home" href="#carousel-example-generic_small" role="button" data-slide="prev">
				     <%= image_tag("leftarrow.png") %>
				  </a>

				  <a class="right carousel-control" id="arrow_crousel_home" href="#carousel-example-generic_small" role="button" data-slide="next">
				  	  <%= image_tag("rightarrow.png") %>
				  </a>


			</div>



</div>
</div>






	<div style="background:blue;height:5px;"></div>


	<%= render 'authentic_brand' %>
    <%= render 'women_fashion' %>
    <%= render 'men_fashion' %>
    <%= render 'digital_mobile' %>
    <%= render 'home_living' %>
    <%= render 'health_beauty' %>
    <%= render 'food_beverage' %>
    <%= render 'top_selling' %>

    
    <br/><br/><br/>

    


</div>