
<div class="row" style="padding:10px;">

 <div class="col-md-12">
<h4>
  My Accounts
</h4><hr/>
</div>


  <div class="col-md-3">
  		
  		<div class="panel panel-primary">
		  <div class="panel-heading"> My information
		  <%= t("Product_Color")%>
		  </div>
		  <div class="panel-body">
		  	  <%= link_to 'View Account info', my_personal_info_path(:id => current_buyer.id) %>
		  </div>
		</div>

  </div>


    <div class="col-md-3">
  		
  		<div class="panel panel-primary">
		  <div class="panel-heading">Edit My information</div>
		  <div class="panel-body">
		      <%= link_to 'Edit Setting', edit_buyer_registration_path %>
		  </div>
		</div>

  </div>


    <div class="col-md-3">
  		
  		<div class="panel panel-primary">
		  <div class="panel-heading"> My Shopping list</div>
		  <div class="panel-body">
		      <%= link_to 'View Shopping list', my_shopping_list_path %>
		  </div>
		</div>

  </div>


    <div class="col-md-3">
  		
  		<div class="panel panel-primary">
		  <div class="panel-heading"> Wish list</div>
		  <div class="panel-body">
		     <%= link_to 'View Wish list', my_wishlist_path %>
		  </div>
		</div>

  </div>
 
 

</div>




<div class="row" style="padding:10px;">
  <div class="col-md-3">
  		
  		<div class="panel panel-primary">
		  <div class="panel-heading"> My View list</div>
		  <div class="panel-body">
		    Panel content
		  </div>
		</div>

  </div>


    <div class="col-md-3">
  		
  		<div class="panel panel-primary">
		  <div class="panel-heading"> My Coupon list</div>
		  <div class="panel-body">
		       <%= link_to 'View Coupon list', my_coupon_path %>
		  </div>
		</div>

  </div>


    <div class="col-md-3">
  		
  		<div class="panel panel-primary">
		  <div class="panel-heading"> Canel/ Refund list</div>
		  <div class="panel-body">
		    <%= link_to 'View Cancel list', my_cancel_list_path %>
		  </div>
		</div>

  </div>


    <div class="col-md-3">
  		
  		<div class="panel panel-primary">
		  <div class="panel-heading"> My ordered list</div>
		  <div class="panel-body">
		     <%= link_to 'View Order list', my_order_list_path %>
		  </div>
		</div>

  </div>
 
 

</div>


