<div class="row" style="padding:10px;">
  <div class="col-md-12">
		<div class="well well-lg">
			<p> Price Filter </p><hr/>
				
		
			 <%= form_tag(search_result_path, :method => "get", :class=>"form-inline") do %> 
                                   
                   <%= text_field_tag :price_from, params[:price_from], :placeholder => "from", :class=>"form-control" %>

                    <%= text_field_tag :price_to, params[:price_to], :placeholder => "to", :class=>"form-control" %>

                    <button type="submit" class="btn btn-default">Search</button>
                                 
             <% end %>

       </div>

  </div>


  <div class="col-md-12" id="mobile_view">

     <% @products.each do |product| %>
     		         <div class="col-xs-6 col-md-6"  >
	                                <a href="/product_info/<%= product.id %>">
                                    <%= image_tag product.avatar1.url(:medium), :class=>"img-responsive" %>
                                     
	                            	 <p id="product_title" style="font-size:10px;"><%= product.short_title[0...7]+"..." %></p>
			  	                        <p id="product_price" style="font-size:10px;"><% round_up(product.discount_price.to_i * @currency_exchange.to_i)  %>
                                  <%= $product_price %> Ks</p>
	                            	</a>
	               </div>
	 
	 <% end %>

  </div>



  <div class="col-md-12" id="desktop_view">


      <table class="table table-condensed">

          <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Original price</th>
                <th>Offer price</th>
                <th>Quantity</th>

              </tr>
            </thead>

            <tbody>
              <% @products.each do |product| %>

              <% if  !product.start_to_sell_on.nil? %>
                <tr>
                  <td>

                        <%= link_to product_info_path(product.id) do %>
                                       <%= image_tag product.avatar1.url(:medium), :class=>"img-responsive" %>
                                    <% end %>


                  </td>
                  <td><%= product.short_title %></td>
                  <td>
                    <% round_up(product.actual_price.to_i * @currency_exchange.to_i)  %>
                                     <strike>   <%= $product_price %> Ks </strike>
                  </td>
                  <td>
                    <% round_up(product.discount_price.to_i * @currency_exchange.to_i)  %>
                                        <%= $product_price %> Ks
                  </td>
                  <td><%= product.quantity %></td>
                </tr>


                <% end %>


              <% end %>
            </tbody>

    </table>




  </div>



  </div>