<div id="mobile_view_home">
	<%= render 'mobile_product_detail' %>
</div>



<!--  -->



<div id="desktop_view">


<div style="height:2300px;">

<div class="row">

  <div class="col-md-12">

	<h4 class="detailpage_link">
		Home > <%= @product.product_category %> > <%= @product.title %> > eBuy00<%= @product.id %> 
	</h4><br/>

  </div>

    <div class="col-md-12">
  		<div class="col-md-5">
  				<!-- product image -->

  		<div class="col-md-1">

  		

  			 <%= image_tag @product.avatar1.url, :id => "avatar_mobile_product1" %>


  			 <%= image_tag @product.avatar2.url, :id => "avatar_mobile_product2" %>

  			  <%= image_tag @product.avatar3.url, :id => "avatar_mobile_product3" %>


  			  <%= image_tag @product.avatar4.url, :id => "avatar_mobile_product4" %>


  			   <%= image_tag @product.avatar5.url, :id => "avatar_mobile_product5" %>


  		</div>
  		

  	
  		<div class="col-md-4" style="margin-left:20px;">

  				 <%= image_tag @product.avatar1.url, :id => "receive_img" %>

  				  <a href="/view_image/<%= @product.id %>" id="view_img"> View images in zoom</a>



  		</div>



        
  	</div>

  		<div class="col-md-7">

  		  <div id="product_background">
  		  	 <p id="product_name"> 
  		  	 	 <%= @product.title %>
  		  	 </p>
  		  </div>


  		  <br/>
  		  <table style="width:100%">


  	


  		   	  <tr>
			    <td style="width:60%"> <span class="mydetail_title">Product Size</span></td>
			    <td > <span class="mydetail_title"> <%= @product.	  product_size %>  </span></td> 
			  </tr>
			  <tr>
			    <td style="width:60%"> <span class="mydetail_title"> Product Color</span></td>
			    <td> <span class="mydetail_title"><%= @product.product_color %></span></td> 
			  </tr>


			  
			  <tr>
			    <td style="width:60%"> <span class="mydetail_title">Actual Price</span></td>
			    <td > <span class="mydetail_title"> <%= @product.actual_price %> Ks </span></td> 
			  </tr>
			  <tr>
			    <td style="width:60%"> Offer Price</td>
			    <td> <%= @product.discount_price %> Ks</td> 
			  </tr>

		   </table><hr/>

		   <table style="width:100%">
			  
			  <tr>
			    <td style="width:60%"> <span class="mydetail_title">Shipping From</span></td>
			    <td> <span class="mydetail_title"> Overseas </span></td> 
			  </tr>
			  <tr>
			    <td style="width:60%"><span class="mydetail_title"> Delivery Rate </span></td>
			    <td> <span class="mydetail_title">  <%= @product.delivery_rate %> Ks</span></td> 
			  </tr>

			   <tr>
			    <td style="width:60%"> <span class="mydetail_title"> Estimated Delivery </span></td>
			    <td> <span class="mydetail_title"> <%= @product.delivery_time %> Days</span></td> 
			  </tr>

			  <tr>
			    <td style="width:60%"> <span class="mydetail_title">Delivery Service </span></td>
			    <td> <span class="mydetail_title"> 
			    		<select>
			    		  <option>Choose</option>
						  <option>Pick up</option>
						  <option>eBuy Delivery</option>
						</select>
			     </span></td> 
			  </tr>
			  
		   </table ><hr/>

		    <table style="width:100%">
			  
			  <tr>
			    <td style="width:60%"> <span class="mydetail_title">Quantity </span></td>
			    <td> <span class="mydetail_title"><%= @product.quantity %></span></td>
			  </tr>

			 

		   </table><br/>

		   <br/>


		 
		 

		   <table style="width:100%">
			
			  <tr>
			    <td>
			    	 <button type="button" id="btn_checkout" class="btn btn-danger" > Buy Now</button>
			    </td>
			    <td>
			    	<%= button_to 'Add to Cart' , line_items_path(:product_id => @product),:class =>"btn btn-primary", :id=>"btn_checkout" %>
			    </td> 
			    <td>
			    	 <%= button_to 'Add to Wish list' , add_to_wish_list_path(:product_name => @product.title, :product_id => @product.id),:class =>"btn btn-info", :id=>"btn_checkout" %>




			    </td>
			    <td>
			    	  <button type="button" id="btn_checkout" class="btn btn-default"> Share this item</button>

			    </td>
			  </tr>
			 
			</table>




  			<br/><br/><br/>
  		</div>





		    <div class="col-md-12">

		  <!-- Nav tabs -->
		  <div>

			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active" id="tab_detail"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="detail_tab_title"> Product Detail</a></li>
			    <li role="presentation" id="tab_detail"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="detail_tab_title"> Customer Review </a></li>
			    <li role="presentation" id="tab_detail"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="detail_tab_title"> Question & Answer</a></li>
			    <li role="presentation" id="tab_detail"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"class="detail_tab_title" > Notice & Policy</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">
			   
			   		 <div class="col-md-12"> 

			   		 	 <div class="col-md-6"> 
			   		 	 <br/><br/>
			   		 	  <% if !@product.specsq.nil? or !@product.specsa.nil? %>
			   		 	 <table class="table table-bordered">
							      <thead>
							        <tr>
							          <th>Fields</th>
							          <th>Value</th>
							        </tr>
							      </thead>
							      <tbody>
							      <% @product.specsq.zip ( @product.specsa).each do |question, answer| %>
							        <tr>
							          <td><%= question %></td>
							          <td><%= answer %></td>
							        </tr>
							       <% end %>
							       
							       
							      </tbody>
							</table>

							 <% end %>


			   		 	 		    
				
			   		 	 </div>

			   		 	  <div class="col-md-6"> 

			   		 	  		 <% if !@product.product_video.nil? %>

							    	<center>
							    			<br/>
											<iframe width="400" height="300" src="<%= "http://www.youtube.com/embed/"+@product.product_video.to_s %>">
											</iframe>
											</br/>
							    	</center>

							     <% end %>

			   		 	 </div>


			   		 </div>
				


				
			


			    	

			    <br/><br/><br/>
			    
			   


			    </div>
			    <div role="tabpanel" class="tab-pane" id="profile">
			    	

			    		<% @comments.each do |comment| %>
						     <p id="buyer_comment"> 
						     	<%= comment.buyer_comment %>
						      </p>
						      <p>
						      (<%= comment.buyer.buyer_name %>) 
						      </p>

						<% end %>
						<div id="the_feed"> </div>


			    		<%= form_for(@comment, :remote => true) do |f| %>
						  <% if @comment.errors.any? %>
						    <div id="error_explanation">
						      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

						      <ul>
						      <% @comment.errors.full_messages.each do |message| %>
						        <li><%= message %></li>
						      <% end %>
						      </ul>
						    </div>
						  <% end %>

						  	<% if buyer_signed_in? %>
						  	 

							  

									  <div class="field"  style="display:none;">
									    <%= f.label :buyer_id %><br>
									    <%= f.number_field :buyer_id, :value => current_buyer.id %>
									  </div>
									  <div class="field">
									    <%= f.text_area :buyer_comment, :class => "form-control", :rows => "5" %>
									  </div><br/>
									  <div class="field" style="display:none;">
									    <%= f.label :product_id %><br>
									    <%= f.number_field :product_id, :value => @product.id %>
									  </div>
									  <div class="actions">
									    <%= f.submit "Give feedback", :id=> "btn_feedback" %>
									  </div>

							<% end %>
						

						<% end %>



			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">
			    	
			     <div class="col-md-12">

					<h3> Question and Answer about this product</h3><hr/>


					  <% if !@product.question.nil? or !@product.answer.nil? %>


					 <% @product.question.zip ( @product.answer).each do |question, answer| %>

						  <p class="question"><%= question %></p>
						  <p class="answer"><%= answer %></p>
					<% end %>


					<% end %>


					</div>


			    </div>
			    <div role="tabpanel" class="tab-pane" id="settings">
			    	<%= @product.notice.html_safe %>
			    </div>
			  </div>
		  </div>

		</div>



  </div>

 
    


</div>
  <hr/>
  <%= render 'other_product' %>

  <div style="background:blue;height:5px;"></div>
  <%= render 'related_item' %>

  <div style="background:blue;height:5px;"></div>
  <%= render 'recommended_item' %>

  <div style="background:blue;height:5px;">

  </div>
</div>



</div>


<script>



 $('#avatar_mobile_product1').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product1").src;
 	  document.getElementById("receive_img").src = aok;
    


 });



  $('#avatar_mobile_product2').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product2").src;
 	  document.getElementById("receive_img").src = aok;
    


 });


    $('#avatar_mobile_product3').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product3").src;
 	  document.getElementById("receive_img").src = aok;
    


 });



      $('#avatar_mobile_product4').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product4").src;
 	  document.getElementById("receive_img").src = aok;
    


 });


        $('#avatar_mobile_product5').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product5").src;
 	  document.getElementById("receive_img").src = aok;
    


 });





</script>