<div style="height:1700px;">

<div class="row">

  <div class="col-md-12">

	<h4 class="detailpage_link">
		Home > <%= @product.product_category %> > <%= @product.title %> > Ebuy00<%= @product.id %> 
	</h4><br/>

  </div>

    <div class="col-md-12">
  		<div class="col-md-5">
  				<!-- product image -->
  		</div>

  		<div class="col-md-7">

  		  <div id="product_background">
  		  	 <p id="product_name"> 
  		  	 	 <%= @product.title %>
  		  	 </p>
  		  </div>


  		  <br/>
  		  <table style="width:76%">
			  
			  <tr >
			    <td> <span class="mydetail_title">Retail Price</span></td>
			    <td> <span class="mydetail_title"> <%= @product.actual_price %> Ks </span></td> 
			  </tr>
			  <tr>
			    <td> Discount Price</td>
			    <td> <%= @product.discount_price %> Ks</td> 
			  </tr>

		   </table><hr/>

		   <table style="width:92%">
			  
			  <tr>
			    <td> <span class="mydetail_title">Shipping From</span></td>
			    <td> <span class="mydetail_title"> Overseas </span></td> 
			  </tr>
			  <tr>
			    <td><span class="mydetail_title"> Delivery Rate </span></td>
			    <td> <span class="mydetail_title"> FREE </span></td> 
			  </tr>

			   <tr>
			    <td> <span class="mydetail_title"> Estimated Delivery </span></td>
			    <td> <span class="mydetail_title"> <%= @product.delivery_time %> </span></td> 
			  </tr>

			  <tr>
			    <td> <span class="mydetail_title">Delivery Service </span></td>
			    <td> <span class="mydetail_title"> 
			    		<select>
			    		  <option>Choose</option>
						  <option>Pick up</option>
						  <option>EBuy Delivery</option>
						</select>
			     </span></td> 
			  </tr>
			  
		   </table ><hr/>

		    <table style="width:130%">
			  
			  <tr>
			    <td> <span class="mydetail_title">Quantity </span></td>
			    <td> <span class="mydetail_title"> 70000 Ks </span></td> 
			  </tr>
			 

		   </table><br/>

		   <br/>
		   <button type="button" id="btn_checkout" class="btn btn-danger"> Buy Now</button>

		   
   			<%= button_to 'Add to Cart' , line_items_path(:product_id => @product),:class =>"btn btn-primary" %>



		   <button type="button" id="btn_checkout" class="btn btn-info"> Add to whish list</button>
		   <button type="button" id="btn_checkout" class="btn btn-default"> Share this item</button>


  			<br/><br/><br/>
  		</div>





		    <div class="col-md-12">

		  <!-- Nav tabs -->
		  <div style="height:400px;">

			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active" id="tab_detail"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="detail_tab_title"> Product Detail</a></li>
			    <li role="presentation" id="tab_detail"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="detail_tab_title"> Customer Review </a></li>
			    <li role="presentation" id="tab_detail"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="detail_tab_title"> Question & Answer</a></li>
			    <li role="presentation" id="tab_detail"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"class="detail_tab_title" > Notice & Policy</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">...</div>
			    <div role="tabpanel" class="tab-pane" id="profile">
			    	

			    		<% @comments.each do |comment| %>
						     <p id="buyer_comment"> 
						     	<%= comment.buyer_comment %>
						      </p>
						      <p>
						      (<%= comment.buyer.buyer_name %>) 
						      </p>

						<% end %>
						<div id="the_feed"> </div>


			    		<%= form_for(@comment, :remote => true) do |f| %>
						  <% if @comment.errors.any? %>
						    <div id="error_explanation">
						      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

						      <ul>
						      <% @comment.errors.full_messages.each do |message| %>
						        <li><%= message %></li>
						      <% end %>
						      </ul>
						    </div>
						  <% end %>

						  	<% if buyer_signed_in? %>
						  	 

							  

									  <div class="field"  style="display:none;">
									    <%= f.label :buyer_id %><br>
									    <%= f.number_field :buyer_id, :value => current_buyer.id %>
									  </div>
									  <div class="field">
									    <%= f.text_area :buyer_comment, :class => "form-control", :rows => "5" %>
									  </div><br/>
									  <div class="field" style="display:none;">
									    <%= f.label :product_id %><br>
									    <%= f.number_field :product_id, :value => @product.id %>
									  </div>
									  <div class="actions">
									    <%= f.submit "Give feedback", :id=> "btn_feedback" %>
									  </div>

							<% end %>
						

						<% end %>



			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">...</div>
			    <div role="tabpanel" class="tab-pane" id="settings">...</div>
			  </div>
		  </div>

		</div>



  </div>

 
    


</div>

  <div style="background:blue;height:5px;"></div>
  <%= render 'related_item' %>

  <div style="background:blue;height:5px;"></div>
  <%= render 'recommended_item' %>

  <div style="background:blue;height:5px;">

  </div>
</div>