<div id="mobile_view_home">
	<%= render 'mobile_product_detail' %>
</div>



<!--  -->

<div id="desktop_view">


<div >

<div class="row">

  <div class="col-md-12">

   <% if Time.current.utc.localtime.between?(@start_day,@end_day) %>
		<h4 class="detailpage_link">
		  	Home > <%= @product.product_category %> > <%= @product.short_title %> > eBuy00<%= @product.id %> 
		</h4><br/>
	
	<% else %>

		<h4 class="detailpage_link_red">
			This product item is expire now.
		</h4><br/>

	<% end %>

  </div>

    <div class="col-md-12">
  		<div class="col-md-5">
  				<!-- product image -->

  		<div class="col-md-1">

  		

  			 <%= image_tag @product.avatar1.url, :id => "avatar_mobile_product1" %>

  			 <%= image_tag @product.avatar2.url, :id => "avatar_mobile_product2" %>

  			 <%= image_tag @product.avatar3.url, :id => "avatar_mobile_product3" %>

  			 <%= image_tag @product.avatar4.url, :id => "avatar_mobile_product4" %>

  			 <%= image_tag @product.avatar5.url, :id => "avatar_mobile_product5" %>


  		</div>
  		

  	
  		<div class="col-md-4" style="margin-left:20px;">

  				 <%= image_tag @product.avatar1.url, :id => "receive_img" %>

  				  <a href="/view_image/<%= @product.id %>" id="view_img"> View images in zoom</a>

  			


   				<%  if buyer_signed_in?  %>

								<span id="chat_user"> 
							       <%= image_tag "chat.png" %>  with seller
							   </span>

			    <%  else  %>
			    <%  end  %>	



  		</div>



        
  	</div>

  		<div class="col-md-7">

  		  <div id="product_background">
  		  	 <p id="product_name"> 
  		  	 	 <%= @product.title %>
  		  	 </p>
  		  </div>


  		  <br/>
  		  <table style="width:100%">


  	


  		   	 
			  


			  
			  <tr>
			    <td style="width:60%"> <span class="mydetail_title">Actual Price</span></td>
			    <td > <span class="mydetail_title"> 
			    	<% round_up(@product.actual_price.to_i * @currency_exchange.to_i)  %>
                    <%= $product_price %> Ks

			     </span></td> 
			  </tr>
			  <tr>
			    <td style="width:60%"> Offer Price</td>
			    <td> 
			    	<% round_up(@product.discount_price.to_i * @currency_exchange.to_i)  %>
                    <%= $product_price %> Ks

			    </td> 
			  </tr>

		   </table><hr/>

		   <table style="width:100%">
			  
			  <tr>
			    <td style="width:60%"> <span class="mydetail_title">Shipping From</span></td>
			    <td> <span class="mydetail_title"> <%= @product.ship_from %> </span></td> 
			  </tr>
			  <tr>
			    <td style="width:60%"><span class="mydetail_title"> Delivery Rate </span></td>
			    <td> <span class="mydetail_title">  <%= @product.delivery_rate %></span></td> 
			  </tr>

			   <tr>
			    <td style="width:60%"> <span class="mydetail_title"> Estimated Delivery </span></td>
			    <td> <span class="mydetail_title"> <%= @product.delivery_time %></span></td> 
			  </tr>

			  <tr>
			    <td style="width:60%"> <span class="mydetail_title">Delivery Service </span></td>
			    <td> <span class="mydetail_title"> 
			    		<select id="delivery_method">
			    		  <option>Choose</option>
						  <option value="pick_up">Pick up</option>
						  <option value="ebuy_delivery">eBuy Delivery</option>
						</select>
			     </span></td> 
			  </tr>
			  
		   </table ><hr/>

		    <table style="width:100%">
			  
			


			  <tr>
			    <td style="width:60%"> <span class="mydetail_title"> Product Color</span></td>
			    <td> 
			    <span class="mydetail_title" id="myproduct_color">
			  
			    </span></td> 
			  </tr>


			   <tr>
			    <td style="width:60%"> <span class="mydetail_title">Product Size</span></td>
			    <td > <span class="mydetail_title" id="myproduct_size" > 
			  
			    </span></td> 
			  </tr>


			   <tr>
			    <td style="width:60%"> <span class="mydetail_title"> Product Model</span></td>
			    <td> 
			    <span class="mydetail_title" id="myproduct_model">
			  
			    </span></td> 
			  </tr>


			   <tr>
			    <td style="width:60%"> <span class="mydetail_title">Order Quantity</span></td>
			    <td> 
			      <select id="product_quantity">  
			      </select>
			    </td> 
			  </tr>


			 

		   </table><br/>

		   <br/>


		 
		 

		   <table style="width:100%">
			
		
			  <tr>

			   <td>
			   
			  
			     <% if Time.current.utc.localtime.between?(@start_day,@end_day) %>

					    	 <button type="button" class="btn btn-danger" id="btn_buy_now">Buy Now</button>
					    </td>
					    <td>
					    	 <button type="button" class="btn btn-primary" id="btn_add_to_cart">Add to Cart</button>
					    </td> 
					    
				
					   
				  <% else %>
				  	    <td>
					    	<button type="button" class="btn btn-default" id="btn_checkout">Expire now!</button>
					    </td>
					    <td>
					        <button type="button" class="btn btn-default" id="btn_checkout">Expire now!</button>
					    </td> 
				  <% end %>

			    <td>
			    	 <%= button_to 'Add to Wish list' , add_to_wish_list_path(:product_name => @product.title, :product_id => @product.id),:class =>"btn btn-info", :id=>"btn_checkout" %>




			    </td>
			    <td>

			    	  <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" id="btn_checkout" class="btn btn-default" target="_blank"> Share this item</a>
			    	  

			    	
			    	

			    </td>
			  </tr>
			 
			</table>




  			<br/><br/><br/>
  		</div>





		    <div class="col-md-12">

		  <!-- Nav tabs -->
		  <div>

			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active" id="tab_detail"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="detail_tab_title"> Product Detail</a></li>
			    <li role="presentation" id="tab_detail"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="detail_tab_title"> Customer Review </a></li>
			    <li role="presentation" id="tab_detail"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="detail_tab_title"> Question & Answer</a></li>
			    <li role="presentation" id="tab_detail"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"class="detail_tab_title" > Notice & Policy</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">
			   
			   		 <div class="col-md-12"> 

			   		 	 <div class="col-md-6"> 
			   		 	 <br/><br/>
			   		 	  <% if !@product.specsq.nil? or !@product.specsa.nil? %>
			   		 	 <table class="table table-bordered">
							      <thead>
							        <tr>
							          <th>Fields</th>
							          <th>Value</th>
							        </tr>
							      </thead>
							      <tbody>
							      <% @product.specsq.zip ( @product.specsa).each do |question, answer| %>
							        <tr>
							          <td><%= question %></td>
							          <td><%= answer %></td>
							        </tr>
							       <% end %>
							       
							       
							      </tbody>
							</table>

							 <% end %>

							 <% if !@product.description.nil? %>
						    	<%= @product.description.html_safe %>
						    <% end %>


			   		 	 		    
				
			   		 	 </div>

			   		 	  <div class="col-md-6"> 

			   		 	  		 <% if !@product.product_video.nil? %>

							    	<center>
							    			<br/>
											<iframe width="400" height="300" src="<%= "http://www.youtube.com/embed/"+@product.product_video.to_s %>">
											</iframe>
											</br/>
							    	</center>

							     <% end %>

			   		 	 </div>


			   		 </div>
				


				
			


			    	

			    <br/><br/><br/>
			    
			   


			    </div>
			    <div role="tabpanel" class="tab-pane" id="profile">
			    	

			    		<% @comments.each do |comment| %>
						     <p id="buyer_comment"> 
						     	<%= comment.buyer_comment %>
						      </p>
						      <p>
						      (<%= comment.buyer.buyer_name %>) 
						      </p>

						<% end %>
						<div id="the_feed"> </div>


			    		<%= form_for(@comment, :remote => true) do |f| %>
						  <% if @comment.errors.any? %>
						    <div id="error_explanation">
						      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

						      <ul>
						      <% @comment.errors.full_messages.each do |message| %>
						        <li><%= message %></li>
						      <% end %>
						      </ul>
						    </div>
						  <% end %>

						  	<% if buyer_signed_in? %>
						  	 

							  

									  <div class="field"  style="display:none;">
									    <%= f.label :buyer_id %><br>
									    <%= f.number_field :buyer_id, :value => current_buyer.id %>
									  </div>
									  <div class="field">
									    <%= f.text_area :buyer_comment, :class => "form-control", :rows => "5" %>
									  </div><br/>
									    <div class="field" style="display:none;">
									    <%= f.label :buyer_name %><br>
									    <%= f.text_field :buyer_name, :value => current_buyer.buyer_name %>
									  </div>

									  <div class="field" style="display:none;">
									    <%= f.label :product_id %><br>
									    <%= f.number_field :product_id, :value => @product.id %>
									  </div>
									  <div class="actions">
									    <%= f.submit "Give feedback", :id=> "btn_feedback" %>
									  </div>

							<% end %>
						

						<% end %>



			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">
			    	
			     <div class="col-md-12">

					<h3> Question and Answer about this product</h3><hr/>


					  <% if !@product.question.nil? or !@product.answer.nil? %>


					 <% @product.question.zip ( @product.answer).each do |question, answer| %>

						  <p class="question"><%= question %></p>
						  <p class="answer"><%= answer %></p>
					<% end %>


					<% end %>


					</div>


			    </div>
			    <div role="tabpanel" class="tab-pane" id="settings">
			    	<% if !@product.notice.nil? %>
			    		<%= @product.notice.html_safe %>
			    	<% end %>
			    </div>
			  </div>
		  </div>

		</div>



  </div>

 
    


</div>
  <hr/>


  <div style="background:blue;height:5px;"></div>
  <%= render 'related_item' %><br/><br/>

  <div style="background:blue;height:5px;"></div>
  <%= render 'recommended_item' %>

  <div style="background:blue;height:5px;">

  </div>
</div>



</div>


<script>



 $('#avatar_mobile_product1').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product1").src;
 	  document.getElementById("receive_img").src = aok;
 	 


 });



  $('#avatar_mobile_product2').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product2").src;
 	  document.getElementById("receive_img").src = aok;
    


 });


    $('#avatar_mobile_product3').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product3").src;
 	  document.getElementById("receive_img").src = aok;
    


 });



      $('#avatar_mobile_product4').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product4").src;
 	  document.getElementById("receive_img").src = aok;
    


 });


        $('#avatar_mobile_product5').click(function(){

 	  var aok = document.getElementById("avatar_mobile_product5").src;
 	  document.getElementById("receive_img").src = aok;
    


 });





</script>

<!--  -->

<script>



 $('#avatar_mymobile_product1').click(function(){

 	  var aok = document.getElementById("avatar_mymobile_product1").src;
 	  document.getElementById("receive_myimg").src = aok;
 	 


 });



  $('#avatar_mymobile_product2').click(function(){

 	  var aok = document.getElementById("avatar_mymobile_product2").src;
 	  document.getElementById("receive_myimg").src = aok;
    


 });


    $('#avatar_mymobile_product3').click(function(){

 	  var aok = document.getElementById("avatar_mymobile_product3").src;
 	  document.getElementById("receive_myimg").src = aok;
    


 });



      $('#avatar_mymobile_product4').click(function(){

 	  var aok = document.getElementById("avatar_mymobile_product4").src;
 	  document.getElementById("receive_myimg").src = aok;
    


 });


        $('#avatar_mymobile_product5').click(function(){

 	  var aok = document.getElementById("avatar_mymobile_product5").src;
 	  document.getElementById("receive_myimg").src = aok;
    


 });





</script>



<script type="text/javascript">
	


$( document ).ready(function() {



var min = 1,
    max = '<%= @product.quantity %>',
    select = document.getElementById('product_quantity');

for (var i = min; i<=max; i++){
    var opt = document.createElement('option');
    opt.value = i;
    opt.innerHTML = i;
    select.appendChild(opt);
}


// create products
	var myDiv = document.getElementById("myproduct_color");

	//Create array of options to be added

	var str = "Choose,"+"<%= @product.product_color.gsub(',,','') rescue '-' %>";
	var str_array = str.split(',');



	//Create and append select list
	var selectList = document.createElement("select");
	selectList.setAttribute("id", "myProductColor");
	myDiv.appendChild(selectList);


	//Create and append the options
	for(var i = 0; i < str_array.length; i++) {
	    var option = document.createElement("option");
	    option.setAttribute("value", str_array[i]);
	    option.text = str_array[i];
	    selectList.appendChild(option);
	}

// create products_sizes
	var myDiv = document.getElementById("myproduct_size");

	//Create array of options to be added

	var str = "Choose,"+"<%= @product.product_size.gsub(',,','') rescue '-' %>";
	var str_array = str.split(',');



	//Create and append select list
	var selectList = document.createElement("select");
	selectList.setAttribute("id", "myProductSize");
	myDiv.appendChild(selectList);


	//Create and append the options
	for(var i = 0; i < str_array.length; i++) {
	    var option = document.createElement("option");
	    option.setAttribute("value", str_array[i]);
	    option.text = str_array[i];
	    selectList.appendChild(option);
	}


	// create products model
	var myDiv = document.getElementById("myproduct_model");

	//Create array of options to be added

	var str = "Choose,"+"<%= @product.product_model.gsub(',,','') rescue '-' %>";
	var str_array = str.split(',');



	//Create and append select list
	var selectList = document.createElement("select");
	selectList.setAttribute("id", "myProductModel");
	myDiv.appendChild(selectList);


	//Create and append the options
	for(var i = 0; i < str_array.length; i++) {
	    var option = document.createElement("option");
	    option.setAttribute("value", str_array[i]);
	    option.text = str_array[i];
	    selectList.appendChild(option);
	}



});




</script>





<script type="text/javascript">
	
 $('#btn_add_to_cart').click(function() {
 

 		product_id = "<%= @product.id %>";
 		color = $( "#myProductColor option:selected" ).text();
 		size = $( "#myProductSize option:selected" ).text();
 		delivery_method = $( "#delivery_method option:selected" ).text();
 		product_quantity = document.getElementById("product_quantity").value;
 	
  		$.ajax({
              type: 'post',
              url: '/line_items',
              dataType: 'text',
              data: {'product_id':product_id, 'product_color':color,'product_size':size, 'delivery_method':delivery_method, 'product_quantity':product_quantity},
              complete: function(r){
              
					location.reload();              	


              }
           });






    });


</script>

<script type="text/javascript">






 $('#btn_buy_now').click(function() {
 

 		product_id = "<%= @product.id %>";
 		color = $( "#myProductColor option:selected" ).text();
 		size = $( "#myProductSize option:selected" ).text();
 		delivery_method = $( "#delivery_method option:selected" ).text();
 		product_quantity = document.getElementById("product_quantity").value;

 		product_model =  $( "#myProductModel option:selected" ).text();
 	
  		$.ajax({
              type: 'get',
              url: '/fill_your_order_form/'+product_id,
              dataType: 'text',
              data: {'product_color':color,'product_size':size, 'delivery_method':delivery_method, 'product_quantity':product_quantity, 'product_model':product_model},
              complete: function(r){
              
					 var currentURL = '/fill_your_order_form/'+product_id + '?product_color=' + color + '&product_size=' + size+ '&delivery_method=' + delivery_method+ '&product_quantity=' + product_quantity+ '&product_model=' + product_model;
                     window.location.href = currentURL;

              }
           });






    });


</script>



<!-- chat -->


<!--  chat box -->



  <div class="popup-box chat-popup" id="mychatbox"  style="display:none;">

    <div class="popup-head">
        <div class="popup-head-left"><%= "Seller" %></div>
        <div class="popup-head-right">
          <a href="#" id="close_chat">✕</a>
        </div>
    </div>

   


    <div class="popup_foot">

     <div id="msg_box">
       <p id="text_msg"></p>
     </div>


      <input class="form-control" id="message" rows="1"></textarea>
      <input class="btn btn-default" type="button" value="Send" id="send" style="display:none;">
    </div>
    

  </div>







  <%  if buyer_signed_in?  %>

			<script type="text/javascript">
				  
				$(document).ready(function () {
				    //$('#dialog').dialog(); 
				    $('#chat_user').click(function () {
				        $('#mychatbox').show();
				        return false;
				    });

				    $('#close_chat').click(function () {
				        $('#mychatbox').hide();
				        return false;
				    });

				    $('#send').click(function () {
				        
				      var message = document.getElementById("message").value;
				      var mychannel = "<%= current_buyer.buyer_name.to_s + @theadmin %>";
				      var sender_id = "<%= current_buyer.id %>";
				      var recipient_id = "1";



				      $.ajax({
				              type: 'get',
				              url: "/send_to_pusher?message="+message+"&recipient_id="+recipient_id+"&sender_id="+sender_id+"&channels="+mychannel,
				              complete: function(r){


				                      $("#text_msg").append("<b> You: "+message+"</b><br/> ");
				                      $("#msg_box").scrollTop($("#msg_box")[0].scrollHeight);
				                   

				              }
				           });



				    });





				});

				</script>


				<script type="text/javascript">
				  
				 // Enable pusher logging - don't include this in production
				    Pusher.log = function(message) {
				      if (window.console && window.console.log) {
				        window.console.log(message);
				      }
				    };

				    var pusher = new Pusher('b218d631b3532773d67f', {
				      encrypted: true
				    });


				     var my_channel = "<%= @theadmin + current_buyer.buyer_name.to_s %>";
				  

				    var channel = pusher.subscribe(my_channel);
				    channel.bind('my_event', function(data) {

				          $("#text_msg").append("<b id='receiver'>"+"<%= @theadmin %>: "+data.message+"</b><br/> ");
				                 
				    });

				</script>







				<script type="text/javascript">
				  

					$('#message').keypress(function (e) {
					  if (e.which == 13) {
					    $("#send").click()
					    $('#message').val('');
					  }
					});

				</script>


		


 <% end %>


