
<div class="container">
    <h3 style="text-align:center;">Invoice form </h3><hr/>




       <div class="col-md-12">
    
          <h4> Product Information</h4><hr>
          <% if params[:cart_id] == nil %>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Product Name</th>
                      <th>Color</th>
                      <th>Size
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>  
                        <%= params[:product_name] %>
                      </td>
                      <td>
                          <%= params[:product_color] %>
                      </td>
                      <td>
                          <%= params[:product_size] %>
                      </td>
                    </tr>
             
                  </tbody>
                </table>
            <% elsif params[:cart_id] != nil %>


            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Color</th>
                  <th>Size
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @line_items.each do |line_item| %>
                <tr>
                  <td>  
                     <%= line_item.product.title %>
                  </td>
                  <td>
                     <%= line_item.product.product_color %>
                  </td>
                  <td>
                     <%= line_item.product.product_size %>
                  </td>
                </tr>
                 <% end %> 
         
              </tbody>
            </table>


            <% else %>
            <% end %>



        

    

     </div>


      <div class="col-md-6">
    
          <h4> Personal Information</h4><hr>
          <div class="field">
            <p> <b>Your Name</b></p>
             <%= params[:customer_name] %>

          </div><br>
          <div class="field">
            <p><b>Your Email</b></p>
            <%= params[:customer_email] %>
          </div><br>
         
         



    

     </div>

     <div class="col-md-6">
    
          <h4> Delivery Address</h4><hr>
          <div class="field">
             <p><b>Phone</b></p>
              <%= params[:customer_phone] %>
          </div><br>
         
          <div class="field">
            <p> <b>House No., Street</b></p>
                <%= params[:customer_house] %>
          </div><br>

           <div class="field">
            <p><b>Township</b></p>
               <%= params[:customer_township] %>
          </div><br>


           <div class="field">
            <p><b>City</b></p>
            <%= params[:customer_city] %>
          </div><br>


         
     </div>
      

      <div class="col-md-12">
              <div style="height:5px;background:#337ab7;"></div>
                <br/>      <br/>    
      </div>

      <h3 style="text-align:right;"> 
           <br/>    
             Total Price: <%= params[:total_price] %> Ks
    
      </h3>


    
        



<form method="post" action="http://122.248.120.252:60145/UAT/Payment/Payment/pay">

<div style="display:none;">

        <input type="text" id="merchantID" name="merchantID" value="<%= @merchant_id %>"/><br/>

        <input type="text" id="invoiceNo" name="invoiceNo" value="<%= @invoice_no %>" /><br/>

        <input type="text" id="productDesc" name="productDesc" value="<%= @product_desc %>"/><br/>

        <input type="text" id="amount" name="amount" value="<%= @amount %>"/><br/>

        <input type="text" id="currencyCode" name="currencyCode" value="<%= @currency_code %>"/><br/>

        <input type="text" id="userDefined1" name="userDefined1" value="<%= @user_defined_1 %>" /><br/>

        <input type="text" id="userDefined2" name="userDefined2" value="<%= @user_defined_2 %>" /><br/>

          <input type="text" id="userDefined3" name="userDefined3" value="<%= @user_defined_3 %>" /><br/>


        <input type="text" id="hashValue" name="hashValue" value="<%= @aok %>" />


</div>

         <button type="submit" class="btn btn-success btn-lg"
         style="float:right;" id="my_send_btn_mpu">
           Submit Payment (MPU)
         </button>
     

       

   
</form>

   <br/><br/><br/>
         <h3  style="float:right;"> Others options</h3>
         <br/><br/><br/>

 

          <%= link_to "Bank Transfer", use_bank_transfer_path, :class=>"btn btn-primary btn-lg",
         :style=>"float:right;", :id=>"my_send_btn_bank" %>

          <br/><br/><br/>

          <%= link_to "Cash on Delivery", use_cash_on_delivery_path, :class=>"btn btn-primary btn-lg",
         :style=>"float:right;", :id=>"my_send_btn_cod" %>

         <br/><br/> <br/><br/>



</div>

      
      <!--  -->


    <script type="text/javascript">
  
       


            // for mpu
            $('#my_send_btn_mpu').click(function () {
                
          

              var buyer_name = "<%= params[:customer_name] %>";
              var buyer_email = "<%= params[:customer_email] %>";
              var buyer_phone = "<%= params[:customer_phone] %>";
              var buyer_township = "<%= params[:customer_township] %>";
              var buyer_city = "<%= params[:customer_city] %>";
              var buyer_address = "<%= params[:customer_house] %>";
              var cart_id = "<%= params[:cart_id] %>";
              var order_status =   "unpaid";
              var payment_type = "MPU";


              var product_name = "<%= params[:product_name] %>";
              var product_size = " <%= params[:product_size] %>";
              var product_color = "<%= params[:product_color] %>";
              var product_message = "<%= params[:product_message] %>";


              $.ajax({
                      type: 'get',
                      url: "send_to_order?buyer_name="+buyer_name+"&payment_type="+payment_type+
                       "&buyer_email="+buyer_email+
                       "&buyer_phone="+buyer_phone+
                       "&buyer_township="+buyer_township+
                       "&buyer_city="+buyer_city+
                       "&buyer_address="+buyer_address+
                       "&cart_id="+cart_id+
                       "&product_name="+product_name+
                       "&product_size="+product_size+
                       "&product_color="+product_color+
                       "&product_message="+product_message,

                      complete: function(r){
      
                      }
                   });

                  
                
            });




</script>

<script type="text/javascript">
  



            // for bank transfer
            $('#my_send_btn_bank').click(function () {
                
          
          
              var buyer_name = "<%= params[:customer_name] %>";
              var buyer_email = "<%= params[:customer_email] %>";
              var buyer_phone = "<%= params[:customer_phone] %>";
              var buyer_township = "<%= params[:customer_township] %>";
              var buyer_city = "<%= params[:customer_city] %>";
              var buyer_address = "<%= params[:customer_house] %>";
              var cart_id = "<%= params[:cart_id] %>";
              var order_status =   "unpaid";
              var payment_type = "BankTransfer";


              var product_name = "<%= params[:product_name] %>";
              var product_size = " <%= params[:product_size] %>";
              var product_color = "<%= params[:product_color] %>";
              var product_message = "<%= params[:product_message] %>";


              $.ajax({
                      type: 'get',
                      url: "send_to_order?buyer_name="+buyer_name+"&payment_type="+payment_type+
                       "&buyer_email="+buyer_email+
                       "&buyer_phone="+buyer_phone+
                       "&buyer_township="+buyer_township+
                       "&buyer_city="+buyer_city+
                       "&buyer_address="+buyer_address+
                       "&cart_id="+cart_id+
                       "&product_name="+product_name+
                       "&product_size="+product_size+
                       "&product_color="+product_color+
                       "&product_message="+product_message,

                      complete: function(r){
      
                      }
                   });

                  
                
            });

</script>

<script type="text/javascript">
  

            // cod
            $('#my_send_btn_cod').click(function () {
                
          

              var buyer_name = "<%= params[:customer_name] %>";
              var buyer_email = "<%= params[:customer_email] %>";
              var buyer_phone = "<%= params[:customer_phone] %>";
              var buyer_township = "<%= params[:customer_township] %>";
              var buyer_city = "<%= params[:customer_city] %>";
              var buyer_address = "<%= params[:customer_house] %>";
              var cart_id = "<%= params[:cart_id] %>";
              var order_status =   "unpaid";
              var payment_type = "CashOnDelivery";


              var product_name = "<%= params[:product_name] %>";
              var product_size = " <%= params[:product_size] %>";
              var product_color = "<%= params[:product_color] %>";
              var product_message = "<%= params[:product_message] %>";


              $.ajax({
                      type: 'get',
                      url: "send_to_order?buyer_name="+buyer_name+"&payment_type="+payment_type+
                       "&buyer_email="+buyer_email+
                       "&buyer_phone="+buyer_phone+
                       "&buyer_township="+buyer_township+
                       "&buyer_city="+buyer_city+
                       "&buyer_address="+buyer_address+
                       "&cart_id="+cart_id+
                       "&product_name="+product_name+
                       "&product_size="+product_size+
                       "&product_color="+product_color+
                       "&product_message="+product_message,

                      complete: function(r){


      
                      }
                   });

                  
                
            });

    

</script>