<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  				
<h3 class="the_header">
<%= t("Terms_and_Conditions")%>
</h3><br/>


<h3 class="the_header">1. Payment</h3><br/>
<b>1.1 Cash Deposit</b><br/>
<p>
<%= t("cash_deposit_paragraph")%>
</p><br/>

<b>1.2 Bank Transfer</b><br/>
<p>
<%= t("bank_transfer_paragraph")%>
</p>
<br/>

<b>1.3 MPU</b><br/>
<p>
<%= t("mpu_paragraph")%>
</p><br/>

<b>1.4 Visa/Master </b><br/>
<p>
<%= t("visa_paragraph")%>
</p><br/>



<h3 class="the_header">2. Shipping and Delivery</h3><br/>
<p>
<%= t("ship_delivery")%>
</p>



<h3 class="the_header">3. Cancel and Refund </h3><br/>
<p>
<%= t("cancel_refund_paragraph")%>
</p>
<p> <b>3.1</b>
<%= t("cancel_refund_paragraph_1")%>
 </p>
<p>
<%= t("cancel_refund_paragraph_2")%>
</p>
<p><b>3.2</b> 
<%= t("cancel_refund_paragraph_3")%>
</p>


<h3 class="the_header">4. Exchange and Return </h3><br/>
<p>
<%= t("exchange_return_paragraph")%>
</p>
<br/>       



  		</div>
  </div>
</div>



    
  

