<div class="row">
  <div class="container" >



<h5>

  <%= t('payment_txtone') %>   
  [..............Ks] 
  <%= t('payment_txttwo') %>   
  <%= t('payment_txtthree') %>   


</h5>
<br/>



      <div class="well well-lg">
        <b>
          <%= t('cash_deposit_txt') %>   
        </b>

        <h3 class="the_header"><%= t('office_address') %></h3><hr/>
            <%= t('office_address_1') %> <br/>
            <%= t('office_address_2') %> <br/>
            <%= t('office_address_3') %><br/>

      <br/><br/><br/>
      </div> 
  </div>
</div>