

<div class="rows">
 	<h4 id="slider_home_title"> View image</h4><hr/>
 </div>

<div class="rows">

		<div class="col-md-4"></div>
		<div class="col-md-4">
		    <center>
			 <%= image_tag @product.avatar1.url(:original), :id => "zoom_pic_small_1" %>
			 <%= image_tag @product.avatar2.url(:original), :id => "zoom_pic_small_2" %>
			 <%= image_tag @product.avatar3.url(:original), :id => "zoom_pic_small_3" %>
			 <%= image_tag @product.avatar4.url(:original), :id => "zoom_pic_small_4" %>
			 <%= image_tag @product.avatar5.url(:original), :id => "zoom_pic_small_5" %>
		</div>
	   <div class="col-md-4"></div>

</div>



<div class="container" >



    <br/><br/><br/>
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="panel panel-default">
			  <div class="panel-body">
			    <center>
				    <span class='zoom' id='ex1'>
					 <%= image_tag @product.avatar1.url(:original), :id => "zoom_pic" %>
					</span>	



					

				
					
					
			    </center>
			  </div>
		</div>
	</div>
	<div class="col-md-4"></div>
	

</div>



<script type="text/javascript">
	

$(document).ready(function(){
			$('#ex1').zoom();
		});


</script>



<script>


    $('#zoom_pic_small_1').click(function(){

 	  var aok = document.getElementById("zoom_pic_small_1").src;
 	  document.getElementById("zoom_pic").src = aok;
     	  $('.zoomImg').attr('src', aok);


 });



 $('#zoom_pic_small_2').click(function(){

 	  var aok = document.getElementById("zoom_pic_small_2").src;
 	  document.getElementById("zoom_pic").src = aok;
 	  $('.zoomImg').attr('src', aok);


 	 


 });



  $('#zoom_pic_small_3').click(function(){

 	  var aok = document.getElementById("zoom_pic_small_3").src;
 	  document.getElementById("zoom_pic").src = aok;
 	  document.getElementsByClassName("zoomImg").src = aok;
 	 	  $('.zoomImg').attr('src', aok);
    


 });


    $('#zoom_pic_small_4').click(function(){

 	  var aok = document.getElementById("zoom_pic_small_4").src;
 	  document.getElementById("zoom_pic").src = aok;
     	  $('.zoomImg').attr('src', aok);


 });



      $('#zoom_pic_small_5').click(function(){

 	  var aok = document.getElementById("zoom_pic_small_5").src;
 	  document.getElementById("zoom_pic").src = aok;
     	  $('.zoomImg').attr('src', aok);


 });




  

   




</script>










	<style>


		/* these styles are for the demo, but are not required for the plugin */
		.zoom {
			display:inline-block;
			position: relative;
		}
		
		/* magnifying glass icon */
		.zoom:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
			background:url(icon.png);
		}

		.zoom img {
			display: block;
		}

		.zoom img::selection { background-color: transparent; }

		#ex2 img:hover { cursor: url(grab.cur), default; }
		#ex2 img:active { cursor: url(grabbed.cur), default; }
	</style>