<%= javascript_include_tag 'quill.js' %>


<div class="panel panel-default">
  <div class="panel-body">
    		<div class="col-md-12">
    		<h3>Edit Product
        <%= @product.specsq %>
        <br>
        <%= @raw_product %>



        </h3>
    		<hr/>
    		</div>
			   <%= render 'form' %>
  </div>
</div>




<script>
  var editor = new Quill('#editor', {
    modules: { toolbar: '#toolbar' },
    theme: 'snow'
  });


  var editor_desc = new Quill('#editor_desc', {
    modules: { toolbar: '#toolbar_desc' },
    theme: 'snow'
  });



</script>

<script>


$("#mysubmitbutton").click(function(e) {
  e.preventDefault();

// notice



      var a = document.getElementById('editor').firstChild.innerHTML;
       if (a == "<p><br></p>") {

         document.getElementById('product_notice').value = '<%= @product_notice.html_safe %>';
       }
       else if (a == "<%= @product_notice %>"){
                document.getElementById('product_notice').value = '<%= @product_notice.html_safe %>';
       }
       else{
         document.getElementById('product_notice').value = a;
       }


// descitpon
       var b = document.getElementById('editor_desc').firstChild.innerHTML;

       if (b == "<p><br></p>") {

         document.getElementById('product_description').value = '<%= @product_description.html_safe %>';

       }
       else if (b == "<%= @product_description %>"){
                document.getElementById('product_description').value = '<%= @product_description.html_safe %>';
       }
       else{
         document.getElementById('product_description').value = b;
       }



      var product_sizes = $('#tags_size span').text();
      document.getElementById('product_product_size').value = product_sizes;


      var product_colors = $('#tags_color span').text();
      document.getElementById('product_product_color').value = product_colors;


      var product_models = $('#tags_model span').text();
      document.getElementById('product_product_model').value = product_models;



      //  var title =  document.getElementById('product_title').value;
      // if (title == "") {
      //     alert("Title must be filled out");
      //     return false;
      // }


      //  var short_title =  document.getElementById('product_short_title').value;
      // if (short_title == "") {
      //     alert("Short Title must be filled out");
      //     return false;
      // }


      // var product_quantity =  document.getElementById('product_quantity').value;
      // if (product_quantity == "") {
      //     alert("Quantity must be filled out");
      //     return false;
      // }


      // var product_actual_price =  document.getElementById('product_actual_price').value;
      // if (product_actual_price == "") {
      //     alert("Actual Price must be filled out");
      //     return false;
      // }


      // var product_discount_price =  document.getElementById('product_discount_price').value;
      // if (product_discount_price == "") {
      //     alert("Offer Price must be filled out");
      //     return false;
      // }


      // var product_start_to_sell_on =  document.getElementById('product_start_to_sell_on').value;
      // if (product_start_to_sell_on == "") {
      //     alert("Product started to sell time must be filled out");
      //     return false;
      // }



      // var product_end_on =  document.getElementById('product_end_on').value;
      // if (product_end_on == "") {
      //     alert("Product sales end time must be filled out");
      //     return false;
      // }




      
      $("#edit_product_<%= @product.id %>").submit();
});





</script>


<script type="text/javascript">
  
  $(document).ready(function(){

  
    document.getElementById("editor_desc").getElementsByClassName("ql-editor ql-blank")[0].innerHTML = "<%= @product_description.gsub('"',"'").html_safe %>";
    document.getElementById("editor").getElementsByClassName("ql-editor ql-blank")[0].innerHTML = "<%= @product_notice.gsub('"',"'").html_safe %>";

    document.getElementById("tags_size").innerHTML =  "<%= @product_size.html_safe %>";
    document.getElementById("tags_model").innerHTML =  "<%= @product_model.html_safe %>";
    document.getElementById("tags_color").innerHTML =  "<%= @product_color.html_safe %>";


// product spec

 
   $("#oldspec1").remove();
   $("#oldspec2").remove();

  var raw_specq_array = "<%= @specsq %>"
  var specq_array = raw_specq_array.split(',');

  var raw_speca_array = "<%= @specsa %>"
  var speca_array = raw_speca_array.split(',');


  for (var i = 0; i < specq_array.length; i++) {

      var textarea =  $('<input multiple="multiple" class="form-control" type="text" name="product[specsq][]" id="product_specsq" value='+specq_array[i].replace("]","").replace("[","")+'>');
      $('#cont_q').append(textarea);
        
    }



  for (var i = 0; i < speca_array.length; i++) {

      var textarea =  $('<input multiple="multiple" class="form-control" type="text" name="product[specsa][]" id="product_specsa" value='+speca_array[i].replace("]","").replace("[","")+'>');
      $('#cont_a').append(textarea);
        
    }




  // 




  // product question

 
   $("#oldquestion").remove();
   $("#oldquestionandanswer").remove();


  var raw_question_array = "<%= @question %>"
  var question_array = raw_question_array.split(',');

  var raw_answer_array = "<%= @answer %>"
  var answer_array = raw_answer_array.split(',');


 

for (var i = 0; i < question_array.length; i++) {

      var textarea =  $('<br/><input multiple="multiple" class="form-control" type="text" name="product[question][]" id="product_question" value='+question_array[i].replace("]","").replace("[","")+'>');
      $('#contquestion_q').append(textarea);
        
    }



  for (var i = 0; i < answer_array.length; i++) {

      var textarea =  $('<br/><input multiple="multiple" class="form-control" type="text" name="product[answer][]" id="product_answer" value='+answer_array[i].replace("]","").replace("[","")+'>');
      $('#contanswer_a').append(textarea);
        
    }


  // 








    $(function(){ // DOM ready

  // ::: TAGS BOX

      $("#tags_size input").on({
        focusout : function() {
          var mytxt = this.value.replace(/[^a-z0-9\+\-\.\#]/ig,''); // allowed characters
          var txt = mytxt;
          if(txt) $("<span/>", {text:txt+",", insertBefore:this});
          this.value = "";
        },
        keyup : function(ev) {
          // if: comma|enter (delimit more keyCodes with | pipe)
          if(/(188|13)/.test(ev.which)) $(this).focusout(); 
        }
      });
      $('#tags_size').on('click', 'span', function() {
        $(this).remove(); 
      });



       $("#tags_color input").on({
    focusout : function() {
      var mytxt = this.value.replace(/[^a-z0-9\+\-\.\#]/ig,''); // allowed characters
      var txt = mytxt;
      if(txt) $("<span/>", {text:txt+",", insertBefore:this});
      this.value = "";
    },
    keyup : function(ev) {
      // if: comma|enter (delimit more keyCodes with | pipe)
      if(/(188|13)/.test(ev.which)) $(this).focusout(); 
    }
  });
  $('#tags_color').on('click', 'span', function() {
    $(this).remove(); 
  });


    $("#tags_model input").on({
    focusout : function() {
      var mytxt = this.value.replace(/[^a-z0-9\+\-\.\#]/ig,''); // allowed characters
      var txt = mytxt;
      if(txt) $("<span/>", {text:txt+",", insertBefore:this});
      this.value = "";
    },
    keyup : function(ev) {
      // if: comma|enter (delimit more keyCodes with | pipe)
      if(/(188|13)/.test(ev.which)) $(this).focusout(); 
    }
  });
  $('#tags_model').on('click', 'span', function() {
    $(this).remove(); 
  });




});



});


</script>


