
<div class="panel panel-default">
  <div class="panel-body">
      <div class="col-md-12">
    <h3>New Product
     <%= link_to 'Add Product', new_product_path, :class => "btn btn-default", :id => "add_product" %>
     <br/><br/><br/>

     <form class="form-inline" method="/products">
        <div class="form-group">
          <label for="exampleInputName2">
            Search by
          </label>
          <input type="text" class="form-control" id="product_title" placeholder="title" name="product_title">
        </div>
        <div class="form-group">or
          <input type="text" class="form-control" id="product_category" placeholder="category" name="product_category">
        </div>
        <button type="submit" class="btn btn-default"> Search now</button>
      </form>



    </h3><hr/>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Actual price (SGD)</th>
          <th>Discount price (SGD)</th>
          <th>Category</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>



           <% if Time.now.to_datetime.between?(product.start_to_sell_on.to_datetime-1,product.end_on.to_datetime) && Time.now.strftime("%H").to_i.between?(product.start_to_sell_on.to_datetime.strftime("%H").to_i, product.end_on.to_datetime.strftime("%H").to_i) %>
              <tr>
                <td><%= product.title %></td>
                <td><%= product.actual_price %> SGD</td>
                <td><%= product.discount_price %> SGD</td>
                <td><%= product.product_category %></td>
                <td><%= link_to 'Show', product %></td>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>

    <br>
    </div>

   

    </div>
</div>
