
<div class="panel panel-default">
  <div class="panel-body">
      <div class="col-md-12">
    <h3>New Product
     <%= link_to 'Add Product', new_product_path, :class => "btn btn-default", :id => "add_product" %>
     <br/><br/><br/>

     <form class="form-inline" method="/products">
        <div class="form-group">
          <label for="exampleInputName2">
            Search by
          </label>
          <input type="text" class="form-control" id="product_title" placeholder="title" name="product_title">
        </div>
        <div class="form-group">or
          <input type="text" class="form-control" id="product_category" placeholder="category" name="product_category">
        </div>
        <button type="submit" class="btn btn-default"> Search now</button>
      </form>
           <%= link_to 'Time sales', products_path(:time_sale=>"1"), :class => "btn btn-default", :id => "add_product" %>


    </h3><hr/>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Actual price (SGD)</th>
          <th>Offer price (SGD)</th>
          <th>Category</th>
          <th>TimePlan</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>




              <tr>
                <td><%= product.short_title %></td>
                <td><%= product.actual_price %> SGD</td>
                <td><%= product.discount_price %> SGD</td>
                <td><%= product.product_category %></td>
                <% if Time.current.utc.localtime.between?(product.start_to_sell_on.strftime("%Y-%m-%d %I:%M:%S +0630"),product.end_on.strftime("%Y-%m-%d %I:%M:%S +0630")) %>
                  <td> <p id="running">Running </p></td>
                <% else %>
                   <td><p id="expire"> Expired </p></td>
                <% end %>
                <td><%= link_to 'Show', product %></td>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    </div>

   

    </div>
</div>
