
<div class="panel panel-default">
  <div class="panel-body">
	<div class="rows">
		<div class="col-md-12">
			    <h3>Product Info</h3><hr/>
				<p>
				  <strong>Title:</strong>
				  <%= @product.title %>
				</p>

				<p>
				  <strong>Size:</strong>
				  <%= @product.product_size %>
				</p>

				<p>
				  <strong>Color:</strong>
				  <%= @product.product_color %>
				</p>




				<p>
				  <strong>Actual price:</strong>
				  <%= @product.actual_price %>
				</p>

				<p>
				  <strong>Discount price:</strong>
				  <%= @product.discount_price %>
				</p>

				<p>
				  <strong>Quantity:</strong>
				  <%= @product.quantity %>
				</p>


				<p>
				  <strong>category:</strong>
				  <%= @product.product_category %>
				</p>

				<p>
				  <strong>sub category:</strong>
				  <%= @product.product_subcategory %>
				</p>


				<h3>Delivery Info</h3><hr/>

				<p>
				  <strong>Pick up:</strong>
				  <% if @product.pick_up == "0" %>
				  			No
				   <% end %>
				   <% if @product.pick_up == "1" %>
				  			Yes
				   <% end %>
				</p>


				<p>
				  <strong>Self Delivery:</strong>
				   <% if @product.ebuy_delivery == "0" %>
				  			No
				   <% end %>
				   <% if @product.ebuy_delivery == "1" %>
				  			Yes
				   <% end %>
				</p>


				<p>
				  <strong>Delivery time:</strong>
				  <%= @product.delivery_time %> days
				</p>
		</div>


		<div class="col-md-12">

		<h3> Specification</h3><hr/>

			<table class="table table-bordered">
			      <thead>
			        <tr>
			          <th>Fields</th>
			          <th>Value</th>
			        </tr>
			      </thead>
			      <tbody>
			      <% @product.specsq.zip ( @product.specsa).each do |question, answer| %>
			        <tr>
			          <td><%= question %></td>
			          <td><%= answer %></td>
			        </tr>
			       <% end %>
			       
			       
			      </tbody>
			</table>


		</div>



		<div class="col-md-12">

		<h3> Question and Answer</h3><hr/>


		 <% @product.question.zip ( @product.answer).each do |question, answer| %>

			  <p class="question"><%= question %></p>
			  <p class="answer"><%= answer %></p>
		<% end %>

		</div>

		<div class="col-md-12">

		<h3>Product Images</h3><hr/>
		
			<div class="col-md-2">
			  <%= image_tag @product.avatar1.url(:medium), :id => "product_image_info" %>
			</div>
			<div class="col-md-2">
				 <%= image_tag @product.avatar2.url(:medium), :id => "product_image_info" %>
			</div>
			<div class="col-md-2">
				 <%= image_tag @product.avatar3.url(:medium), :id => "product_image_info" %>
			</div>

			<div class="col-md-2">
				 <%= image_tag @product.avatar4.url(:medium), :id => "product_image_info" %>
			</div>

				<div class="col-md-2">
				 <%= image_tag @product.avatar5.url(:medium), :id => "product_image_info" %>
			</div>

		</div>

		<div class="col-md-12">

		<h3>Other Product</h3><hr/>
		
			<div class="col-md-2">
			  <%= image_tag @product.other_avatar1.url(:medium), :id => "product_image_info" %>
			 <p style="font-size:18px;">
			 	<%= @product.product_code_1 %>
			 </p>
			</div>
			<div class="col-md-2">
				 <%= image_tag @product.other_avatar2.url(:medium), :id => "product_image_info" %>
				  <p style="font-size:18px;">
				 <%= @product.product_code_2 %>
				 </p>
			</div>
			<div class="col-md-2">
				 <%= image_tag @product.other_avatar3.url(:medium), :id => "product_image_info" %>
				  <p style="font-size:18px;">
				 <%= @product.product_code_3 %>
				 </p>
			</div>

			<div class="col-md-2">
				 <%= image_tag @product.other_avatar4.url(:medium), :id => "product_image_info" %>
				  <p style="font-size:18px;">
				 <%= @product.product_code_4 %>
				 </p>
			</div>

				<div class="col-md-2">
				 <%= image_tag @product.other_avatar5.url(:medium), :id => "product_image_info" %>
				  <p style="font-size:18px;">
				 <%= @product.product_code_5 %>
				 </p>
			</div>

		</div>


		<div class="col-md-12">
			<br/><p>
				<strong>Start to sell on:</strong>
				<%= @product.start_to_sell_on %>
			</p>

			<br/><p>
				<strong>End on:</strong>
				<%= @product.end_on %>
			</p>
		</div>


		<div class="col-md-12">
		  <strong>Notice:</strong>
		  <p><%= @product.notice.html_safe %></p>

		</div>


		<div class="col-md-12">
		  <strong>Description:</strong>
		  <p><%= @product.description.html_safe %></p>

		</div>

		<div class="col-md-12"><br/>
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %>
		</div>



	</div>
  



 </div>
</div>
