<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


<div class="container"> 

<h4 style="text-align:center;"> eBuy checkout list </h4>
<br/>
<br/>
  <table class="table">
          <% @line_items.each do |line_item| %>
                      <tr>
                        <td style="width:30%;">
                          <a href="#">
                            <%= image_tag line_item.product.avatar1.url(:medium), :class => "img-thumbnail img-responsive" %>
                          </a>
                        </td>
                        <td >
                          <a href="#">
                            <%= line_item.product.title %>
                          </a>
                        </td>
                        <td >x <%= line_item.quantity %></td>
                        <td ><%= (line_item.total_price) %> MMK</td>
                        <td ><%= link_to 'remove',line_item, method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-danger" %></td>
                      </tr>
         <% end %> 




  </table>
  <hr/>
  <br/>
  <div style="float:right;width:30%;">
    Total Price: <%= (@cart.total_price) %> Ks
    <button id="opener" class="btn btn-small"> Get Coupons</button>
    <br/> <br/>

    Coupon Code:
    <input id="coupon_code"   >
    <button class="btn btn-default" id="send_coupon"> use</button>
    <br/> <br/>
    Final Price:
    <input id="checkout_price" placeholder="checkout_price">
    <br/> <br/>
    <%= link_to 'Fill up order form', order_form_path, :class => "btn btn-primary"  %>
  </div>
  <br/>


</div>


  <br/>
  <br/>



<!-- coupon dialog -->



<div id="dialog1" title="Coupon list" hidden="hidden" style="width:900px;">


   <table class="table table-hover">
      <thead>
        <tr>
          <th>Coupon</th>
          <th>Percentage</th>
          <th>limit</th>
          <th>Expire on</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @coupons.each do |coupon| %>
          <tr>
            <td><%= coupon.title %></td>
            <td><%= coupon.discount_percentage %></td>
            <td><%= coupon.limitation %></td>
            <td><%= coupon.expire_date %></td>
            <td> 
            <button id="apply_co" value="<%= coupon.title %>" onClick='reply_click(this)'> Add</button>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>


 


</div>

 <script>

    $(function () {
      $( "#dialog1" ).dialog({
         resizable: false,
         autoOpen: false,
         width: 'auto'

      });
      
      $("#opener").click(function() {
        $("#dialog1").dialog('open');
      });
    });

  </script>


<script type="text/javascript">

    function reply_click(objButton)
    {
        var code = objButton.value;
        document.getElementById("coupon_code").value = code;
    }

</script>


<script type="text/javascript">
  
 $('#send_coupon').click(function() {
 

    coupon_code = document.getElementById("coupon_code").value;
    limitation = "<%= (@cart.total_price) %>";


      $.ajax({
              type: 'get',
              url: 'use_coupon',
              dataType: 'text',
              data: {'title':coupon_code, 'limitation':limitation},
              complete: function(r){
              
                  raw_discount_price = r.responseText;
                  clean_discount_price = raw_discount_price.replace('{:discount_price=>["', "");
                  discount_percent = clean_discount_price.replace('"]}', "");
                 
                  // couopon calculation
                  var percentage = parseFloat(discount_percent/100);
                  var descrease_amount =  parseInt(percentage*limitation);
                  var actual_amount = parseInt(limitation-descrease_amount)

                  document.getElementById("checkout_price").value = actual_amount;
         



              }
           });






    });


</script>


