<!-- 	<div class="row" id="the_footer">
	  <div class="col-md-2">
	  	<a href="/"><%= image_tag "logo.png", :id=>"my_logo", :alt=>"eBuy" %></a>
	  </div>
	  <div class="col-md-4">
	  		<h1 id="ebuy_title">eBuy Myanmar </h1>
			<p id="ebuy_second"> Company Limited</p>
	  </div>
	  <div class="col-md-6" style="text-align:center;font-size:13px;">

	  		<span >
	  		<%= t("address_1")%></span><br/>
			<span>
		    <%= t("address_2")%>
			</span><br/>
			<span>
		     <%= t("address_3")%>
			</span><br/>
			<span><%= t("email")%>
			<a href="">service@eBuymyanmar.com </a></span><br/>
			<span><%= t("website")%> : 
			<a href="">www.eBuymyanmar.com </a></span>
	  </div>
	</div>
	<div class="row" id="search_row">
		 <div class="col-md-2"> 
		 </div>
		  <div class="col-md-2">
		  		<span id="website_name">ebuymyanmar.com </span>
				
		  </div>
		  <div class="col-md-6">

	


              <%= form_tag(search_result_path, :method => "get") do %> 
                                   
                        <div class="input-group" style="width:500px;"> 
                                <%= text_field_tag :title, params[:title], :placeholder => "search for products and brands", :class=>"form-control" %>
                               <div class="input-group-addon" type="submit"> 
                               		Search
                               </div>

                        </div>
			      			                    
              <% end %>




		  </div>
		  <div class="col-md-4"></div>
    </div>

 -->



 <div class="row" id="the_footer">


      <div class="col-md-3">
	  	<a href="/"><%= image_tag "logo.png", :id=>"my_logo", :alt=>"eBuy" %></a>
	  </div>

	  <div class="col-md-4">
	  		<h1 id="ebuy_title">eBuy Myanmar </h1>
			<p id="ebuy_second"> Company Limited</p>
	  </div>
	   <div class="col-md-5" style="text-align:center;font-size:16px;">
	   		<div id="company_address">
		   		<span><%= t("address_1")%></span><br/>
				<span><%= t("address_2")%></span><br/>
				<span><%= t("address_3")%></span><br/>
				<span>
						<%= t("email")%>
						<a href="">service@eBuymyanmar.com </a>
				</span><br/>
				<span>
						<%= t("website")%> : 
						<a href="">www.eBuymyanmar.com </a>
				</span>
				 
			</div>

	  </div>

	  <div class="col-md-5"></div>
	  <div class="col-md-8" id="search_bar">

	  		<%= form_tag(search_result_path, :method => "get") do %> 
                                   
                        <div class="input-group"> 
                                <%= text_field_tag :title, params[:title], :placeholder => "search for products and brands", :class=>"form-control" %>
                               <div class="input-group-addon" type="submit"> 
                               		Search
                               </div>

                        </div>
			      			                    
              <% end %>


	  </div>



 </div>