

<div class="row" id="the_footer">


      <div class="col-md-3">
	  	<a href="/"><%= image_tag "logo.png", :id=>"my_logo", :alt=>"eBuy" %></a>
	  </div>

	  <div class="col-md-4">
	  		<h1 id="ebuy_title">eBuy Myanmar </h1>
			<p id="ebuy_second"> Company Limited</p>
	  </div>
	   <div class="col-md-5" style="text-align:center;font-size:16px;">
	   		<div id="company_address">
		   		<span style="font-size:12px;font-weight:bold;"><%= t("address_1")%></span><br/>
				<span style="font-size:12px;font-weight:bold;"><%= t("address_2")%></span><br/>
				
				<span style="font-size:12px;font-weight:bold;">

					<%= t("tel")%> <a href="tel:09779825801"><%= t("phone1")%></a>
					<a href="tel:09779825801"><%= t("phone2")%></a>
				</span><br/>
				
				<span  style="font-size:12px;font-weight:bold;">
						<%= t("email")%>:
						<a href="">enquire@eBuymyanmar.com </a>
				</span><br/>
				<span  style="font-size:12px;font-weight:bold;">
						<%= t("website")%>: 
						<a href="">www.eBuymyanmar.com </a>
				</span>
				 
			</div>

	  </div>

	  <div class="col-md-5"></div>
	  <div class="col-md-8" id="search_bar">




	  		<%= form_tag(search_result_path, :method => "get", :id => "search_result") do %> 
                                   
                        <div class="input-group"> 


                                <%= text_field_tag :mytitle, params[:title], :placeholder => "search for products and brands", :class=>"form-control" %>

                               <div class="input-group-addon" type="submit" id="mysubmit_search"> 
                               		Search
                               </div>

                        </div>
			      			                    
              <% end %>





	  </div>



 </div>


<script type="text/javascript">

	window.onload = function() {

	    document.getElementById('mysubmit_search').onclick = function() {

			
	        document.getElementById('search_result').submit();
	        return false;
	    };
   
	};


</script>


  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>

  $( function() {

  	var rawdatalist = "<%= raw @myproductlist %>";
  	 var mydatalist = rawdatalist.split(',');
  	 

    var availableTags = mydatalist;


    $( "#mytitle" ).autocomplete({
      source: availableTags
    });
  } );


  </script>

