	<nav class="navbar navbar-default" id="menu_header">
	  <div class="navbar-header">
	    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>

	  
	  </div>

	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	    	<!-- authentic brand zone -->
	    	<li id="all_categories"><a id="menulink"> <%= t("all_categories")%> </a></li>
	      	<li class="dropdown">

		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('AllProductsonAuthenticBrandZone') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		          <li><a tabindex="0"><%= t('AllProductsonAuthenticBrandZone') %></a></li>
		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('WomensFashion') %> </a>

		            <ul class="dropdown-menu">
		              <li><a tabindex="0"><%= t('WomensApparel') %></a></li>
					  <li><a tabindex="0"><%= t('ShoesandFootwear') %></a></li>
					  <li><a tabindex="0"><%= t('BagsWallets') %></a></li>
					  <li><a tabindex="0"><%= t('WatchesandGlasses') %></a></li>
					  <li><a tabindex="0"><%= t('Jewellery') %></a></li>
		            </ul>
		          </li>

		           <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('MensFashion') %> </a>

		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('MensApparel') %></a></li>
						<li><a tabindex="0"><%= t('ShoesandFootwear') %></a></li>
						<li><a tabindex="0"><%= t('BagsandWallets') %></a></li>
						<li><a tabindex="0"><%= t('WatchesandGlasses') %></a></li>
						<li><a tabindex="0"><%= t('Jewellery') %></a></li>
		            </ul>
		          </li>



		           <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('DigitalMobileandElectricalAppliances') %> </a>

		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('PhonesandTablets') %></a></li>
						<li><a tabindex="0"><%= t('ComputersandLaptops') %></a></li>
						<li><a tabindex="0"><%= t('TVVideoandPlayer') %></a></li>
						<li><a tabindex="0"><%= t('AudioandHiFi') %></a></li>
						<li><a tabindex="0"><%= t('CameraandPhoto') %></a></li>
						<li><a tabindex="0"><%= t('Gaming') %></a></li>
						<li><a tabindex="0"><%= t('HomeAppliances') %></a></li>
		            </ul>
		          </li>

		           <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('HomeandLiving') %> </a>

					    <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('LivingRoomSupplies') %></a></li>
							<li><a tabindex="0"><%= t('BedroomAppliances') %></a></li>
							<li><a tabindex="0"><%= t('BathroomProducts') %></a></li>
							<li><a tabindex="0"><%= t('GarmentCare') %></a></li>
							<li><a tabindex="0"><%= t('KitchenandDining') %></a></li>
							<li><a tabindex="0"><%= t('Housekeeping') %></a></li>
							<li><a tabindex="0"><%= t('HomeDecoration') %></a></li>
							<li><a tabindex="0"><%= t('OutdoorandGarden') %></a></li>
					 	</ul>
		          </li>




 				<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('HealthandBeauty') %></a>
     					<ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('BathandBodySupplies') %></a></li>
							<li><a tabindex="0"><%= t('SkinCare') %></a></li>
							<li><a tabindex="0"><%= t('EyeCare') %></a></li>
							<li><a tabindex="0"><%= t('HairCare') %></a></li>
							<li><a tabindex="0"><%= t('HandCare') %></a></li>
							<li><a tabindex="0"><%= t('DentalCare') %></a></li>
							<li><a tabindex="0"><%= t('Perfumes') %></a></li>
							<li><a tabindex="0"><%= t('ShavingSupplies') %></a></li>
							<li><a tabindex="0"><%= t('FoodSupplements') %></a></li>
							<li><a tabindex="0"><%= t('HealthandBeautyTools') %></a></li>
	 					</ul>
		          </li>

			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('FoodandBeverage') %></a>
 					<ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('VegetableProducts') %></a></li>
						<li><a tabindex="0"><%= t('Confectionery') %></a></li>
						<li><a tabindex="0"><%= t('BakedGoods') %></a></li>
						<li><a tabindex="0"><%= t('GrainProducts') %></a></li>
						<li><a tabindex="0"><%= t('FoodIngredients') %></a></li>
						<li><a tabindex="0"><%= t('DairyProducts') %></a></li>
						<li><a tabindex="0"><%= t('HoneyProducts') %></a></li>
						<li><a tabindex="0"><%= t('MeatandMeatandMeatProducts') %></a></li>
						<li><a tabindex="0"><%= t('EggandEggProducts') %></a></li>
						<li><a tabindex="0"><%= t('SeafoodandSeafoodProducts') %></a></li>
						<li><a tabindex="0"><%= t('Coffee') %></a></li>
						<li><a tabindex="0"><%= t('InstantFood') %></a></li>
						<li><a tabindex="0"><%= t('CannedFood') %></a></li>
						<li><a tabindex="0"><%= t('BabyFood') %></a></li>
						<li><a tabindex="0"><%= t('Beverage') %></a></li>
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">><%= t('KidBabyandMaternity') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('KidsFashion') %></a></li>
						<li><a tabindex="0"><%= t('BabyCare') %></a></li>
						<li><a tabindex="0"><%= t('BabyFeeding') %></a></li>
						<li><a tabindex="0"><%= t('Toys') %></a></li>
						<li><a tabindex="0"><%= t('MaternityCare') %></a></li>
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('SportsOutdoorsandEntertainment') %></a>
 					<ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('IndoorSportSupplies') %></a></li>
						<li><a tabindex="0"><%= t('OutdoorSportSupplies') %></a></li>
						<li><a tabindex="0"><%= t('OutdoorRecreation') %></a></li>
						<li><a tabindex="0"><%= t('Entertainment') %></a></li>
					</ul>
			</li>


 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('OfficeandSchoolSupplies') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('EducationSupplies') %></a></li>
						<li><a tabindex="0"><%= t('OfficeSupplies') %></a></li>
						<li><a tabindex="0"><%= t('ArtSupplies') %></a></li>
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('LightsandLightings') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('LightsandLightings') %></a></li>
						<li><a tabindex="0"><%= t('IndoorLightings') %></a></li>
						<li><a tabindex="0"><%= t('OutdoorLightings') %></a></li>
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">><%= t('Transportation') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('Bicycles') %></a></li>
						<li><a tabindex="0"><%= t('AutomobilesandMotorcycles') %></a></li>
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('ElectronicElectricalandMechanicalProducts') %></a>
 					<ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('ElectronicComponentsandParts') %></a></li>
						<li><a tabindex="0"><%= t('ElectricalEquipmentsandParts') %></a></li>
						<li><a tabindex="0"><%= t('MechanicalProductsandTools') %></a></li>
						<li><a tabindex="0"><%= t('SafetyEquipmentsandAccessories') %></a></li>
						<li><a tabindex="0"><%= t('OEMProducts') %></a></li>
					</ul>

		         
		        </ul>
		      </li>  

		      	    	<!-- Women's Fashion  -->
	      	<li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('WomensFashion') %> <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonWomensFashion') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('WomensApparel') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('ShirtsTops') %></a></li>
							<li><a tabindex="0"><%= t('JacketsCoats') %></a></li>
							<li><a tabindex="0"><%= t('Jeans') %></a></li>
							<li><a tabindex="0"><%= t('Trousers') %></a></li>
							<li><a tabindex="0"><%= t('Leggings') %></a></li>
							<li><a tabindex="0"><%= t('Skirts') %></a></li>
							<li><a tabindex="0"><%= t('Shorts') %></a></li>
							<li><a tabindex="0"><%= t('Sleepwear') %></a></li>
							<li><a tabindex="0"><%= t('Fleeces') %></a></li>
							<li><a tabindex="0"><%= t('Sweatshirts') %></a></li>
							<li><a tabindex="0"><%= t('FormalWear') %></a></li>
							<li><a tabindex="0"><%= t('WeddingDresses') %></a></li>
							<li><a tabindex="0"><%= t('BridesmaidDresses') %></a></li>
							<li><a tabindex="0"><%= t('Sleeveless') %></a></li>
							<li><a tabindex="0"><%= t('KoreanFashion') %></a></li>
							<li><a tabindex="0"><%= t('TraditionalDresses') %></a></li>
							<li><a tabindex="0"><%= t('Underwear') %></a></li>
							<li><a tabindex="0"><%= t('Bikinis') %></a></li>
							<li><a tabindex="0"><%= t('Sportswear') %></a></li>
							<li><a tabindex="0"><%= t('Swimwear') %></a></li>
							<li><a tabindex="0"><%= t('MaternityDresses') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('ShoesandFootwear') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('Flats') %></a></li>
							<li><a tabindex="0"><%= t('Heels') %></a></li>
							<li><a tabindex="0"><%= t('Casual') %></a></li>
							<li><a tabindex="0"><%= t('Formal') %></a></li>
							<li><a tabindex="0"><%= t('SportsShoes') %></a></li>
							<li><a tabindex="0"><%= t('Boots') %></a></li>
							<li><a tabindex="0"><%= t('Slippers') %></a></li>
							<li><a tabindex="0"><%= t('Sandals') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('BagsandWallets') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('Handbags') %></a></li>
							<li><a tabindex="0"><%= t('ClutchBags') %></a></li>
							<li><a tabindex="0"><%= t('SlingBags') %></a></li>
							<li><a tabindex="0"><%= t('Briefcases') %></a></li>
							<li><a tabindex="0"><%= t('WaistBags') %></a></li>
							<li><a tabindex="0"><%= t('LaptopBags') %></a></li>
							<li><a tabindex="0"><%= t('CameraBags') %></a></li>
							<li><a tabindex="0"><%= t('Backpacks') %></a></li>
							<li><a tabindex="0"><%= t('ToiletriesBags') %></a></li>
							<li><a tabindex="0"><%= t('WaterproofBags') %></a></li>
							<li><a tabindex="0"><%= t('CoolerBags') %></a></li>
							<li><a tabindex="0"><%= t('ShoeBags') %></a></li>
							<li><a tabindex="0"><%= t('Wallets') %></a></li>
							<li><a tabindex="0"><%= t('TravelLuggages') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


				 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('WatchesandGlasses') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('DigitalWatches') %></a></li>
						<li><a tabindex="0"><%= t('CasualWatches') %></a></li>
						<li><a tabindex="0"><%= t('PremiumWatches') %></a></li>
						<li><a tabindex="0"><%= t('SportWatches') %></a></li>
						<li><a tabindex="0"><%= t('WaterproofWatches') %></a></li>
						<li><a tabindex="0"><%= t('Sunglasses') %></a></li>
						<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


	  			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('Jewellery') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('Rings') %></a></li>
						<li><a tabindex="0"><%= t('Earrings') %></a></li>
						<li><a tabindex="0"><%= t('Necklaces') %></a></li>
						<li><a tabindex="0"><%= t('Bracelets') %></a></li>
						<li><a tabindex="0"><%= t('Brooches') %></a></li>
						<li><a tabindex="0"><%= t('Charms') %></a></li>
						<li><a tabindex="0"><%= t('JewellerySets') %></a></li>
						<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>
		


	  			

		        </ul>
		      </li>  


		      <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('MensFashion') %> <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonMensFashion') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('MensApparel') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('ShirtsTops') %></a></li>
							<li><a tabindex="0"><%= t('JacketsCoats') %></a></li>
							<li><a tabindex="0"><%= t('Jeans') %></a></li>
							<li><a tabindex="0"><%= t('Trousers') %></a></li>
							<li><a tabindex="0"><%= t('Shorts') %></a></li>
							<li><a tabindex="0"><%= t('Sleepwear') %></a></li>
							<li><a tabindex="0"><%= t('Fleeces') %></a></li>
							<li><a tabindex="0"><%= t('Sweatshirts') %></a></li>
							<li><a tabindex="0"><%= t('FormalWear') %></a></li>
							<li><a tabindex="0"><%= t('WeddingDresses') %></a></li>
							<li><a tabindex="0"><%= t('Sleeveless') %></a></li>
							<li><a tabindex="0"><%= t('KoreanFashion') %></a></li>
							<li><a tabindex="0"><%= t('TraditionalDresses') %></a></li>
							<li><a tabindex="0"><%= t('Underwear') %></a></li>
							<li><a tabindex="0"><%= t('Sportswear') %></a></li>
							<li><a tabindex="0"><%= t('Swimwear') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('ShoesandFootwear') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('Casual') %></a></li>
							<li><a tabindex="0"><%= t('Formal') %></a></li>
							<li><a tabindex="0"><%= t('SportsShoes') %></a></li>
							<li><a tabindex="0"><%= t('Boots') %></a></li>
							<li><a tabindex="0"><%= t('Slippers') %></a></li>
							<li><a tabindex="0"><%= t('Sandals') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('BagsandWallets') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('Handbags') %></a></li>
							<li><a tabindex="0"><%= t('ClutchBags') %></a></li>
							<li><a tabindex="0"><%= t('SlingBags') %></a></li>
							<li><a tabindex="0"><%= t('Briefcases') %></a></li>
							<li><a tabindex="0"><%= t('WaistBags') %></a></li>
							<li><a tabindex="0"><%= t('LaptopBags') %></a></li>
							<li><a tabindex="0"><%= t('CameraBags') %></a></li>
							<li><a tabindex="0"><%= t('Backpacks') %></a></li>
							<li><a tabindex="0"><%= t('ToiletriesBags') %></a></li>
							<li><a tabindex="0"><%= t('WaterproofBags') %></a></li>
							<li><a tabindex="0"><%= t('CoolerBags') %></a></li>
							<li><a tabindex="0"><%= t('ShoeBags') %></a></li>
							<li><a tabindex="0"><%= t('Wallets') %></a></li>
							<li><a tabindex="0"><%= t('TravelLuggages') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


				 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('WatchesandGlasses') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('DigitalWatches') %></a></li>
							<li><a tabindex="0"><%= t('CasualWatches') %></a></li>
							<li><a tabindex="0"><%= t('PremiumWatches') %></a></li>
							<li><a tabindex="0"><%= t('SportWatches') %></a></li>
							<li><a tabindex="0"><%= t('WaterproofWatches') %></a></li>
							<li><a tabindex="0"><%= t('Sunglasses') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


	  			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('Jewellery') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('Rings') %></a></li>
							<li><a tabindex="0"><%= t('Earrings') %></a></li>
							<li><a tabindex="0"><%= t('Brooches') %></a></li>
							<li><a tabindex="0"><%= t('Charms') %></a></li>
							<li><a tabindex="0"><%= t('JewellerySets') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>
		


	  			

		        </ul>
		      </li>  




  				


	      	

		      		      <!-- electrinics -->

		      <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" > <%= t('DigitalMobileandElectricalAppliances') %> <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonDigitalMobileandElectricalAppliances') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('PhonesandTablets') %> </a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('SmartPhones') %></a></li>
						<li><a tabindex="0"><%= t('BasicPhones') %></a></li>
						<li><a tabindex="0"><%= t('LandlinesCordless') %></a></li>
						<li><a tabindex="0"><%= t('Tablets') %></a></li>
						<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('ComputersandLaptops') %></a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0"><%= t('DesktopPCs') %></a></li>
							<li><a tabindex="0"><%= t('Laptops') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('TVsVideosandPlayers') %> </a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('TVs') %></a></li>
							<li><a tabindex="0"><%= t('Projectors') %></a></li>
							<li><a tabindex="0"><%= t('BlueRay') %></a></li>
							<li><a tabindex="0"><%= t('DVDPlayers') %></a></li>
							<li><a tabindex="0"><%= t('MediaPlayers') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


				 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('AudioandHiFi') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('Amplifiers') %></a></li>
						<li><a tabindex="0"><%= t('HomeTheatres') %></a></li>
						<li><a tabindex="0"><%= t('SoundBars') %></a></li>
						<li><a tabindex="0"><%= t('Speakers') %></a></li>
						<li><a tabindex="0"><%= t('Headphones') %></a></li>
						<li><a tabindex="0"><%= t('Earphones') %></a></li>
						<li><a tabindex="0"><%= t('Microphones') %></a></li>
						<li><a tabindex="0"><%= t('MP3Players') %></a></li>
						<li><a tabindex="0"><%= t('VoiceRecorders') %></a></li>
						<li><a tabindex="0"><%= t('StudioEquipments') %></a></li>
					
					</ul>
				  </li>


	  			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('CamerasandPhotos') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('CCTV') %></a></li>
						<li><a tabindex="0"><%= t('DSLR') %></a></li>
						<li><a tabindex="0"><%= t('Camcorders') %></a></li>
						<li><a tabindex="0"><%= t('CarCameras') %></a></li>
						<li><a tabindex="0"><%= t('CompactCameras') %></a></li>
						<li><a tabindex="0"><%= t('ActionCameras') %></a></li>
						<li><a tabindex="0"><%= t('IPCameras') %></a></li>
						<li><a tabindex="0"><%= t('DronesDroneCameras') %></a></li>
					</ul>
				  </li>



				  <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('Gaming') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('PlayStation') %></a></li>
						<li><a tabindex="0"><%= t('Xbox') %></a></li>
					</ul>
				  </li>


				  <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('HomeElectricalAppliances') %> </a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('CoolingandHeatingAppliances') %></a></li>
						<li><a tabindex="0"><%= t('KitchenAppliances') %></a></li>
						<li><a tabindex="0"><%= t('HousekeepingAppliances') %></a></li>
						<li><a tabindex="0"><%= t('GarmentCare') %></a></li>
						<li><a tabindex="0"><%= t('LaundryCare') %></a></li>
						<li><a tabindex="0"><%= t('BathCare') %></a></li>
						<li><a tabindex="0"><%= t('PersonalCare') %></a></li>
						<li><a tabindex="0"><%= t('AirPurifiers') %></a></li>
						<li><a tabindex="0"><%= t('Humidifiers') %></a></li>
						<li><a tabindex="0"><%= t('Dehumidifiers') %></a></li>
						<li><a tabindex="0"><%= t('SolarBatteries') %></a></li>
						<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>
		
		        </ul>
		      </li>  



		      <!-- Home and living -->
		  	    <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink"><%= t('HomeandLiving') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonHomeandLiving') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('LivingRoomAppliances') %>  </a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('LivingRoomFurnitures') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('BedroomProducts') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('Pillows') %></a></li>
							<li><a tabindex="0"><%= t('Bolsters') %></a></li>
							<li><a tabindex="0"><%= t('Blankets') %></a></li>
							<li><a tabindex="0"><%= t('Mattresses') %></a></li>
							<li><a tabindex="0"><%= t('BedroomFurnitures') %></a></li>

					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('BathroomAppliances') %> </a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('BathroomShelves') %></a></li>
						<li><a tabindex="0"><%= t('Faucets') %></a></li>
						<li><a tabindex="0"><%= t('ShowerCurtains') %></a></li>
						<li><a tabindex="0"><%= t('ShowerHeads') %></a></li>
						<li><a tabindex="0"><%= t('OralCare') %></a></li>
						<li><a tabindex="0"><%= t('Towels') %></a></li>
						<li><a tabindex="0"><%= t('Detergents') %></a></li>
					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('GarmentCare') %> </a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('SewingMachines') %></a></li>
						<li><a tabindex="0"><%= t('Needles') %></a></li>
						<li><a tabindex="0"><%= t('DryingRacks') %></a></li>
						<li><a tabindex="0"><%= t('Hangers') %></a></li>
						<li><a tabindex="0"><%= t('IroningBoards') %></a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('KitchenandDining') %>  </a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('KitchenStorage') %></a></li>
						<li><a tabindex="0"><%= t('CookingEquipments') %></a></li>
						<li><a tabindex="0"><%= t('KitchenTools') %></a></li>
						<li><a tabindex="0"><%= t('Bakeware') %></a></li>
						<li><a tabindex="0"><%= t('Dinnerware') %></a></li>
						<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('Housekeeping') %>  </a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('Mops') %></a></li>
						<li><a tabindex="0"><%= t('Brooms') %></a></li>
						<li><a tabindex="0"><%= t('FloorPolishers') %></a></li>
						<li><a tabindex="0"><%= t('VacuumCleaners') %></a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('HomeDecoration') %></a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('Carpets') %></a></li>
						<li><a tabindex="0"><%= t('Mats') %></a></li>
						<li><a tabindex="0"><%= t('Curtains') %></a></li>
						<li><a tabindex="0"><%= t('Mirrors') %></a></li>
						<li><a tabindex="0"><%= t('Paints') %></a></li>
						<li><a tabindex="0"><%= t('Posters') %></a></li>
						<li><a tabindex="0"><%= t('Candles') %></a></li>
						<li><a tabindex="0"><%= t('Clocks') %></a></li>
						<li><a tabindex="0"><%= t('ArtificialFlowersPlants') %></a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('OutdoorandGarden') %> </a>
		            <ul class="dropdown-menu">

		            	<li><a tabindex="0"><%= t('OutdoorSupplies') %></a></li>
						<li><a tabindex="0"><%= t('GardenSupplies') %></a></li>
						<li><a tabindex="0"><%= t('Flowers') %></a></li>
						<li><a tabindex="0"><%= t('Lawn') %></a></li>

				</ul>
				  </li>


		
		        </ul>
		      </li>  


		    <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink"><%= t('HealthandBeauty') %> <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonHealthandBeauty') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('BathandBodyCare') %>  </a>
		            <ul class="dropdown-menu">
		            	<li><a tabindex="0"><%= t('BathCare') %></a></li>
						<li><a tabindex="0"><%= t('BodyCare') %></a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('SkinCare') %></a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('FacialMasks') %></a></li>
						<li><a tabindex="0"><%= t('SunProtection') %></a></li>
						<li><a tabindex="0"><%= t('SkinWhitening') %></a></li>
						<li><a tabindex="0"><%= t('AcneCare') %></a></li>
						<li><a tabindex="0"><%= t('Toners') %></a></li>
						<li><a tabindex="0"><%= t('Cleansers') %></a></li>
						<li><a tabindex="0"><%= t('MoisturiserCreams') %></a></li>
						<li><a tabindex="0"><%= t('Blusher') %></a></li>
						<li><a tabindex="0"><%= t('MakeUp') %></a></li>
						<li><a tabindex="0"><%= t('AntiAgingProducts') %></a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('EyeCare') %> </a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0"><%= t('ContactLenses') %></a></li>
						<li><a tabindex="0"><%= t('Glasses') %></a></li>
						<li><a tabindex="0"><%= t('EyeDrops') %></a></li>
					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('HairCare') %></a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('Shampoos') %></a></li>
						<li><a tabindex="0"><%= t('Conditioners') %></a></li>
						<li><a tabindex="0"><%= t('HairCreamsGels') %></a></li>
						<li><a tabindex="0"><%= t('HairColoring') %></a></li>
						<li><a tabindex="0"><%= t('HairOils') %></a></li>
						<li><a tabindex="0"><%= t('HairSprays') %></a></li>
						<li><a tabindex="0"><%= t('HairLossPrevention') %></a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('DentalCare') %>  </a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('Floss') %></a></li>
						<li><a tabindex="0"><%= t('Toothbrushes') %></a></li>
						<li><a tabindex="0"><%= t('Toothpastes') %></a></li>
						<li><a tabindex="0"><%= t('MouthWashes') %></a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('Perfumes') %>  </a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('MensPerfumes') %></a></li>
						<li><a tabindex="0"><%= t('WomensPerfumes') %></a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('ShavingSupplies') %></a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('ShavingCreamsGels') %></a></li>
						<li><a tabindex="0"><%= t('Trimmers') %></a></li>
						<li><a tabindex="0"><%= t('Shavers') %></a></li>
						<li><a tabindex="0"><%= t('RazorsBlades') %></a></li>

					</ul>
				  </li>


			

				<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('FoodSupplements') %> </a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('DietarySupplements') %></a></li>
						<li><a tabindex="0"><%= t('VitaminsMultivitamins') %></a></li>
						<li><a tabindex="0"><%= t('CollagenSupplements') %></a></li>
						<li><a tabindex="0"><%= t('WeightLoss') %></a></li>
						<li><a tabindex="0"><%= t('Antioxidants') %></a></li>

					</ul>
				 </li>



				  <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('HealthandBeautyTools') %> </a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0"><%= t('MakeupSets') %></a></li>
						<li><a tabindex="0"><%= t('EyeCareAccessories') %></a></li>
						<li><a tabindex="0"><%= t('LipsticksLipgloss') %></a></li>
						<li><a tabindex="0"><%= t('HairCareAccessories') %></a></li>

					</ul>
				  </li>


		        </ul>
		      </li>  


		      <!-- food and beverage -->
		      
	      	<li class="dropdown" >
		        <a tabindex="0" data-toggle="dropdown" id="menulink"><%= t('FoodandBeverage') %> <span class="caret" ></span></a>



		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonFoodandBeverage') %></a></li>


					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown"><%= t('VegetableProducts') %></a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0"><%= t('FreshVegetables') %></a></li>
											<li><a tabindex="0"><%= t('DriedVegetables') %></a></li>
											<li><a tabindex="0"><%= t('CannedVegetables') %></a></li>
											<li><a tabindex="0"><%= t('FrozenVegetables') %></a></li>
											<li><a tabindex="0"><%= t('PreservedVegetables') %></a></li>

										</ul>
					</li>

					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown"><%= t('Confectionery') %></a>
							            <ul class="dropdown-menu">

							            		<li><a tabindex="0"><%= t('Chocolates') %></a></li>
												<li><a tabindex="0"><%= t('Candy') %></a></li>
												<li><a tabindex="0"><%= t('Gum') %></a></li>

										</ul>
					</li>

					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown"><%= t('BakedGoods') %></a>
							            <ul class="dropdown-menu">

												<li><a tabindex="0"><%= t('Breads') %></a></li>
												<li><a tabindex="0"><%= t('Cakes') %></a></li>
												<li><a tabindex="0"><%= t('Cookies') %></a></li>
												<li><a tabindex="0"><%= t('Biscuits') %></a></li>

										</ul>
					</li>

					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown"><%= t('GrainProducts') %></a>
							            <ul class="dropdown-menu">

												<li><a tabindex="0"><%= t('Cereal') %></a></li>
												<li><a tabindex="0"><%= t('Noodles') %></a></li>
												<li><a tabindex="0"><%= t('Flours') %></a></li>
												<li><a tabindex="0"><%= t('Snack') %></a></li>

										</ul>
					</li>


					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown"> <%= t('FoodIngredients') %></a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0"><%= t('SeasoningsCondiments') %></a></li>

										</ul>
					</li>


					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown"><%= t('DairyProducts') %></a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0"><%= t('Milk') %></a></li>
											<li><a tabindex="0"><%= t('Cheese') %></a></li>
											<li><a tabindex="0"><%= t('Yogurt') %></a></li>
											<li><a tabindex="0"><%= t('Butter') %></a></li>
											<li><a tabindex="0"><%= t('MilkPowder') %></a></li>
											<li><a tabindex="0"><%= t('IceCream') %></a></li>
											<li><a tabindex="0"><%= t('CondensedMilk') %></a></li>
											<li><a tabindex="0"><%= t('Cream') %></a></li>
										</ul>
					</li>


					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown"><%= t('HoneyProducts') %></a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0"><%= t('Honey') %></a></li>
											<li><a tabindex="0"><%= t('BeePollen') %></a></li>
											<li><a tabindex="0"><%= t('BeeWax') %></a></li>
											<li><a tabindex="0"><%= t('RoyalJelly') %></a></li>
										</ul>
					</li>


					<li>
							          	<a tabindex="0" data-toggle="dropdown"><%= t('MeatProducts') %></a>
					</li>





					<li>
							            <a tabindex="0" data-toggle="dropdown"><%= t('EggProducts') %></a>
					</li>


					<li>
							           <a tabindex="0" data-toggle="dropdown"><%= t('Coffee') %></a>
					</li>


					<li>
							           <a tabindex="0" data-toggle="dropdown"><%= t('SeafoodProducts') %></a>
					</li>

					<li>
							            <a tabindex="0" data-toggle="dropdown"><%= t('InstantFood') %></a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown"><%= t('CannedFood') %></a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown"><%= t('BabyFood') %></a>
					</li>


					<li>
							           <a tabindex="0" data-toggle="dropdown"><%= t('Beverage') %></a>
					</li>


		

					<li>
							            <a tabindex="0"><%= t('DrinkingWater') %></a>
					</li>


					<li>
							            <a tabindex="0"><%= t('Drinks') %></a>
					</li>


		        </ul>
		      </li> 
		     

		     <!--  edit frrom here -->


		     <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('KidBabyandMaternity') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonKidBabyandMaternity') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('KidsFashion') %></a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0"><%= t('GirlsApparels') %></a></li>
							<li><a tabindex="0"><%= t('BoysApparel') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
			
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('BabyCare') %></a>
		            <ul class="dropdown-menu">
							
								<li><a tabindex="0"><%= t('Diapering') %></a></li>
								<li><a tabindex="0"><%= t('BabyBath') %></a></li>
								<li><a tabindex="0"><%= t('BabySkinCare') %></a></li>
					
					</ul>
				  </li>


				<li>
					<a tabindex="0"><%= t('BabyFeedings') %></a>
				</li>


				<li>
					<a tabindex="0"><%= t('Toys') %></a>
				</li>

				<li>
					<a tabindex="0"><%= t('MaternityCare') %></a>
				</li>


				<li>
					<a tabindex="0"><%= t('PostpartumCareGoods') %></a>
				</li>

		        </ul>

		      </li>  

		      <!--  -->

		       <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('SportsOutdoorsandEntertainment') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonSportsOutdoorsandEntertainment') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('IndoorSportSupplies') %></a>
		            <ul class="dropdown-menu">

		            			<li><a tabindex="0"><%= t('SnookerandBillboard') %></a></li>
								<li><a tabindex="0"><%= t('SoccerTables') %></a></li>
								<li><a tabindex="0"><%= t('Badminton') %></a></li>
								<li><a tabindex="0"><%= t('TableTennis') %></a></li>
								<li><a tabindex="0"><%= t('Bowling') %></a></li>
								<li><a tabindex="0"><%= t('Chess') %></a></li>
								<li><a tabindex="0"><%= t('Darts') %></a></li>
								<li><a tabindex="0"><%= t('BoxingandMartialArts') %></a></li>
								<li><a tabindex="0"><%= t('FitnessandBodyBuilding') %></a></li>
			
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> <%= t('OutdoorSportSupplies') %></a>
		            <ul class="dropdown-menu">
							
							<li><a tabindex="0"><%= t('Golf') %></a></li>
							<li><a tabindex="0"><%= t('Soccer') %></a></li>
							<li><a tabindex="0"><%= t('Tennis') %></a></li>
							<li><a tabindex="0"><%= t('SwimmingandDiving') %></a></li>
							<li><a tabindex="0"><%= t('Basketball') %></a></li>
							<li><a tabindex="0"><%= t('Volleyball') %></a></li>
							<li><a tabindex="0"><%= t('Cycling') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
					
					</ul>
				  </li>


				<li>
					<a tabindex="0"><%= t('OutdoorRecreation') %></a>
				</li>


				<li>
					<a tabindex="0"><%= t('PicnicSupplies') %></a>
				</li>

				<li>
					<a tabindex="0"><%= t('Entertainment') %></a>
				</li>


				<li>
					<a tabindex="0"><%= t('MusicalInstruments') %></a>
				</li>

		        </ul>
		      </li>  


		      <!--  edit from here -->



		     <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('OfficeandSchoolSupplies') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonOfficeandSchoolSupplies') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('EducationSupplies') %></a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0"><%= t('Boards') %></a></li>
							<li><a tabindex="0"><%= t('CorrectionSupplies') %></a></li>
							<li><a tabindex="0"><%= t('Pens') %></a></li>
							<li><a tabindex="0"><%= t('Pencils') %></a></li>
							<li><a tabindex="0"><%= t('BooksandWritingPads') %></a></li>
							<li><a tabindex="0"><%= t('FilingProducts') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
			
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('OfficeSupplies') %></a>
		            <ul class="dropdown-menu">
							
							<li><a tabindex="0"><%= t('Calendar') %></a></li>
							<li><a tabindex="0"><%= t('Map') %></a></li>
							<li><a tabindex="0"><%= t('Magazines') %></a></li>
							<li><a tabindex="0"><%= t('OfficeAdhesivesandTapes') %></a></li>
							<li><a tabindex="0"><%= t('OfficeFurnitures') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>

					
					</ul>
				 </li>


				 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('ArtSupplies') %></a>
		            <ul class="dropdown-menu">
							
								<li><a tabindex="0"><%= t('ArtPaints') %></a></li>
								<li><a tabindex="0"><%= t('ArtMarkersandBrushes') %></a></li>
								<li><a tabindex="0"><%= t('ColouredPencils') %></a></li>
								<li><a tabindex="0"><%= t('Palette') %></a></li>

					
					</ul>
				 </li>

		        </ul>

		      </li> 


		      <!--  -->
		     <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('LightsandLightings') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonLightsandLightnings') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('IndoorLightings') %></a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0"><%= t('LightingBulbsandTubes') %></a></li>
							<li><a tabindex="0"><%= t('HomeDecorationLightnings') %></a></li>
							<li><a tabindex="0"><%= t('LEDLightings') %></a></li>
							<li><a tabindex="0"><%= t('Torchlights') %></a></li>
							<li><a tabindex="0"><%= t('EmergencyLightings') %></a></li>
							<li><a tabindex="0"><%= t('ProfessionalLightings') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
			
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('OutdoorLightnings') %></a>
		            <ul class="dropdown-menu">
							
							<li><a tabindex="0"><%= t('StreetLights') %></a></li>
							<li><a tabindex="0"><%= t('SolarLights') %></a></li>
							<li><a tabindex="0"><%= t('LEDOutdoorLights') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>

					
					</ul>
				 </li>



		        </ul>

		      </li> 



		      <!--  -->

		       <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('Transportation') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AllProductsonTransportation') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('Bicycles') %></a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0"><%= t('ManualBikes') %></a></li>
							<li><a tabindex="0"><%= t('ElectricBicycles') %></a></li>
							<li><a tabindex="0"><%= t('OthersandAccessories') %></a></li>
			
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('AutomobilesandMotorcycles') %></a>
		            <ul class="dropdown-menu">
							
							<li><a tabindex="0"><%= t('Automobiles') %></a></li>
							<li><a tabindex="0"><%= t('Motorcycles') %></a></li>
							<li><a tabindex="0"><%= t('AutomobileParts') %></a></li>
							<li><a tabindex="0"><%= t('MotorcycleParts') %></a></li>

					</ul>
				 </li>



		        </ul>

		      </li> 

		      <!--  -->

		       <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('TravelandDeals') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0"><%= t('AlloffersonTravelandDeals') %></a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('Travel') %></a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0"><%= t('HotelPromotion') %></a></li>
							<li><a tabindex="0"><%= t('TravelPromotion') %></a></li>
			
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('RestaurantsandCafe') %></a>
		            <ul class="dropdown-menu">
							
								<li><a tabindex="0"><%= t('Restaurants') %></a></li>
								<li><a tabindex="0"><%= t('Cafe') %></a></li>

					</ul>
				 </li>



		        </ul>

		      </li> 

		      <!--  -->
		       <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('Services') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		            <li><a tabindex="0"><%= t('AllOffersonServices') %></a></li>

		          	<li><a tabindex="0"><%= t('HairBeautyandWellness') %></a></li>
					<li><a tabindex="0"><%= t('EducationServices') %></a></li>
					<li><a tabindex="0"><%= t('BasicEducationServices') %></a></li>
					<li><a tabindex="0"><%= t('HigherEducationServices') %></a></li>
					<li><a tabindex="0"><%= t('ProfessionalTrainings') %></a></li>
					<li><a tabindex="0"><%= t('HomeTuition') %></a></li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"><%= t('HomeRepairandMaintenance') %></a>
		            <ul class="dropdown-menu">
							
						<li><a tabindex="0"><%= t('AirconServicing') %></a></li>
						<li><a tabindex="0"><%= t('GeneralHomeServicing') %></a></li>
						<li><a tabindex="0"><%= t('ElectricalandElectronicRepair') %></a></li>

					</ul>
				 </li>



		        </ul>

		      </li> 

		      <!--  -->

		     <li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" ><%= t('ElectronicElectricalandMechanicalProducts') %><span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		            <li><a tabindex="0"><%= t('AllProductsonElectronicElectricalandMechanicalProducts') %></a></li>


				<li><a tabindex="0"><%= t('ElectronicComponentsandParts') %></a></li>
				<li><a tabindex="0"><%= t('ElectricalEquipmentsandParts') %></a></li>
				<li><a tabindex="0"><%= t('MechanicalProductsandTools') %></a></li>
				<li><a tabindex="0"><%= t('SafetyEquipmentsandAccessories') %></a></li>



		        </ul>

		      </li> 










	    </ul>


	  </div>
	</nav>