<!DOCTYPE html>
<html>
<head>
  <title>eBuymyanmar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery_ujs.js' %>
  <%= javascript_include_tag 'bootstrap.min.js' %>
  <%= javascript_include_tag 'bootstrap-submenu.min.js' %>
  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>


<!-- mobile view -->
		
<div id="mobile_view" >
 

<nav class="navbar navbar-default navbar-static-top" style="background:#E74C3C">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-left navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <span>
            <form role="search" class="form-inline" style="width: 20em; margin: 0.6em 2em;">
			    <div class="input-group">
			        <input type="text" class="form-control" placeholder="Search">
			        <div class="input-group-btn">
			            <button type="submit" class="btn btn-default">
			               search
			            </button>
			        </div>
			    </div>


			</form> 

			</span>

			  <a class="navbar-brand" href="#">
				<span class="nav_text">Language</span>
              </a>


			  <a class="navbar-brand" href="#">
				<%= image_tag "english_flag.png", :alt=>"english", :style => "border:1px solid #021a40;"  %>
              </a>

             <a class="navbar-brand" href="#">
            	<%= image_tag "mm_flag.png", :alt=>"myanmar", :style => "border:1px solid #021a40;" %>
            </a>

              <a class="navbar-brand" href="#">
				<span class="nav_text">Cart</span>
              </a>

            <a class="navbar-brand" href="/cart_item?cart_id=<%= session[:cart_id] %>">
				<%= image_tag "cart.png", :alt=>"profile" %>
			</a>

			<a class="navbar-brand">
				<span class="nav_text"><%= (@cart.total_quantity) %> item(s) -   <%= (@cart.total_price) %></span>
			</a>

         
              
          


        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>


  



        </div><!--/.nav-collapse -->
    </div>
</nav>



</div>








<!--  desktop view -->

<div id="desktop_view">
<!-- header -->
    <nav class="navbar navbar-default" id="mynav">
      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
     

      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        
          <ul class="nav navbar-nav">

          		

   				     <li>
						<a href="/" id="menulink">
						<%= image_tag "home.png", :alt=>"profile" %>
						Home |</a>
					</li>


   
   			<% if buyer_signed_in? %>

   					 <li>
						<a href="#" id="menulink">
						Hello <b> <%= current_buyer.buyer_name %>!</b>
						</a>
					</li>



   				     <li>
						<a href="/my_account" id="menulink">
						<%= image_tag "profile.png", :alt=>"profile" %>
						My Account |</a>
					</li>


					 <li>
						<a href="/cart_item?cart_id=<%= session[:cart_id] %>" id="menulink">
						<%= image_tag "cart.png", :alt=>"profile" %>
						Cart 
						<%= (@cart.total_quantity) %> item(s) -   <%= (@cart.total_price) %>
						|</a>
					</li>



					<li>
						<%= link_to "Log Out", destroy_buyer_session_path, method: :delete, :id=>"menulink"  %>
					</li>
					
		    <% else %>
		<!--  -->
			        <li>

						<a href="/buyers/sign_in" id="menulink">
						<%= image_tag "sign.png", :alt=>"sign.png" %>
						Sign In |

						</a>
					</li>
					<li>
						<a href="/buyers/sign_up" id="menulink">
							<%= image_tag "register.png", :alt=>"register" %>
							Register |
						</a>
					</li>
					<li>
						<a href="#" id="menulink">
						<%= image_tag "profile.png", :alt=>"profile" %>
						My Account |</a>
					</li>

					 <li>
						<a href="/cart_item?cart_id=<%= session[:cart_id] %>" id="menulink">
						<%= image_tag "cart.png", :alt=>"profile" %>
						Cart 
						<%= (@cart.total_quantity) %> item(s) -   <%= (@cart.total_price) %>
						|</a>
					</li>

		

			  <% end %>


			<li>
				<a href="/help" id="menulink">
				<%= image_tag "mark.png", :alt=>"mark" %>
				Help |</a>
			</li>
			<li>
				<a href="/contact_us" id="menulink">
				<%= image_tag "phone.png", :alt=>"phone" %>
				Contact Us &nbsp;|</a>
			</li>
			<li>
				<a href="/about_us" id="menulink">
				<%= image_tag "aboutus.png", :alt=>"aboutus" %>
				About Us &nbsp;|
				</a>
			</li>
			<li>
				<a href="#" id="menulink">
				Language 
				<%= image_tag "english_flag.png", :alt=>"english", :style => "border:1px solid #021a40;"  %>
				<%= image_tag "mm_flag.png", :alt=>"myanmar", :style => "border:1px solid #021a40;" %>
				</a>
			</li>

			


          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div>
    
    </nav>


	<!-- logo headere -->
	<div class="row" id="the_footer">
	  <div class="col-md-2">
	  	<a href="/"><%= image_tag "logo.png", :id=>"my_logo", :alt=>"eBuy" %></a>
	  </div>
	  <div class="col-md-4">
	  		<h1 id="ebuy_title">eBuy Myanmar </h1>
			<p id="ebuy_second"> Company Limited</p>
	  </div>
	  <div class="col-md-6" style="text-align:center;font-size:13px;">

	  		<span >No. 221/59, 1 st /2 nd /3 rd Floor, Shwe Wah Myay Street, Baho Middle Road,</span><br/>
			<span>Mayangone Township,Yangon, Myanmar</span><br/>
			<span>Tel : 09 779825801, 09779825802</span><br/>
			<span>Email : <a href="">service@eBuymyanmar.com </a></span><br/>
			<span>Website : <a href="">www.eBuymyanmar.com </a></span>
	  </div>
	</div>
	<div class="row" id="search_row">
		 <div class="col-md-2"> 
		 </div>
		  <div class="col-md-2">
		  		<span id="website_name">ebuymyanmar.com </span>
				
		  </div>
		  <div class="col-md-6">

	


              <%= form_tag(search_result_path, :method => "get") do %> 
                                   
                        <div class="input-group" style="width:500px;"> 
                                <%= text_field_tag :title, params[:title], :placeholder => "search for products and brands", :class=>"form-control" %>
                               <div class="input-group-addon" type="submit"> 
                               		Search
                               </div>

                        </div>
			      			                    
              <% end %>




		  </div>
		  <div class="col-md-4"></div>
    </div>




	<!-- menu bar -->



	<nav class="navbar navbar-default" id="menu_header">
	  <div class="navbar-header">
	    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>

	  
	  </div>

	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	    	<!-- authentic brand zone -->
	    	 <li><a id="menulink"> All Categories</a></li>
	      	<li class="dropdown">

		        <a tabindex="0" data-toggle="dropdown" id="menulink" >Authentic Brand Zone<span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		          <li><a tabindex="0">All Products on Authentic Brand Zone</a></li>
		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Women's Fashion </a>

		            <ul class="dropdown-menu">
		              <li><a tabindex="0">Women's Apparel</a></li>
		              <li><a tabindex="0">Shoes</a></li>
		              <li><a tabindex="0">Bags & Wallets</a></li>
		              <li><a tabindex="0">Watches</a></li>
		              <li><a tabindex="0">Jewellery</a></li>
		              <li><a tabindex="0">Others</a></li>
		            </ul>
		          </li>

		           <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Men's Fashion </a>

		            <ul class="dropdown-menu">
		              <li><a tabindex="0">Men's Apparel</a></li>
		              <li><a tabindex="0">Shoes</a></li>
		              <li><a tabindex="0">Bags & Wallets</a></li>
		              <li><a tabindex="0">Watches</a></li>
		              <li><a tabindex="0">Jewellery</a></li>
		              <li><a tabindex="0">Others</a></li>
		            </ul>
		          </li>



		           <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Digital </a>

		            <ul class="dropdown-menu">
		              <li><a tabindex="0">Phones and Tables</a></li>
		              <li><a tabindex="0">Computers and Laptops</a></li>
		              <li><a tabindex="0">TV</a></li>
		              <li><a tabindex="0">Video and Player</a></li>
		              <li><a tabindex="0">Audio and Hi Fi</a></li>
		              <li><a tabindex="0">Camera and Photo</a></li>
		              <li><a tabindex="0">Gaming</a></li>
		              <li><a tabindex="0">Home Appliances</a></li>
		              <li><a tabindex="0">Others</a></li>
		            </ul>
		          </li>

		           <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Home and Living </a>

					    <ul class="dropdown-menu">
							<li><a tabindex="0">Living Room Supplies</a></li>
							<li><a tabindex="0">Bedroom Appliances</a></li>
							<li><a tabindex="0">Bathroom Products</a></li>
							<li><a tabindex="0">Garment Care</a></li>
							<li><a tabindex="0">Kitchen and Dining</a></li>
							<li><a tabindex="0">Housekeeping</a></li>
							<li><a tabindex="0">Home Decoration</a></li>
							<li><a tabindex="0">Outdoor and Garden</a></li>
							<li><a tabindex="0">Others</a></li>
					 	</ul>
		          </li>




 				<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Health and Beauty</a>
     					<ul class="dropdown-menu">
							<li><a tabindex="0">Bath and Body Supplies</a></li>
							<li><a tabindex="0">Skin Care</a></li> 
							<li><a tabindex="0">Eye Care</a></li> 
							<li><a tabindex="0">Hair Care</a></li> 
							<li><a tabindex="0">Hand Care</a></li> 
							<li><a tabindex="0">Dental Care</a></li> 
							<li><a tabindex="0">Perfumes</a></li> 
							<li><a tabindex="0">Shaving Supplies</a></li>
							<li><a tabindex="0">Food Supplements</a></li>
							<li><a tabindex="0">Health and Beauty Tools</a></li>
							<li><a tabindex="0">Others</a></li>
	 					</ul>
		          </li>

			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Food and Beverage</a>
 					<ul class="dropdown-menu">
						<li><a tabindex="0">Vegetable</a></li> 
						<li><a tabindex="0">Products</a></li> 
						<li><a tabindex="0">Confectionery</a></li> 
						<li><a tabindex="0">Baked Goods </a></li> 
						<li><a tabindex="0">Grain Products</a></li> 
						<li><a tabindex="0">Food Ingredients </a></li> 
						<li><a tabindex="0">Dairy Products</a></li> 
						<li><a tabindex="0">Honey Products</a></li> 
						<li><a tabindex="0">Meat and Meat and Meat Products </a></li> 
						<li><a tabindex="0">Egg and Egg Products</a></li> 
						<li><a tabindex="0">Seafood and Seafood Products </a></li> 
						<li><a tabindex="0">Coffee </a></li> 
						<li><a tabindex="0">Instant Food </a></li>  
						<li><a tabindex="0">Canned Food </a></li> 
						<li><a tabindex="0">Baby Food </a></li> 
						<li><a tabindex="0">Beverage</a></li> 
						<li><a tabindex="0">Others</a></li> 
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Kid</a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0">Baby and Maternity</a> </li> 
						<li><a tabindex="0">Kid's Fashion</a></li> 
						<li><a tabindex="0">Baby Care</a></li> 
						<li><a tabindex="0">Baby Feeding</a></li> 
						<li><a tabindex="0">Toys</a></li> 
						<li><a tabindex="0">Maternity Care</a></li> 
						<li><a tabindex="0">Others</a></li> 
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Sports</a>
 					<ul class="dropdown-menu">
						<li><a tabindex="0">Outdoors and Entertainment </a></li> 
						<li><a tabindex="0">Indoor Sport Supplies </a></li> 
						<li><a tabindex="0">Outdoor Sport Supplies</a> </li> 
						<li><a tabindex="0">Outdoor Recreation</a></li> 
						<li><a tabindex="0">Entertainment</a></li> 
						<li><a tabindex="0">Others</a></li> 
					</ul>
			</li>


 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Office and School Supplies</a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0">Education Supplies</a></li> 
						<li><a tabindex="0">Office Supplies</a></li> 
						<li><a tabindex="0">Art Supplies</a></li> 
						<li><a tabindex="0">Others</a></li>
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Lights and Lightings</a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0">Indoor Lightings</a></li> 
							<li><a tabindex="0">Outdoor Lightings</a></li> 
							<li><a tabindex="0">Others</a></li> 
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Transportation</a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0">Bicycles </a></li> 
							<li><a tabindex="0">Automobiles and Motorcycles</a> </li> 
							<li><a tabindex="0">Others</a></li> 
					</ul>
			</li>

 			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Electronic</a>
 					<ul class="dropdown-menu">
						<li><a tabindex="0">Electrical and Mechanic Products</a></li> 
						<li><a tabindex="0">Electronic Components and Parts</a> </li> 
						<li><a tabindex="0">Electrical Equipments and Parts </a></li> 
						<li><a tabindex="0">Mechanical Products and Tools</a></li> 
						<li><a tabindex="0">Safety Equipments and Accessories</a> </li> 
						<li><a tabindex="0">OEM Products</a></li> 
					</ul>

		         
		        </ul>
		      </li>  

		      	    	<!-- Women's Fashion  -->
	      	<li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" >Women's Fashion <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0">All Products on Women's Fashion</a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Women's Apparel</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Shirts/Tops </a></li>
							<li><a tabindex="0">Jackets/Coats </a></li>
							<li><a tabindex="0">Jeans </a></li>
							<li><a tabindex="0">Trousers </a></li>
							<li><a tabindex="0">Leggings </a></li>
							<li><a tabindex="0">Skirts </a></li>
							<li><a tabindex="0">Shorts </a></li>
							<li><a tabindex="0">Sleepwear </a></li>
							<li><a tabindex="0">Fleeces </a></li>
							<li><a tabindex="0">Sweatshirts </a></li>
							<li><a tabindex="0">Formal Wear </a></li>
							<li><a tabindex="0">Wedding Dresses </a></li>
							<li><a tabindex="0">Bridesmaid Dresses </a></li>
							<li><a tabindex="0">Sleeveless </a></li>
							<li><a tabindex="0">Korean Fashion </a></li>
							<li><a tabindex="0">Traditional Dresses </a></li>
							<li><a tabindex="0">Underwear </a></li>
							<li><a tabindex="0">Bikinis </a></li>
							<li><a tabindex="0">Sportswear </a></li>
							<li><a tabindex="0">Swimwear </a></li>
							<li><a tabindex="0">Maternity Dresses </a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Shoes and Footwear</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Flats </a></li>
		            		<li><a tabindex="0">Heels </a></li>
		            		<li><a tabindex="0">Casual </a></li>
		            		<li><a tabindex="0">Formal </a></li>
		            		<li><a tabindex="0">Sports Shoes </a></li>
		            		<li><a tabindex="0">Boots </a></li>
		            		<li><a tabindex="0">Slippers </a></li>
		            		<li><a tabindex="0">Sandals </a></li>
		            		<li><a tabindex="0">Others and Accessories </a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Bags and Wallets</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0"> Handbags</a></li>
		            		<li><a tabindex="0"> Clutch Bags</a></li>
		            		<li><a tabindex="0"> Sling Bags </a></li>
							<li><a tabindex="0"> Briefcases </a></li>
							<li><a tabindex="0"> Waist Bags </a></li>
							<li><a tabindex="0"> Laptop Bags </a></li>
							<li><a tabindex="0"> Camera Bags </a></li>
							<li><a tabindex="0"> Backpacks </a></li>
							<li><a tabindex="0"> Toiletries Bags </a></li>
							<li><a tabindex="0"> Waterproof Bags </a></li>
							<li><a tabindex="0"> Cooler Bags </a></li> 
							<li><a tabindex="0"> Shoe Bags </a></li>
							<li><a tabindex="0"> Wallets </a></li> 
							<li><a tabindex="0"> Travel Luggages </a></li>
							<li><a tabindex="0"> Others and Accessories </a></li>
					</ul>
				  </li>


				 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Watches and Glasses</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0"> Digital Watches</a></li>
		            		<li><a tabindex="0"> Casual Watches</a></li>
		            		<li><a tabindex="0"> Premium Watches</a></li>
		            		<li><a tabindex="0"> Sport Watches,</a></li>
							<li><a tabindex="0"> Waterproof Watches,</a></li>
							<li><a tabindex="0"> Premium Watches</a></li>
							<li><a tabindex="0"> Others and Accessories</a></li>
					</ul>
				  </li>


	  			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Jewellery</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Rings </a></li>
							<li><a tabindex="0">Earrings </a></li>
							<li><a tabindex="0">Necklaces </a></li>
							<li><a tabindex="0">Bracelets </a></li>
							<li><a tabindex="0">Brooches </a></li>
							<li><a tabindex="0">Charms</a></li>
							<li><a tabindex="0">Jewellery Sets </a></li>
							<li><a tabindex="0">Others and Accessories </a></li>
					</ul>
				  </li>
		


	  			

		        </ul>
		      </li>  


		      	      	<li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" >Men's Fashion <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0">All Products on Men's Fashion</a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Men's Apparel</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Shirts/Tops</a></li>
		            		<li><a tabindex="0">Jackets/Coats</a></li>
		            		<li><a tabindex="0">Jeans</a></li>
		            		<li><a tabindex="0">Trousers</a></li>
		            		<li><a tabindex="0">Shorts</a></li>
		            		<li><a tabindex="0">Sleepwear</a></li>
		            		<li><a tabindex="0">Fleeces</a></li>
							<li><a tabindex="0">Sweatshirts</a></li>
							<li><a tabindex="0">Formal Wear</a></li>
							<li><a tabindex="0">Wedding Dresses</a></li>
							<li><a tabindex="0">Sleeveless</a></li>
							<li><a tabindex="0">Korean Fashion</a></li>
							<li><a tabindex="0">Traditional Dresses</a></li>
							<li><a tabindex="0">Underwear</a></li>
							<li><a tabindex="0">Sportswear</a></li>
							<li><a tabindex="0">Swimwear</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Shoes and Footwear</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Casual</a></li>
							<li><a tabindex="0">Formal</a></li>
							<li><a tabindex="0">Sports Shoes</a></li>
							<li><a tabindex="0">Boots</a></li>
							<li><a tabindex="0">Slippers</a></li>
							<li><a tabindex="0">Sandals</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Bags and Wallets</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Handbags</a></li>
							<li><a tabindex="0">Clutch Bags</a></li>
							<li><a tabindex="0">Sling Bags</a></li>
							<li><a tabindex="0">Briefcases</a></li>
							<li><a tabindex="0">Waist Bags</a></li>
							<li><a tabindex="0">Laptop Bags</a></li>
							<li><a tabindex="0">Camera Bags</a></li>
							<li><a tabindex="0">Backpacks</a></li>
							<li><a tabindex="0">Toiletries Bags</a></li>
							<li><a tabindex="0">Waterproof Bags</a></li>
							<li><a tabindex="0">Cooler Bags</a></li>
							<li><a tabindex="0">Shoe Bags</a></li>
							<li><a tabindex="0">Wallets</a></li>
							<li><a tabindex="0">Travel Luggages</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


				 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Watches and Glasses</a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0">Digital Watches</a></li>
							<li><a tabindex="0">Casual Watches</a></li>
							<li><a tabindex="0">Premium Watches</a></li>
							<li><a tabindex="0">Sport Watches</a></li>
							<li><a tabindex="0">Waterproof Watches</a></li>
							<li><a tabindex="0">Sunglasses</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


	  			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Jewellery</a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0">Rings</a></li>
							<li><a tabindex="0">Earrings</a></li>
							<li><a tabindex="0">Brooches</a></li>
							<li><a tabindex="0">Charms</a></li>
							<li><a tabindex="0">Jewellery Sets</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>
		


	  			

		        </ul>
		      </li>  




  				


	      	

		      		      <!-- electrinics -->

		      		      	<li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink" > Digital & Mobile <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0">All Products on Digital & Mobile</a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Phones and Tablets </a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Smart Phones</a></li>
							<li><a tabindex="0">Basic Phones</a></li>
							<li><a tabindex="0">Landlines/Cordless</a></li>
							<li><a tabindex="0">Tablets</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Computers and Laptops</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Desktop PCs</a></li>
							<li><a tabindex="0">Laptops</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> TVs, Videos and Players </a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">TVs</a></li>
							<li><a tabindex="0">Projectors</a></li>
							<li><a tabindex="0">Blue-Ray</a></li>
							<li><a tabindex="0">DVD Players</a></li>
							<li><a tabindex="0">Media Players</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


				 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Audio and Hi Fi</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Amplifiers</a></li>
							<li><a tabindex="0">Home Theatres</a></li>
							<li><a tabindex="0">Sound Bars</a></li>
							<li><a tabindex="0">Speakers</a></li>
							<li><a tabindex="0">Headphones</a></li>
							<li><a tabindex="0">Earphones</a></li>
							<li><a tabindex="0">Microphones</a></li>
							<li><a tabindex="0">MP3 Players</a></li>
							<li><a tabindex="0">Voice Recorders</a></li>
							<li><a tabindex="0">Studio Equipments</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


	  			<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Cameras and Photos</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">CCTV</a></li>
							<li><a tabindex="0">DSLR</a></li>
							<li><a tabindex="0">Camcorders</a></li>
							<li><a tabindex="0">Car Cameras</a></li>
							<li><a tabindex="0">Compact Cameras</a></li>
							<li><a tabindex="0">Action Cameras</a></li>
							<li><a tabindex="0">IP Cameras</a></li>
							<li><a tabindex="0">Drones/Drone Cameras</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>



				  <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Gaming</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Play Station</a></li>
							<li><a tabindex="0">Xbox, Others and Accessories</a></li>
					</ul>
				  </li>


				  <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Home Electrical Appliances </a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Cooling and Heating Appliances</a></li>
							<li><a tabindex="0">Kitchen Appliances</a></li>
							<li><a tabindex="0">Housekeeping Appliances</a></li>
							<li><a tabindex="0">Garment Care</a></li>
							<li><a tabindex="0">Laundry Care</a></li>
							<li><a tabindex="0">Bath Care</a></li>
							<li><a tabindex="0">Personal Care</a></li>
							<li><a tabindex="0">Air Purifiers</a></li>
							<li><a tabindex="0">Humidifiers</a></li>
							<li><a tabindex="0">Dehumidifiers</a></li>
							<li><a tabindex="0">Solar Batteries</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>
		
		        </ul>
		      </li>  



		      <!-- Home and living -->
		  	      	<li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink">Home and Living <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0">All Products on Home and Living</a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Living Room Appliances  </a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Living Room Furnitures</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Bedroom Products</a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Pillows</a></li>
							<li><a tabindex="0">Bolsters</a></li>
							<li><a tabindex="0">Blankets</a></li>
							<li><a tabindex="0">Mattresses</a></li>
							<li><a tabindex="0">Bedroom Furnitures</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Bathroom Appliances </a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Bathroom Shelves</a></li>
							<li><a tabindex="0">Faucets</a></li>
							<li><a tabindex="0">Shower Curtains</a></li>
							<li><a tabindex="0">Shower Heads</a></li>
							<li><a tabindex="0">Oral Care</a></li>
							<li><a tabindex="0">Towels</a></li>
							<li><a tabindex="0">Detergents</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>
					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Garment Care </a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0">Sewing Machines</a></li>
							<li><a tabindex="0">Needles</a></li>
							<li><a tabindex="0">Drying Racks</a></li>
							<li><a tabindex="0">Hangers</a></li>
							<li><a tabindex="0">Ironing Boards</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Kitchen and Dining  </a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0">Kitchen Storage</a></li>
							<li><a tabindex="0">Cooking Equipments</a></li>
							<li><a tabindex="0">Kitchen Tools</a></li>
							<li><a tabindex="0">Bakeware</a></li>
							<li><a tabindex="0">Dinnerware</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Housekeeping  </a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0">Mops</a></li>
							<li><a tabindex="0">Brooms</a></li>
							<li><a tabindex="0">Floor Polishers</a></li>
							<li><a tabindex="0">Vacuum Cleaners</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Home Decoration</a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0">Carpets</a></li>
							<li><a tabindex="0">Mats</a></li>
							<li><a tabindex="0">Curtains</a></li>
							<li><a tabindex="0">Mirrors</a></li>
							<li><a tabindex="0">Paints</a></li>
							<li><a tabindex="0">Posters</a></li>
							<li><a tabindex="0">Candles</a></li>
							<li><a tabindex="0">Clocks</a></li>
							<li><a tabindex="0">Artificial Flowers/Plants</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Outdoor and Garden </a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0">Outdoor Supplies</a></li>
							<li><a tabindex="0">Garden Supplies</a></li>
							<li><a tabindex="0">Flowers</a></li>
							<li><a tabindex="0">Lawn</a></li>
							<li><a tabindex="0">Others and Accessories</a></li>

				</ul>
				  </li>


		
		        </ul>
		      </li>  


		     	      	<li class="dropdown">
		        <a tabindex="0" data-toggle="dropdown" id="menulink">Health and Beauty <span class="caret"></span></a>

		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0">All Products on Health and Beauty</a></li>

		          <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Bath and Body Care  </a>
		            <ul class="dropdown-menu">
		            		<li><a tabindex="0">Bath Care</a></li>
							<li><a tabindex="0">Body Care</a></li>
							<li><a tabindex="0">Others</a></li>
					</ul>
				  </li>


		    	<li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Skin Care</a>
		            <ul class="dropdown-menu">
						<li><a tabindex="0">Facial Masks</a></li>
						<li><a tabindex="0">Sun Protection</a></li>
						<li><a tabindex="0">Skin Whitening</a></li>
						<li><a tabindex="0">Acne Care</a></li>
						<li><a tabindex="0">Toners</a></li>
						<li><a tabindex="0">Cleansers</a></li>
						<li><a tabindex="0">Moisturiser/Creams</a></li> 
						<li><a tabindex="0">Blusher</a></li>
						<li><a tabindex="0">Make Up</a></li>
						<li><a tabindex="0">Anti Aging Products</a></li>
						<li><a tabindex="0">Others</a></li>
					</ul>
				  </li>



	  			 <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Eye Care </a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0">Contact Lenses</a></li>
							<li><a tabindex="0">Glasses</a></li>
							<li><a tabindex="0">Eye Drops</a></li>
							<li><a tabindex="0">Others</a></li>
					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Hair Care</a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0">Shampoos</a></li>
							<li><a tabindex="0">Conditioners</a></li>
							<li><a tabindex="0">Hair Creams/Gels</a></li>
							<li><a tabindex="0">Hair Coloring</a></li>
							<li><a tabindex="0">Hair Oils</a></li>
							<li><a tabindex="0">Hair Sprays</a></li>
							<li><a tabindex="0">Hair Loss Prevention</a></li>
							<li><a tabindex="0">Others</a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Dental Care  </a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0">Floss</a></li>
							<li><a tabindex="0">Toothbrushes</a></li>
							<li><a tabindex="0">Toothpastes</a></li>
							<li><a tabindex="0">Mouth Washes</a></li>
							<li><a tabindex="0">Others</a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Perfumes  </a>
		            <ul class="dropdown-menu">

							<li><a tabindex="0">Men's Perfumes</a></li>
							<li><a tabindex="0">Women's Perfumes</a></li>
							<li><a tabindex="0">Others</a></li>

					</ul>
				  </li>


				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Shaving Supplies</a>
		            <ul class="dropdown-menu">

						<li><a tabindex="0">Shaving Creams/Gels</a></li>
						<li><a tabindex="0">Trimmers, Shavers</a></li>
						<li><a tabindex="0">Razors/Blades</a></li>
						<li><a tabindex="0">Others</a></li>

					</ul>
				  </li>


			

				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown">Food Supplements </a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0">Dietary Supplements</a></li>
							<li><a tabindex="0">Vitamins/Multivitamins</a></li>
							<li><a tabindex="0">Collagen Supplements</a></li>
							<li><a tabindex="0">Weight Loss</a></li>
							<li><a tabindex="0">Antioxidants</a></li>
							<li><a tabindex="0">Others</a></li>

				</ul>
				  </li>



				   <li class="dropdown-submenu">
		            <a tabindex="0" data-toggle="dropdown"> Health and Beauty Tools </a>
		            <ul class="dropdown-menu">
							<li><a tabindex="0">Makeup Sets</a></li>
							<li><a tabindex="0">Eye Care Accessories</a></li>
							<li><a tabindex="0">Lipsticks/Lip-gloss</a></li>
							<li><a tabindex="0">Hair Care Accessories</a></li>
							<li><a tabindex="0">Others</a></li>

				</ul>
				  </li>





		
		        </ul>
		      </li>  


		      <!-- food and beverage -->
		      
	      	<li class="dropdown" >
		        <a tabindex="0" data-toggle="dropdown" id="menulink">Food & Beverages <span class="caret" ></span></a>



		        <!-- role="menu": fix moved by arrows (Bootstrap dropdown) -->
		        <ul class="dropdown-menu" role="menu">
		     
		           <li><a tabindex="0">All Products on Food & Beverage</a></li>


					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown">Vegetable Products</a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0">Fresh Vegetables</a></li>
											<li><a tabindex="0">Dried Vegetables</a></li>
											<li><a tabindex="0">Canned Vegetables</a></li>
											<li><a tabindex="0">Frozen Vegetables</a></li>
											<li><a tabindex="0">Preserved Vegetables</a></li>
											<li><a tabindex="0">Others</a></li>

										</ul>
					</li>

					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown">Confectionery</a>
							            <ul class="dropdown-menu">

										<li><a tabindex="0">Chocolates</a></li>
										<li><a tabindex="0">Candy</a></li>
										<li><a tabindex="0">Gum</a></li>
										<li><a tabindex="0">Others</a></li>

										</ul>
					</li>

					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown">Baked Goods</a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0">Breads</a></li>
											<li><a tabindex="0">Cakes</a></li>
											<li><a tabindex="0">Cookies</a></li>
											<li><a tabindex="0">Biscuits</a></li>
											<li><a tabindex="0">Others</a></li>

										</ul>
					</li>

					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown">Grain Products</a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0">Cereal</a></li>
											<li><a tabindex="0">Noodles</a></li>
											<li><a tabindex="0">Flours</a></li>
											<li><a tabindex="0">Snack</a></li>
											<li><a tabindex="0">Others</a></li>

										</ul>
					</li>


					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown"> Food Ingredients</a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0">Seasonings/Condiments</a></li>
											<li><a tabindex="0">Others</a></li>

										</ul>
					</li>


					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown">Dairy Products</a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0">Milk</a></li>
											<li><a tabindex="0">Cheese</a></li>
											<li><a tabindex="0">Yogurt</a></li>
											<li><a tabindex="0">Butter</a></li>
											<li><a tabindex="0">Milk Powder</a></li>
											<li><a tabindex="0">Ice Cream</a></li>
											<li><a tabindex="0">Condensed Milk</a></li>
											<li><a tabindex="0">Cream </a></li>
											<li><a tabindex="0">Others</a></li>
										</ul>
					</li>


					<li class="dropdown-submenu">
							            <a tabindex="0" data-toggle="dropdown">Honey Products</a>
							            <ul class="dropdown-menu">

											<li><a tabindex="0">Honey</a></li>
											<li><a tabindex="0">Bee Pollen</a></li>
											<li><a tabindex="0">Bee Wax</a></li>
											<li><a tabindex="0">Royal Jelly</a></li>
											<li><a tabindex="0">Others</a></li>
										</ul>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Meat Products</a>
					</li>





					<li>
							            <a tabindex="0" data-toggle="dropdown">Egg Products</a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Coffee</a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Seafood Products</a>
					</li>

					<li>
							            <a tabindex="0" data-toggle="dropdown">Skin Care</a>
					</li>

					<li>
							            <a tabindex="0" data-toggle="dropdown">Instant Food</a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Canned Food</a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Baby Food</a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Beverage</a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Drinking Water</a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Drinkings</a>
					</li>


					<li>
							            <a tabindex="0" data-toggle="dropdown">Others</a>
					</li>

<!-- 					 <li class="dropdown-submenu pull-left"> <a tabindex="-1" href="#">More options</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
        </ul>
    </li>
 -->


		
		        </ul>
		      </li> 
		     



	    </ul>


	  </div>
	</nav>


<body>

			<%= yield %>




</body>


<footer>
	

	<div id="my_navfooter">

				<div class="col-md-12">
					<div class="col-md-3">
						<p class="fonter_headtitle"><%= t('customer_service') %></p>
						<a class="fonter_menutitle" href="/help">Help topics</a><br/>
						<a class="fonter_menutitle" href="/how_to_buy">How to buy</a><br/>
						<a class="fonter_menutitle" href="/payment">Payment</a><br/>
						<a class="fonter_menutitle" href="/shipment_delivery">Shipping & Delivery</a><br/>
						<a class="fonter_menutitle" href="/contact_us">Contact Us</a><br/>
						<a class="fonter_menutitle" href="/customer_feedback">Customer Feedback</a>
					</div>
					<div class="col-md-3">
						<p class="fonter_headtitle">About eBuy Myanmar</p>
						<a class="fonter_menutitle" href="/about_us">About Us</a><br/>
						<a class="fonter_menutitle" href="/career_opportunity">Career Opportunities</a><br/>
						<a class="fonter_menutitle" href="/termns_and_condition">Terms and Conditions</a><br/>
						<a class="fonter_menutitle" href="/privacy_policy">Privacy Policy</a><br/>
					</div>
					<div class="col-md-3">
						<p class="fonter_headtitle">Tools</p>
						<a class="fonter_menutitle" href="">Join</a><br/>


						<%= link_to image_tag("facebook.png", :border => 0, :alt => '', :title => ''), "https://www.facebook.com/ebuy.myanmar?fref=ts", :class => 'dock-item' %><br/><br/>

					

						<a class="fonter_menutitle" href="">Download the App</a><br/>
						<%= link_to image_tag("googleplay.png", :border => 0, :alt => '', :title => ''), root_path, :class => 'dock-item' %><br/>
					    <%= link_to image_tag("apple_store.png", :border => 0, :alt => '', :title => ''), root_path, :class => 'dock-item' %><br/>


						

					</div>
					<div class="col-md-3">
						<p class="fonter_headtitle">Sell on eBuy Myammar</p>
						<a class="fonter_menutitle" href="">Sell your items</a><br/>
					</div>

				</div>


			</div>

			<div class="col-md-12"><br/>
				<p class="fonter_head2title"> Payment methods </p><br/>
				<%= image_tag("visa-master-mpu.jpg", :id => "payment_logo") %><br/><br/><br/>
			</div>

		
			<div class="col-md-12">
			     <a href=""> wwww.eBuymyanmar.com </a>
			  
			      <span id="copy_right">
			      	Copy right reserved by eBuy Myanmar Co.Ltd.
			      </span>


			     

			</div>


			
</footer>
			
</div>




</html>


<script type="text/javascript">
	
		$('.dropdown-submenu > a').submenupicker();

</script>


