<!DOCTYPE html>
<html>
<head>
  <title>Ebuymyanmar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<!-- header -->
    <nav class="navbar navbar-default" id="mynav">
      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
      <div class="col-md-1"></div>

      <div class="col-md-10">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
   
			<li>

				<a href="#" id="menulink">
				<%= image_tag "sign.png", :alt=>"sign.png" %>
				Sign In &nbsp;|

				</a>
			</li>
			<li>
				<a href="#" id="menulink">
					<%= image_tag "register.png", :alt=>"register" %>
					Register &nbsp;|
				</a>
			</li>
			<li>
				<a href="#" id="menulink">
				<%= image_tag "profile.png", :alt=>"profile" %>
				My Account &nbsp;|</a>
			</li>
		<!--  -->
			<li>
				<a href="#" id="menulink">
				<%= image_tag "mark.png", :alt=>"mark" %>
				Help &nbsp;|</a></li>
			<li>
				<a href="#" id="menulink">
				<%= image_tag "phone.png", :alt=>"phone" %>
				Contact Us &nbsp;|</a>
			</li>
			<li>
				<a href="#" id="menulink">
				<%= image_tag "aboutus.png", :alt=>"aboutus" %>
				About Us &nbsp;|
				</a>
			</li>
			<li><a href="#" id="menulink">
				Language 
				<%= image_tag "english_flag.png", :alt=>"english", :style => "border:1px solid #021a40;"  %>
				<%= image_tag "mm_flag.png", :alt=>"myanmar", :style => "border:1px solid #021a40;" %>
				</a>
			</li>


          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
      <div class="col-md-1"></div>
    </nav>


	<!-- logo headere -->
	<div class="row">
	  <div class="col-md-2">
	  	<%= image_tag "logo.png", :id=>"my_logo", :alt=>"Lucky Bags" %>
	  </div>
	  <div class="col-md-4">
	  		<h1 id="ebuy_title">eBuy Myanmar </h1>
			<p id="ebuy_second"> Company Limited</p>
	  </div>
	  <div class="col-md-6" style="text-align:center;font-size:13px;">

	  		<span >No. 221/59, 1 st /2 nd /3 rd Floor, Shwe Wah Myay Street, Baho Middle Road,</span><br/>
			<span>Mayangone Township,Yangon, Myanmar</span><br/>
			<span>Tel : 09 779825801, 09779825802</span><br/>
			<span>Email : <a href="">service@ebuymyanmar.com </a></span><br/>
			<span>Website : <a href="">www.ebuymyanmar.com </a></span>
	  </div>
	</div>
	<div class="row" id="search_row">
		 <div class="col-md-2"> 
		 </div>
		  <div class="col-md-2">
		  		<span id="website_name">ebuymyanmar.com </span>
				
		  </div>
		  <div class="col-md-6">

		  	<div class="input-group" style="width:500px;">
			      <input type="text" class="form-control" id="exampleInputAmount" placeholder="search for products and brands">
			      <div class="input-group-addon"> search</div>
			</div>

		  </div>
		  <div class="col-md-4"></div>
    </div>




	<!-- menu bar -->

<nav class="navbar navbar-default" id="menu_header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menulink">All Categories  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menulink">Authentic Brand Zone   <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menulink">Women’s Fashion   <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>


         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menulink">Men’s Fashion  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>


         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menulink">Digital & Mobile  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>


         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menulink">Home & Living  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menulink">Health & Beauty  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menulink">Food & Beverage  <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
          </ul>
        </li>




      </ul>
     
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<body>

			<%= yield %>




</body>



			<div id="my_navfooter">

				<div class="col-md-12">
					<div class="col-md-3">
						<p class="fonter_headtitle">Customer service</p>
						<a class="fonter_menutitle" href="">Help topics</a><br/>
						<a class="fonter_menutitle" href="">How to buy</a><br/>
						<a class="fonter_menutitle" href="">Payment</a><br/>
						<a class="fonter_menutitle" href="">Shipping & Delivery</a><br/>
						<a class="fonter_menutitle" href="">Contact Us</a><br/>
						<a class="fonter_menutitle" href="">Customer Feedback</a>
					</div>
					<div class="col-md-3">
						<p class="fonter_headtitle">About Ebuy Myanmar</p>
						<a class="fonter_menutitle" href="">About Us</a><br/>
						<a class="fonter_menutitle" href="">Career Opportunities</a><br/>
						<a class="fonter_menutitle" href="">Terms and Conditions</a><br/>
						<a class="fonter_menutitle" href="">Privacy Policy</a><br/>
					</div>
					<div class="col-md-3">
						<p class="fonter_headtitle">Tools</p>
						<a class="fonter_menutitle" href="">Join</a><br/>


						<%= link_to image_tag("facebook.png", :border => 0, :alt => '', :title => ''), "https://www.facebook.com/ebuy.myanmar?fref=ts", :class => 'dock-item' %><br/><br/>

					

						<a class="fonter_menutitle" href="">Download the App</a><br/>
						<%= link_to image_tag("googleplay.png", :border => 0, :alt => '', :title => ''), root_path, :class => 'dock-item' %><br/>
					    <%= link_to image_tag("apple_store.png", :border => 0, :alt => '', :title => ''), root_path, :class => 'dock-item' %><br/>


						

					</div>
					<div class="col-md-3">
						<p class="fonter_headtitle">Sell on ebuy Myammar</p>
						<a class="fonter_menutitle" href="">How to sell</a><br/>
					</div>

				</div>


			</div>

			<div class="col-md-12"><br/>
				<p class="fonter_head2title"> Payment methods </p><br/>
				<%= image_tag("visa_mastercard_logo", :id => "payment_logo") %><br/><br/><br/>
			</div>

			<div class="col-md-12">
				<p class="view_on_mobie"> View on Mobile
				<%= image_tag("mobile.png") %>
				</p>


				
			</div>
			<div class="col-md-12">
			     <a href=""> wwww.ebuymyanmar.com </a>
			  
			      <span id="copy_right">
			      	Copy right reserved by ebuy Myanmar Co.Ltd.
			      </span>

			</div>

		


</html>
